Repository brklntmhwk/younagi.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix(api): 🐛 revert to the previous prerender style
  src/components/ui/PhotoGallery/PhotoGallery.astro
  src/components/ui/PhotoGallery/PhotoItem.astro
Due: none

fix(api): 🐛 remove server defer directives
  src/pages/[locale]/index.astro
  src/pages/index.astro
Due: none

fix(others): 🐛 fix lint error
  src/components/ui/PhotoGallery/PhotoGallery.astro
Due: none

ci(dev): 🎡 fix unexpected syntax error
  .github/workflows/prod.yml
Due: none

docs(content): 📖 add new article
  src/assets/images/pagefind-filtering-demo.png
  src/content/blog/en/astro-website.mdx
  src/content/blog/en/astro-with-pagefind-filtering-search.mdx
  src/content/blog/ja/astro-website.mdx
  src/content/blog/ja/astro-with-pagefind-filtering-search.mdx
  src/content/tags/en/tags.yml
  src/content/tags/ja/tags.yml
Due: prettier --write

style(ui): 💄 tweak search component
  src/components/common/Search/Search.tsx
Due: eslint --fix, prettier --write

docs(content): 📖 tweak articles and data
  src/content/blog/en/astro-with-pagefind-filtering-search.mdx
  src/content/blog/ja/astro-with-pagefind-filtering-search.mdx
  src/content/i18n/en/translation.yml
  src/content/i18n/ja/translation.yml
Due: prettier --write

docs(content): 📖 make new articles public
  src/content/blog/en/astro-with-pagefind-filtering-search.mdx
  src/content/blog/ja/astro-with-pagefind-filtering-search.mdx
Due: prettier --write

refactor(some): ✨ tweak search style and related articles' content
  src/components/common/Search/Search.tsx
  src/content/blog/en/astro-with-pagefind-filtering-search.mdx
  src/content/blog/ja/astro-with-pagefind-filtering-search.mdx
Due: eslint --fix, prettier --write

docs(content): 📖 replace some pics
  src/assets/images/pagefind-filtering-demo.png
Due: none

chore(config): 🤖 modify settings around env types for Astro 5.x
  src/env.d.ts
  tsconfig.json
Due: eslint --fix, prettier --write

fix(content): 🐛 fix texlint error
  src/content/blog/ja/astro-with-pagefind-filtering-search.mdx
Due: prettier --write

fix(content): 🐛 fix textlint error
  src/content/blog/ja/astro-with-pagefind-filtering-search.mdx
Due: prettier --write

docs(content): 📖 tweak some articles
  src/content/blog/en/astro-with-pagefind-filtering-search.mdx
  src/content/blog/ja/astro-with-pagefind-filtering-search.mdx
Due: prettier --write

docs(content): 📖 add new articles
  src/content/blog/en/upgrade-my-hybrid-website-to-astro-v5.mdx
  src/content/blog/ja/upgrade-my-hybrid-website-to-astro-v5.mdx
  src/layouts/BlogLayout.astro
Due: prettier --write

docs(content): 📖 add new articles
  src/content/blog/en/upgrade-my-hybrid-website-to-astro-v5.mdx
  src/content/blog/ja/upgrade-my-hybrid-website-to-astro-v5.mdx
Due: prettier --write

docs(content): 📖 tweak articles
  src/content/blog/en/astro-with-pagefind-filtering-search.mdx
  src/content/blog/en/upgrade-my-hybrid-website-to-astro-v5.mdx
  src/content/blog/ja/astro-with-pagefind-filtering-search.mdx
  src/content/blog/ja/one-month-with-the-ohnishi-keyboard-layout-a-status-update.mdx
Due: prettier --write

docs(content): 📖 make new articles public
  src/content/blog/en/upgrade-my-hybrid-website-to-astro-v5.mdx
  src/content/blog/ja/upgrade-my-hybrid-website-to-astro-v5.mdx
Due: prettier --write

docs(content): 📖 tweak some articles
  src/content/blog/en/total-newbie-builds-mini-itx-linux-pc.mdx
  src/content/blog/en/upgrade-my-hybrid-website-to-astro-v5.mdx
  src/content/blog/ja/total-newbie-builds-mini-itx-linux-pc.mdx
  src/content/blog/ja/upgrade-my-hybrid-website-to-astro-v5.mdx
Due: prettier --write

fix(ui): 🐛 fix bug around pager display
  src/components/models/Pager/Pager.astro
  src/components/ui/Icon/icons/left-double-arrow.svg
  src/components/ui/Icon/icons/right-double-arrow.svg
  src/components/ui/Icon/types.ts
Due: eslint --fix, prettier --write

docs(content): 📖 tweak new articles
  src/content/blog/en/upgrade-my-hybrid-website-to-astro-v5.mdx
  src/content/blog/ja/upgrade-my-hybrid-website-to-astro-v5.mdx
Due: prettier --write

docs(content): 📖 tweak new articles
  src/content/blog/en/upgrade-my-hybrid-website-to-astro-v5.mdx
Due: prettier --write

feat(ui): 🆕 add giscus
  src/components/models/Article/Article.astro
  src/components/models/Giscus/Giscus.astro
  src/components/models/Giscus/index.ts
  src/layouts/BlogLayout.astro
Due: eslint --fix, prettier --write

feat(ui): 🆕 add Giscus to blog layout
  src/components/models/Giscus/Giscus.astro
  src/layouts/BlogLayout.astro
Due: none

feat(ui): 🆕 add Giscus
  src/components/models/Giscus/Giscus.astro
Due: none

feat(ui): 🆕 add Giscus to blog layout
  src/components/models/Giscus/Giscus.astro
Due: none

fix(ui): 🐛 comment out vars passing from server
  src/components/models/Giscus/Giscus.astro
Due: none

fix(ui): 🐛 remove oembed rich temporarily
  src/components/elements/OEmbed/OEmbed.astro
  src/components/models/Giscus/Giscus.astro
Due: none

fix(ui): 🐛 remove Giscus script temporarily
  src/components/elements/OEmbed/OEmbed.astro
  src/components/models/Giscus/Giscus.astro
Due: none

fix(ui): 🐛 revert Giscus component back to normal
  src/components/models/Giscus/Giscus.astro
Due: none

ci(dev): 🎡 add verbose flag to build
  .github/workflows/dev.yml
  astro.config.ts
Due: eslint --fix, prettier --write

ci(dev): 🎡 tweak dev workflow
  .github/workflows/dev.yml
Due: none

ci(dev): 🎡 remove dev workflow temporarily
  .github/workflows/dev.yml
Due: none

ci(dev): 🎡 revert dev workflow and tweak when to be triggered
  .github/workflows/dev.yml
Due: none

ci(dev): 🎡 modify workflow files
  .github/workflows/ci.yml
  .github/workflows/dev.yml
  .github/workflows/prod.yml
  .tool-versions
  src/components/ui/Icon/types.ts
Due: eslint --fix, prettier --write

ci(dev): tweak dev workflow
  .github/workflows/dev.yml
Due: none

ci(dev): modify Dockerfile and build from scratch
  Dockerfile
  src/components/ui/Icon/types.ts
  src/db/migrations/0001_crazy_doctor_strange.sql
  src/db/migrations/meta/0001_snapshot.json
  src/db/migrations/meta/_journal.json
Due: eslint --fix, prettier --write

ci(dev): re-add .tool-versions with bun 1.2.0 and specify it in workflows
  .github/workflows/ci.yml
  .github/workflows/dev.yml
  .github/workflows/prod.yml
  .tool-versions
  Dockerfile
  src/components/ui/Icon/types.ts
  src/db/migrations/0001_crazy_doctor_strange.sql
  src/db/migrations/meta/0001_snapshot.json
  src/db/migrations/meta/_journal.json
Due: eslint --fix, prettier --write

ci(dev): 🎡 modify docker files and actions workflows
  Dockerfile
  docker-compose.yml
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,css,md,mdx})
