Repository brklntmhwk/younagi.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

removed _routes.json
  _routes.json
Due: prettier --write

removed _routes.json
  wrangler.toml
Due: none

removed _routes.json
  src/pages/[locale]/[slug].astro
Due: none

removed _routes.json
  .github/workflows/deploy.yml
Due: none

github actions for deployment tweaked
  .github/workflows/deploy.yml
Due: none

github actions for deployment tweaked
  wrangler.toml
Due: none

github actions for deployment tweaked
  .github/workflows/deploy.yml
  wrangler.toml
Due: none

cf worker script tweaked
  functions/submitForm.ts
Due: eslint --fix, prettier --write

cf worker script tweaked
  astro.config.ts
Due: eslint --fix, prettier --write

wrangler toml tweaked
  wrangler.toml
Due: none

cf worker api path tweaked
  .github/workflows/deploy.yml
  functions/submitForm.ts
  package.json
  wrangler.toml
Due: eslint --fix, prettier --write

cf worker api path and code tweaked
  functions/submitForm.ts
  src/components/Contact.astro
  wrangler.toml
Due: eslint --fix, prettier --write

cf worker api path and code tweaked
  functions/submitForm.ts
Due: eslint --fix, prettier --write

cf worker api path and code tweaked
  functions/submitForm.ts
  src/components/Contact.astro
Due: eslint --fix, prettier --write

cf worker temporary off
  functions/submitForm.ts
  src/components/Contact.astro
Due: eslint --fix, prettier --write

cf worker temporary off
  .github/workflows/deploy.yml
Due: none

cf worker temporary off
  .gitignore
  functions/submitForm.ts
  src/components/Contact.astro
  wrangler.toml
Due: eslint --fix, prettier --write

cf worker temporary off
  .gitignore
  src/components/Contact.astro
  wrangler.toml
Due: none

cloudflare pages plugin static form tried
  .gitignore
  functions/_middleware.ts
  package.json
  pnpm-lock.yaml
  src/components/Contact.astro
  src/consts/index.ts
  wrangler.toml
Due: eslint --fix, prettier --write

OGImage: x astro-og-canvas --> o by myself
  .gitignore
  astro.config.ts
  functions/_middleware.ts
  package.json
  pnpm-lock.yaml
  src/components/Contact.astro
  src/components/OGImage.tsx
  src/pages/og/[...slug].png.ts
  src/pages/og/[...slug].ts
  tsconfig.json
Due: eslint --fix, prettier --write

OGImage: x astro-og-canvas --> o by myself
  src/assets/fonts/PixelMplus10-Regular.woff
  src/assets/fonts/PixelMplus10-Regular.woff2
  src/components/OGImage.tsx
Due: eslint --fix, prettier --write

OGImage: x astro-og-canvas --> o by myself
  astro.config.ts
  package.json
  pnpm-lock.yaml
  src/components/OgImage/index.tsx
Due: eslint --fix, prettier --write

OGImage: x astro-og-canvas --> o by myself
  src/pages/og/[...slug].png.ts
Due: eslint --fix, prettier --write

OGImage: satori HTML --> Object literal form
  package.json
  pnpm-lock.yaml
  src/components/OgImage/index.tsx
Due: eslint --fix, prettier --write

OGImage: satori HTML <-- Object literal form
  package.json
  pnpm-lock.yaml
  src/components/OgImage/index.tsx
Due: eslint --fix, prettier --write

OGImage: satori HTML <-- Object literal form
  src/pages/og/[...slug].ts
Due: eslint --fix, prettier --write

OGImage: satori HTML <-- Object literal form
  src/pages/og/[...slug].png.ts
Due: eslint --fix, prettier --write

OGImage: satori HTML <-- Object literal form
  src/components/OgImage/index.tsx
  src/layouts/BlogLayout.astro
Due: eslint --fix, prettier --write

site in config /en/ removed
  astro.config.ts
  src/layouts/BlogLayout.astro
Due: eslint --fix, prettier --write

site in config /en/ removed
  src/layouts/BlogLayout.astro
Due: none

trailing slash off
  astro.config.ts
  src/components/Navigation.astro
  src/components/OgImage/index.tsx
  src/components/TaxonomyList.astro
  src/content/news/en/created-my-personal-website.md
  src/content/news/ja/created-my-personal-website.md
  src/layouts/BlogLayout.astro
  src/pages/[locale]/blog/[...page].astro
  src/pages/[locale]/blog/archive/[date]/[...page].astro
  src/pages/[locale]/blog/archive/index.astro
  src/pages/[locale]/blog/categories/[category]/[...page].astro
  src/pages/[locale]/blog/categories/index.astro
  src/pages/[locale]/blog/tags/[tag]/[...page].astro
  src/pages/[locale]/blog/tags/index.astro
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,css,md,mdx})
