Repository brklntmhwk/younagi.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

form tweaked and db set up
  .wrangler/state/v3/d1/miniflare-D1DatabaseObject/c1916cea0a616034661a643af690f1cb7d0c860517289e554741eaf4df59bd2e.sqlite
  .wrangler/state/v3/d1/miniflare-D1DatabaseObject/c1916cea0a616034661a643af690f1cb7d0c860517289e554741eaf4df59bd2e.sqlite-shm
  .wrangler/state/v3/d1/miniflare-D1DatabaseObject/c1916cea0a616034661a643af690f1cb7d0c860517289e554741eaf4df59bd2e.sqlite-wal
  drizzle.config.ts
  package.json
  pnpm-lock.yaml
  src/components/Contact.astro
  src/components/Loading.astro
  src/db/migrations/0000_flaky_scourge.sql
  src/db/migrations/meta/0000_snapshot.json
  src/db/migrations/meta/_journal.json
  src/db/schema/index.ts
  src/db/schema/likes.ts
  src/layouts/BaseLayout.astro
  src/pages/[locale]/api/form.ts
  worker-configuration.d.ts
  wrangler.toml
Due: eslint --fix, prettier --write

form tweaked and db set up
  .gitignore
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  .wrangler/state/v3/d1/miniflare-D1DatabaseObject/c1916cea0a616034661a643af690f1cb7d0c860517289e554741eaf4df59bd2e.sqlite
  .wrangler/state/v3/d1/miniflare-D1DatabaseObject/c1916cea0a616034661a643af690f1cb7d0c860517289e554741eaf4df59bd2e.sqlite-shm
  .wrangler/state/v3/d1/miniflare-D1DatabaseObject/c1916cea0a616034661a643af690f1cb7d0c860517289e554741eaf4df59bd2e.sqlite-wal
  package.json
  wrangler.toml
Due: prettier --write

form tweaked and db set up
  src/components/Contact.astro
Due: none

form validation logic revisited
  src/components/Contact.astro
Due: none

layout tweaked
  src/components/BlogList.astro
  src/components/Contact.astro
  src/components/TaxonomyList.astro
  src/layouts/BaseLayout.astro
Due: none

likes db settings almost done
  astro.config.ts
  drizzle.config.ts
  package.json
  pnpm-lock.yaml
  src/Icon/Icon.module.css
  src/Icon/Icon.tsx
  src/Icon/index.ts
  src/components/OgImage/index.tsx
  src/components/Svg/icons/hand-heart-filled.svg
  src/components/Svg/icons/hand-heart.svg
  src/components/islands/Likes.tsx
  src/db/migrate.ts
  src/db/migrations/0000_curly_the_fallen.sql
  src/db/migrations/0000_flaky_scourge.sql
  src/db/migrations/meta/0000_snapshot.json
  src/db/migrations/meta/_journal.json
  src/db/schema/likes.ts
  src/layouts/BlogLayout.astro
  src/pages/api/likes.ts
  tsconfig.json
  worker-configuration.d.ts
Due: eslint --fix, prettier --write

likes style tweaked
  src/components/islands/Likes.tsx
  src/layouts/BlogLayout.astro
Due: eslint --fix, prettier --write

likes and CI/CD tweaked
  .github/workflows/deploy.yml
  .gitignore
  src/components/BuyMeACoffee.astro
  src/components/islands/Likes.tsx
  src/content/config.ts
  src/content/i18n/en/translation.yml
  src/content/i18n/ja/translation.yml
  src/layouts/BlogLayout.astro
  src/pages/[locale]/api/likes.ts
  wrangler.toml
Due: eslint --fix, prettier --write

likes and CI/CD tweaked
  src/components/islands/Likes.tsx
Due: eslint --fix, prettier --write

drizzle config tweaked
  .github/workflows/deploy.yml
  drizzle.config.ts
Due: eslint --fix, prettier --write

drizzle config tweaked
  src/components/islands/Likes.tsx
Due: eslint --fix, prettier --write

drizzle config tweaked
  .github/workflows/deploy.yml
Due: none

drizzle config tweaked
  src/pages/[locale]/api/likes.ts
Due: eslint --fix, prettier --write

ogimage notation changed and likes tweaked
  .github/workflows/deploy.yml
  src/components/OgImage/index.tsx
  src/components/islands/Likes.tsx
  src/db/migrate.ts
  src/pages/[locale]/api/likes.ts
  worker-configuration.d.ts
Due: eslint --fix, prettier --write

import meta env conditionals removed
  src/components/islands/Likes.tsx
  src/pages/api/form.ts
  wrangler.toml
Due: eslint --fix, prettier --write

likes tweaked
  src/components/islands/Favorite/Favorite.module.css
  src/components/islands/Favorite/Favorite.tsx
  src/components/islands/Favorite/index.ts
  src/layouts/BlogLayout.astro
Due: eslint --fix, prettier --write

vanilla extract css try
  astro.config.ts
  package.json
  pnpm-lock.yaml
  src/components/islands/Favorite/Favorite.module.css
  src/components/islands/Favorite/Favorite.tsx
  src/components/islands/Favorite/index.ts
  src/components/islands/Likes.tsx
  src/layouts/BlogLayout.astro
  src/styles/styles.css.ts
Due: eslint --fix, prettier --write

vanilla extract css try
  src/components/islands/Likes.tsx
  src/styles/styles.css.ts
Due: eslint --fix, prettier --write

vanilla extract css tweaked (Likes)
  package.json
  pnpm-lock.yaml
  src/components/islands/Likes.tsx
  src/styles/styles.css.ts
Due: eslint --fix, prettier --write

contact form solidjs ver created (not complete though)
  package.json
  pnpm-lock.yaml
  src/components/islands/Contact.tsx
Due: eslint --fix, prettier --write

contact form solidjs ver tweaked
  astro.config.ts
  package.json
  pnpm-lock.yaml
  src/components/FormattedDate.astro
  src/components/Loading.astro
  src/components/ThemeToggle.astro
  src/components/islands/Contact.tsx
  src/components/islands/Likes.tsx
  src/components/islands/LocaleStore.tsx
  src/components/islands/Turnstile.tsx
  src/content/blog/en/astro-website.mdx
  src/content/blog/ja/astro-website.mdx
  src/env.d.ts
  src/layouts/BaseLayout.astro
  src/layouts/BlogLayout.astro
  src/pages/[locale]/api/form.ts
  src/pages/api/og/[...slug].png.ts
  src/stores/localeStore.ts
  src/styles/styles.css.ts
  src/utils/formatDate.ts
  src/utils/getTimeDiff.ts
  src/utils/i18n/data.ts
  src/utils/i18n/getLocaleFromUrl.ts
  src/utils/i18n/getTargetLocalSlug.ts
  src/utils/i18n/useTranslatedPath.ts
  src/vite-env.d.ts
Due: eslint --fix, prettier --write

react packages reinstalled
  astro.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

react packages reinstalled
  astro.config.ts
  src/components/OgImage/index.tsx
Due: eslint --fix, prettier --write

react packages reinstalled
  src/components/OgImage/index.tsx
Due: eslint --fix, prettier --write

react packages reinstalled
  astro.config.ts
  src/components/OgImage/index.tsx
  tsconfig.json
Due: eslint --fix, prettier --write

react packages removed and OGImage tweaked (HTML --> Object literal)
  astro.config.ts
  package.json
  pnpm-lock.yaml
  src/components/OgImage/index.tsx
Due: eslint --fix, prettier --write

contact page tweaked
  src/content/page/en/contact.mdx
  src/content/page/ja/contact.mdx
Due: prettier --write

turnstile site key fixed and the date diff util improved
  .github/workflows/deploy.yml
  src/pages/[locale]/[slug].astro
  src/pages/[slug].astro
  src/utils/getTimeDiff.ts
Due: eslint --fix, prettier --write

turnstile site key fixed and the date diff util improved
  .github/workflows/deploy.yml
Due: none

turnstile site key fixed and the date diff util improved
  src/components/OgImage/index.tsx
  src/components/islands/ContactForm.tsx
  src/pages/api/og/[...slug].png.ts
Due: eslint --fix, prettier --write

likes component animation added
  astro.config.ts
  package.json
  pnpm-lock.yaml
  src/components/Contact.astro
  src/components/islands/ContactForm.tsx
  src/components/islands/Likes.tsx
  src/content/i18n/en/translation.yml
  src/content/i18n/ja/translation.yml
  src/layouts/ContactLayout.astro
  src/styles/styles.css.ts
Due: eslint --fix, prettier --write

likes component animation added
  src/styles/styles.css.ts
Due: eslint --fix, prettier --write

likes component animation added
  src/components/islands/Likes.tsx
  src/styles/styles.css.ts
Due: eslint --fix, prettier --write

contact form tsx --> astro
  src/components/Contact.astro
  src/pages/[locale]/api/form.ts
  src/pages/api/form.ts
Due: eslint --fix, prettier --write

metadata tweaked
  src/pages/[locale]/blog/archive/[date]/[...page].astro
  src/pages/[locale]/blog/categories/[category]/[...page].astro
  src/pages/[locale]/blog/tags/[tag]/[...page].astro
  src/pages/blog/archive/[date]/[...page].astro
  src/pages/blog/categories/[category]/[...page].astro
  src/pages/blog/tags/[tag]/[...page].astro
Due: none

likes & contact tweaked
  src/components/Contact.astro
  src/components/islands/Likes.tsx
  src/components/islands/Turnstile.tsx
  src/consts/index.ts
  src/content/i18n/en/translation.yml
  src/styles/styles.css.ts
Due: eslint --fix, prettier --write

likes & contact tweaked
  src/components/Contact.astro
Due: none

tweaked overall
  .eslintrc.yml
  src/components/BaseHead.astro
  src/components/BuyMeACoffee.astro
  src/components/Contact.astro
  src/components/Footer.astro
  src/components/LocalePicker.astro
  src/components/Search.astro
  src/components/Toc.astro
  src/components/elements/Image.astro
  src/components/islands/Turnstile.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,css,md,mdx})
