Repository brklntmhwk/younagi.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

refactor(api): ✨ replace Brevo mail sender with CF worker
  functions/api/email.ts
  functions/tsconfig.json
  src/pages/[locale]/api/form.ts
  src/pages/api/form.ts
  tsconfig.json
  worker-configuration.d.ts
  wrangler.toml
Due: eslint --fix, prettier --write

refactor(config): ✨ tweak wrangler.toml
  wrangler.toml
Due: none

fix(api): 🐛 modify 404 res error occurred around email api
  functions/api/email.ts
  src/pages/[locale]/api/form.ts
  src/pages/api/form.ts
Due: eslint --fix, prettier --write

revert(api): 🔙 revert changes made around form mail functionality
  functions/tsconfig.json
  src/functions/api/email.ts
  src/functions/tsconfig.json
  src/pages/[locale]/api/form.ts
  src/pages/api/form.ts
Due: eslint --fix, prettier --write

revert(api): 🔙 revert changes made around contact form email
  .gitignore
  src/functions/api/email.ts
  src/functions/tsconfig.json
  src/pages/[locale]/api/form.ts
  src/pages/api/form.ts
  tsconfig.json
  worker-configuration.d.ts
  wrangler.toml
Due: eslint --fix, prettier --write

chore(docker): 🤖 remove the volume for the whole project
  .dockerignore
  .husky/_/pre-commit
  .husky/_/prepare-commit-msg
  bun.lockb
  docker-compose.yml
  package.json
  src/components/Icon/types.ts
Due: eslint --fix, prettier --write

chore(dev): 🤖 tweak scopes of conventional commits
  .vscode/extensions.json
  .vscode/launch.json
  changelog.config.cjs
Due: prettier --write

refactor(api): ✨ replace brevo with nodemailer
  bun.lockb
  package.json
  src/lib/consts/index.ts
  src/pages/[locale]/api/form.ts
  src/pages/api/form.ts
  worker-configuration.d.ts
Due: eslint --fix, prettier --write

fix(config): 🐛 add node.js built-in libs to the ssr.external option
  astro.config.ts
Due: eslint --fix, prettier --write

refactor(api): ✨ replace Brevo with Resend (mailing API)
  astro.config.ts
  bun.lockb
  package.json
  src/pages/[locale]/api/form.ts
  src/pages/api/form.ts
  worker-configuration.d.ts
Due: eslint --fix, prettier --write

refactor(api): ✨ replace Brevo with Resend (mailing API)
  src/pages/[locale]/api/form.ts
  src/pages/api/form.ts
Due: eslint --fix, prettier --write

commit
  .devcontainer/postCreateCommand.sh
  Dockerfile
Due: none

chore(docker): 🤖 remove docker compose
  .devcontainer/devcontainer.json
  .devcontainer/postCreateCommand.sh
  Dockerfile
  docker-compose.yml
Due: prettier --write

package(deps): 📦 reinstall bun lockfile
  bun.lockb
Due: none

refactor(api): ✨ tweak form api
  src/pages/api/form.ts
Due: eslint --fix, prettier --write

refactor(api): ✨ replace Brevo with Resend
  .devcontainer/postCreateCommand.sh
  Dockerfile
  bun.lockb
  docker-compose.yml
  drizzle.config.ts
  package.json
  src/pages/[locale]/api/form.ts
  src/pages/api/form.ts
  worker-configuration.d.ts
Due: eslint --fix, prettier --write

chore(none): 🤖 introduce Danger and do accompanying tweaks
  .github/workflows/danger.yml
  .github/workflows/dev.yml
  bun.lockb
  changelog.config.cjs
  dangerfile.ts
  package.json
Due: eslint --fix, prettier --write

docs(contents): 📖 add Danger to all tech stack descriptions in docs
  .vscode/settings.json
  README.md
  src/content/blog/en/astro-website.mdx
  src/content/blog/ja/astro-website.mdx
Due: prettier --write

docs(none): 📖 add "The Dev Workflow" part to README
  README.md
Due: prettier --write

docs(none): 📖 tweak the dev workflow section in readme
  README.md
Due: prettier --write

docs(none): 📖 add the setup for coding section to readme
  .dev.vars.example
  .env.example
  README.md
Due: prettier --write

docs(none): 📖 tweak the setup for coding section and other parts in readme
  README.md
Due: prettier --write

docs(none): 📖 tweak the setup for coding section
  README.md
Due: prettier --write

Create an issue template
  .github/ISSUE_TEMPLATE/issue-template.md
Due: prettier --write

chore(docker): 🤖 add db setup to dockerfile
  Dockerfile
Due: none

docs(none): 📖 add LICENSE
  LICENSE
Due: none

docs(none): 📖 add and tweak templates for issues and pull requests
  .github/ISSUE_TEMPLATE/01_basic.md
  .github/ISSUE_TEMPLATE/02_content.md
  .github/ISSUE_TEMPLATE/issue-template.md
  .github/PULL_REQUEST_TEMPLATE/01_basic.md
Due: prettier --write

docs(none): 📖 add and tweak templates for issues and pull requests
  .github/ISSUE_TEMPLATE/03_tweak.md
  .github/PULL_REQUEST_TEMPLATE/02_content.md
  .github/PULL_REQUEST_TEMPLATE/03_tweak.md
Due: prettier --write

docs(none): 📖 tweak the frontmatter item "about" in issue templates
  .github/ISSUE_TEMPLATE/01_basic.md
  .github/ISSUE_TEMPLATE/02_content.md
Due: prettier --write

refactor(none): ✨ tweak tsconfig, issue templates and devcontainer.json
  .devcontainer/devcontainer.json
  .github/ISSUE_TEMPLATE/03_tweak.md
  tsconfig.json
Due: prettier --write

docs(none): 📖 add a license section to readme
  README.md
Due: prettier --write

ci(none): 🎡 add permissions to the GA workflow for Danger PR checking
  .github/workflows/danger.yml
Due: none

refactor(config): ✨ tweak break lines
  changelog.config.cjs
  dangerfile.ts
Due: eslint --fix, prettier --write

refactor(overall): ✨ format overall code
  .devcontainer/devcontainer.json
  astro.config.ts
  changelog.config.cjs
  dangerfile.ts
  drizzle.config.ts
  frontmatter.json
  package.json
  tsconfig.json
  worker-configuration.d.ts
Due: eslint --fix, prettier --write

refactor(api): ✨ remove consts dir
  src/content/page/ja/about.mdx
  src/lib/consts.ts
Due: eslint --fix, prettier --write

refactor(config): ✨ tweak danger error messages
  dangerfile.ts
Due: eslint --fix, prettier --write

docs(none): 📖 tweak the dev workflow
  README.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,css,md,mdx})
