Repository brklntmhwk/younagi.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

the whole layout tweaked
  src/components/Footer.astro
  src/components/Navigation.astro
  src/layouts/BaseLayout.astro
  src/pages/index.astro
  src/styles/global.css
Due: prettier --write

the whole layout tweaked
  public/brick-wall3.jpg
  src/components/Navigation.astro
  src/components/Svg/icons/github.svg
  src/components/Svg/icons/hamburger.svg
  src/components/Svg/icons/left-arrow.svg
  src/components/Svg/icons/right-arrow.svg
  src/pages/[slug].astro
  src/pages/blog/[...page].astro
  src/pages/index.astro
  src/styles/global.css
Due: prettier --write

Pager & Navigation layout tweaked
  src/components/Navigation.astro
  src/components/Pager.astro
  src/styles/global.css
Due: prettier --write

Pager layout and date format tweaked
  src/components/Navigation.astro
  src/components/Pager.astro
  src/pages/blog/[...page].astro
Due: none

Blog entries page design tweaked
  src/components/Svg/icons/publish.svg
  src/components/Svg/icons/update.svg
  src/pages/blog/[...page].astro
Due: none

Search component created and tweaked
  .vscode/settings.json
  package.json
  src/components/Navigation.astro
  src/components/Search.astro
  src/components/Svg/icons/magnifier.svg
  src/env.d.ts
  src/pages/blog/[...page].astro
  yarn.lock
Due: eslint --fix, prettier --write

Hamburger.astro created. Navigation.astro and Search.astro tweaked
  src/components/FormattedDate.astro
  src/components/Hamburger.astro
  src/components/Navigation.astro
  src/components/Search.astro
  src/components/Svg/icons/site-logo.svg
  src/components/Svg/icons/twitter.svg
  src/env.d.ts
  src/pages/blog/[...page].astro
  src/pages/index.astro
  src/styles/global.css
Due: eslint --fix, prettier --write

Hamburger.astro and Navigation.astro tweaked
  src/components/Hamburger.astro
  src/components/Navigation.astro
  src/components/Search.astro
  src/pages/index.astro
  src/styles/global.css
Due: prettier --write

Hamburger.astro and Navigation.astro tweaked
  src/components/Hamburger.astro
  src/components/Navigation.astro
Due: none

fixed the style of Search, Navigation and Hamburger. Created AboutLayout
  src/components/Hamburger.astro
  src/components/Header.astro
  src/components/NavLink.astro
  src/components/Navigation.astro
  src/components/Pager.astro
  src/components/Search.astro
  src/content/blog/using-mdx.mdx
  src/content/page/about.mdx
  src/layouts/AboutLayout.astro
  src/layouts/BaseLayout.astro
  src/lib/consts.ts
  src/pages/[slug].astro
  src/pages/blog/[...page].astro
  src/styles/global.css
Due: eslint --fix, prettier --write

npmrc deleted. the whole layout tweaked.
  .github/workflows/deploy.yml
  src/components/Navigation.astro
  src/components/Search.astro
  src/styles/global.css
Due: prettier --write

Generalized Pager more so it can be used in taxonomy contexts too
  .npmrc
  src/components/BaseHead.astro
  src/components/BlogList.astro
  src/components/Footer.astro
  src/components/Navigation.astro
  src/components/Pager.astro
  src/content/blog/aaa.md
  src/content/blog/bbb.md
  src/content/blog/ccc.md
  src/content/blog/ddd.md
  src/content/blog/eee.md
  src/content/blog/fff.md
  src/content/blog/first-post.md
  src/content/blog/ggg.md
  src/content/blog/hhh.md
  src/content/blog/iii.md
  src/content/blog/markdown-style-guide.md
  src/content/blog/second-post.md
  src/content/blog/third-post.md
  src/content/blog/using-mdx.mdx
  src/content/config.ts
  src/content/meta/site-data.yml
  src/layouts/AboutLayout.astro
  src/layouts/BaseLayout.astro
  src/layouts/BlogLayout.astro
  src/pages/blog/categories/[category]/[...page].astro
  src/pages/blog/categories/index.astro
  src/pages/blog/tags/[tag]/[...page].astro
  src/pages/blog/tags/index.astro
  src/styles/global.css
Due: eslint --fix, prettier --write

Taxonomy pages tweaked
  src/components/Svg/index.astro
  src/content/blog/aaa.md
  src/layouts/BlogLayout.astro
  src/lib/consts.ts
  src/pages/404.astro
  src/pages/blog/[...page].astro
  src/pages/blog/categories/[category]/[...page].astro
  src/pages/blog/tags/[tag]/[...page].astro
  src/pages/blog/tags/index.astro
Due: eslint --fix, prettier --write

main font chenged to PixelMplus family
  public/fonts/DotGothic16-Regular.woff
  public/fonts/PixelMplus10-Regular.woff2
  public/fonts/PixelMplus12-Regular.woff2
  src/components/BlogList.astro
  src/components/Search.astro
  src/layouts/AboutLayout.astro
  src/pages/index.astro
  src/styles/global.css
Due: prettier --write

main font chenged to PixelMplus family
  public/fonts/PixelMplus10-Bold.woff2
  public/fonts/PixelMplus12-Bold.woff2
  src/styles/global.css
Due: prettier --write

main font chenged to PixelMplus family
  src/components/Navigation.astro
  src/pages/index.astro
Due: none

added some vendor prefixes
  src/components/Search.astro
Due: none

added some vendor prefixes
  src/pages/index.astro
Due: none

svg icons replaced with those of pixelarticon & nav menu tweaked
  src/components/BlogList.astro
  src/components/NavLink.astro
  src/components/Navigation.astro
  src/components/Pager.astro
  src/components/Svg/icons/chevron-left.svg
  src/components/Svg/icons/chevron-right.svg
  src/components/Svg/icons/magnifier.svg
  src/components/Svg/icons/play.svg
  src/components/Svg/icons/upload.svg
  src/content/blog/aaa.md
  src/layouts/BlogLayout.astro
  src/pages/404.astro
  src/pages/blog/categories/[category]/[...page].astro
  src/pages/blog/categories/index.astro
  src/pages/blog/tags/[tag]/[...page].astro
  src/pages/blog/tags/index.astro
  src/pages/index.astro
  src/styles/global.css
Due: prettier --write

Footer tweaked
  src/components/BlogList.astro
  src/components/Footer.astro
  src/components/Hamburger.astro
  src/components/Navigation.astro
  src/components/Svg/icons/logo.svg
  src/layouts/BaseLayout.astro
  src/pages/404.astro
  src/pages/index.astro
Due: none

the mismatched URL problem of the Pager component resolved (trailing slashes added)
  astro.config.ts
  public/fonts/DotGothic16-Regular.woff
  public/fonts/TiltNeon-Regular.woff
  public/fonts/atkinson-bold.woff
  public/fonts/atkinson-regular.woff
  src/components/BaseHead.astro
  src/components/BlogList.astro
  src/components/Footer.astro
  src/components/Navigation.astro
  src/components/Pager.astro
  src/layouts/BlogLayout.astro
  src/pages/blog/[...page].astro
  src/pages/blog/categories/index.astro
  src/pages/blog/tags/index.astro
Due: eslint --fix, prettier --write

pager bug fixed
  src/components/Pager.astro
Due: none

the nav layout tweaked so the search component can be only one for every media query
  src/components/Navigation.astro
Due: none

Search modal tweaked
  public/border-image.gif
  public/fonts/DotGothic16-Regular.woff2
  src/components/Navigation.astro
  src/components/Search.astro
  src/layouts/AboutLayout.astro
  src/layouts/BaseLayout.astro
  src/styles/global.css
Due: prettier --write

font settings and taxonomy list pages tweaked
  src/components/BaseHead.astro
  src/components/Navigation.astro
  src/components/Search.astro
  src/layouts/AboutLayout.astro
  src/layouts/BaseLayout.astro
  src/pages/blog/categories/index.astro
  src/pages/blog/tags/index.astro
  src/styles/global.css
Due: prettier --write

mobile nav animation changed from left prop to transformX
  src/components/Hamburger.astro
  src/components/Navigation.astro
Due: none

mobile nav animation changed from left prop to transformX
  src/components/NavMenuContainer.astro
  src/components/Navigation.astro
Due: none

Google Fonts optimized
  src/components/BaseHead.astro
  src/components/NavMenuContainer.astro
  src/components/Search.astro
  src/styles/global.css
Due: prettier --write

TaxonomyList component created for refactoring
  src/components/NavMenuContainer.astro
  src/components/Search.astro
  src/components/TaxonomyList.astro
  src/pages/blog/categories/index.astro
  src/pages/blog/tags/index.astro
Due: none

back to top link added to taxonomy pages
  src/components/TaxonomyList.astro
  src/layouts/BlogLayout.astro
  src/pages/blog/categories/[category]/[...page].astro
  src/pages/blog/categories/index.astro
  src/pages/blog/tags/[tag]/[...page].astro
  src/pages/blog/tags/index.astro
Due: none

View Transitions added
  src/components/BaseHead.astro
  src/components/Search.astro
  src/pages/index.astro
Due: none

fonts preloading disabled temporarily
  src/components/BaseHead.astro
Due: none

fonts preloading disabled temporarily
  src/components/Navigation.astro
Due: none

archive pages created
  src/components/BaseHead.astro
  src/components/NavMenuContainer.astro
  src/components/TaxonomyList.astro
  src/content/blog/eee.md
  src/content/blog/third-post.md
  src/content/blog/using-mdx.mdx
  src/content/config.ts
  src/content/meta/site-data.yml
  src/pages/blog/[...page].astro
  src/pages/blog/archive/[date]/[...page].astro
  src/pages/blog/archive/index.astro
Due: eslint --fix, prettier --write

utils dir created, archive date formatting refactored
  src/components/Pager.astro
  src/consts/index.ts
  src/pages/blog/[...page].astro
  src/pages/blog/archive/[date]/[...page].astro
  src/pages/blog/archive/index.astro
  src/pages/blog/categories/[category]/[...page].astro
  src/pages/blog/tags/[tag]/[...page].astro
  src/styles/global.css
  src/utils/formatArchiveDate.ts
Due: eslint --fix, prettier --write

blog list border like pokemon
  astro.config.ts
  frontmatter.json
  src/components/BlogList.astro
Due: eslint --fix, prettier --write

internationalization(i18n)
  src/components/BlogList.astro
  src/components/LocalePicker.astro
  src/components/NavLink.astro
  src/components/Navigation.astro
  src/components/Pager.astro
  src/components/Search.astro
  src/components/Svg/icons/alphabet.svg
  src/components/TaxonomyList.astro
  src/content/blog/ja/aaa.md
  src/content/blog/ja/bbb.md
  src/content/blog/ja/ccc.md
  src/content/blog/ja/ddd.md
  src/content/blog/ja/eee.md
  src/content/blog/ja/fff.md
  src/content/blog/ja/first-post.md
  src/content/blog/ja/ggg.md
  src/content/blog/ja/hhh.md
  src/content/blog/ja/iii.md
  src/content/blog/ja/markdown-style-guide.md
  src/content/blog/ja/second-post.md
  src/content/blog/ja/third-post.md
  src/content/blog/ja/using-mdx.mdx
  src/i18n/ui.ts
  src/layouts/AboutLayout.astro
  src/layouts/BlogLayout.astro
  src/pages/[locale]/blog/[...page].astro
  src/pages/[locale]/blog/[slug].astro
  src/pages/[locale]/blog/archive/[date]/[...page].astro
  src/pages/[locale]/blog/archive/index.astro
  src/pages/[locale]/blog/categories/[category]/[...page].astro
  src/pages/[locale]/blog/categories/index.astro
  src/pages/[locale]/blog/tags/[tag]/[...page].astro
  src/pages/[locale]/blog/tags/index.astro
  src/pages/[locale]/index.astro
Due: eslint --fix, prettier --write

internationalization(i18n)
  src/content/blog/en/using-mdx.mdx
  src/content/blog/ja/using-mdx.mdx
Due: prettier --write

overall layout tweaked
  src/components/BlogList.astro
  src/components/LocalePicker.astro
  src/components/Navigation.astro
  src/components/Pager.astro
  src/components/TaxonomyList.astro
  src/pages/[locale]/blog/tags/index.astro
  src/pages/[locale]/index.astro
  src/pages/index.astro
  src/styles/global.css
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,css,md,mdx})
