Repository brklntmhwk/younagi.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.yml:

'*.{js,jsx,ts,tsx}':
  - eslint --fix
  - prettier --write
  - git add
'*.{json,css,md,mdx}':
  - prettier --write
  - git add

internationalization(i18n): i18n data collection(.yml), translation strings, lang metadata in BaseHead.astro
  src/components/BaseHead.astro
  src/components/BlogList.astro
  src/components/LocalePicker.astro
  src/components/Navigation.astro
  src/components/Search.astro
  src/content/config.ts
  src/content/i18n/en/translation.yml
  src/content/i18n/ja/translation.yml
  src/content/meta/site-data.yml
  src/layouts/AboutLayout.astro
  src/pages/[locale]/blog/[...page].astro
  src/pages/[locale]/blog/archive/[date]/[...page].astro
  src/pages/[locale]/blog/archive/index.astro
  src/pages/[locale]/blog/categories/[category]/[...page].astro
  src/pages/[locale]/blog/categories/index.astro
  src/pages/[locale]/blog/tags/[tag]/[...page].astro
  src/pages/[locale]/blog/tags/index.astro
  src/pages/index.astro
Due: eslint --fix, prettier --write

rss feed tweaked according to internationalization
  src/pages/rss.xml.ts
Due: eslint --fix, prettier --write

rss feed tweaked according to internationalization
  src/components/Navigation.astro
  src/content/config.ts
  src/content/i18n/en/translation.yml
  src/content/i18n/ja/translation.yml
  src/i18n/ui.ts
  src/i18n/utils.ts
  src/layouts/AboutLayout.astro
  src/pages/404.astro
  src/pages/rss.xml.ts
Due: eslint --fix, prettier --write

font prefetch tweaked (inside the head tag)
  src/components/BaseHead.astro
  src/content/blog/ja/bbb.md
  src/pages/[locale]/blog/archive/index.astro
  src/pages/rss.xml.ts
  src/styles/global.css
Due: eslint --fix, prettier --write

font prefetch tweaked (inside the head tag)
  src/components/Pager.astro
Due: none

accessibility for Pager.astro
  src/components/Pager.astro
  src/content/config.ts
  src/content/i18n/en/translation.yml
  src/content/i18n/ja/translation.yml
Due: eslint --fix, prettier --write

a tag link color tweaked
  src/components/BlogList.astro
  src/components/Footer.astro
  src/components/Navigation.astro
  src/components/Pager.astro
  src/components/TaxonomyList.astro
  src/content/config.ts
  src/content/i18n/en/translation.yml
  src/content/i18n/ja/translation.yml
  src/styles/global.css
Due: eslint --fix, prettier --write

css vars modified
  src/components/BlogList.astro
  src/components/Navigation.astro
  src/components/Pager.astro
  src/components/TaxonomyList.astro
  src/layouts/BlogLayout.astro
  src/pages/[locale]/blog/[...page].astro
  src/pages/[locale]/blog/archive/[date]/[...page].astro
  src/pages/[locale]/blog/archive/index.astro
  src/pages/[locale]/blog/categories/[category]/[...page].astro
  src/pages/[locale]/blog/categories/index.astro
  src/pages/[locale]/blog/tags/[tag]/[...page].astro
  src/pages/[locale]/blog/tags/index.astro
  src/styles/global.css
Due: prettier --write

font sizes of headings tweaked
  .vscode/settings.json
  src/styles/global.css
Due: prettier --write

font sizes of headings tweaked
  src/styles/global.css
Due: prettier --write

markdown styling(rehype & remark) related settings tweaked
  .vscode/settings.json
  astro.config.ts
  src/content/blog/en/first-entry.mdx
  src/content/blog/ja/first-entry.mdx
  src/styles/global.css
Due: eslint --fix, prettier --write

Toc component created and placed
  astro.config.ts
  package.json
  src/components/Svg/icons/toc.svg
  src/components/Toc.astro
  src/components/elements/Figure.astro
  src/components/elements/Image.astro
  src/consts/index.ts
  src/content/blog/en/first-entry.mdx
  src/content/config.ts
  src/content/i18n/en/translation.yml
  src/content/i18n/ja/translation.yml
  src/layouts/BlogLayout.astro
  src/pages/[locale]/blog/[slug].astro
  yarn.lock
Due: eslint --fix, prettier --write

DotGothic preload
  src/components/BaseHead.astro
Due: none

Toc layout modified
  src/components/Toc.astro
  src/content/blog/en/markdown-style-guide.md
  src/content/blog/ja/first-entry.mdx
  src/layouts/BlogLayout.astro
Due: prettier --write

lightningcss added
  .vscode/settings.json
  astro.config.ts
  package.json
  src/components/elements/Code.astro
  src/components/elements/Figure.astro
  yarn.lock
Due: eslint --fix, prettier --write

lightningcss added
  astro.config.ts
Due: eslint --fix, prettier --write

md code block styling
  astro.config.ts
  package.json
  src/components/elements/Code.astro
  src/components/elements/Figure.astro
  src/components/elements/Image.astro
  src/content/blog/en/aaa.mdx
  src/content/blog/en/bbb.mdx
  src/content/blog/en/ccc.mdx
  src/content/blog/en/ddd.mdx
  src/content/blog/en/eee.mdx
  src/content/blog/en/fff.mdx
  src/content/blog/en/first-entry.mdx
  src/content/blog/en/first-post.mdx
  src/content/blog/en/ggg.mdx
  src/content/blog/en/hhh.mdx
  src/content/blog/en/iii.mdx
  src/content/blog/en/markdown-style-guide.mdx
  src/content/blog/en/second-post.mdx
  src/content/blog/en/third-post.mdx
  src/content/blog/ja/aaa.mdx
  src/content/blog/ja/bbb.mdx
  src/content/blog/ja/ccc.mdx
  src/content/blog/ja/ddd.mdx
  src/content/blog/ja/eee.mdx
  src/content/blog/ja/fff.mdx
  src/content/blog/ja/first-post.mdx
  src/content/blog/ja/ggg.mdx
  src/content/blog/ja/hhh.mdx
  src/content/blog/ja/iii.mdx
  src/content/blog/ja/markdown-style-guide.mdx
  src/content/blog/ja/second-post.mdx
  src/content/blog/ja/third-post.mdx
  src/layouts/BlogLayout.astro
  src/pages/[locale]/blog/[slug].astro
  yarn.lock
Due: eslint --fix, prettier --write

md code block styling
  astro.config.ts
  src/components/elements/Code.astro
  src/content/blog/en/markdown-style-guide.mdx
  src/layouts/BaseLayout.astro
  src/layouts/BlogLayout.astro
  src/styles/global.css
Due: eslint --fix, prettier --write

style tweaked overall
  .vscode/settings.json
  astro.config.ts
  package.json
  src/components/NavMenuContainer.astro
  src/components/Navigation.astro
  src/components/Search.astro
  src/components/elements/Code.astro
  src/components/elements/Figure.astro
  src/layouts/BlogLayout.astro
  src/styles/global.css
  yarn.lock
Due: eslint --fix, prettier --write

code block style tweaked
  astro.config.ts
  src/components/LocalePicker.astro
  src/components/Navigation.astro
  src/components/Search.astro
  src/components/Toc.astro
  src/components/elements/Code.astro
  src/content/blog/en/first-entry.mdx
  src/layouts/BaseLayout.astro
  src/layouts/BlogLayout.astro
Due: eslint --fix, prettier --write

list style tweaked
  src/components/elements/Code.astro
  src/content/blog/en/markdown-style-guide.mdx
  src/layouts/BlogLayout.astro
  src/styles/global.css
Due: prettier --write

style tweaked overall
  src/components/BlogList.astro
  src/components/LocalePicker.astro
  src/components/Navigation.astro
  src/content/blog/en/markdown-style-guide.mdx
  src/content/config.ts
  src/content/i18n/en/translation.yml
  src/content/i18n/ja/translation.yml
  src/layouts/AboutLayout.astro
  src/layouts/BlogLayout.astro
  src/styles/global.css
Due: eslint --fix, prettier --write

style tweaked overall
  src/components/BlogList.astro
  src/layouts/AboutLayout.astro
  src/pages/[locale]/blog/[...page].astro
  src/styles/global.css
Due: prettier --write

style tweaked overall
  src/components/BlogList.astro
  src/components/Pager.astro
  src/components/TaxonomyList.astro
  src/components/Toc.astro
  src/content/blog/en/markdown-style-guide.mdx
  src/layouts/BlogLayout.astro
  src/styles/global.css
Due: prettier --write

style tweaked overall and date format localized
  src/components/BaseHead.astro
  src/components/BlogList.astro
  src/components/FormattedDate.astro
  src/components/LocalePicker.astro
  src/components/NavLink.astro
  src/components/Navigation.astro
  src/components/elements/Code.astro
  src/i18n/data.ts
  src/i18n/ui.ts
  src/i18n/utils.ts
  src/layouts/BaseLayout.astro
  src/layouts/BlogLayout.astro
  src/pages/[locale]/blog/[...page].astro
  src/pages/[locale]/blog/archive/[date]/[...page].astro
  src/pages/[locale]/blog/archive/index.astro
  src/pages/[locale]/blog/categories/[category]/[...page].astro
  src/pages/[locale]/blog/categories/index.astro
  src/pages/[locale]/blog/tags/[tag]/[...page].astro
  src/pages/[locale]/blog/tags/index.astro
  src/pages/[locale]/index.astro
  src/styles/global.css
Due: eslint --fix, prettier --write

ogImage settings
  package.json
  src/components/BlogList.astro
  src/components/OgImage/index.tsx
  src/components/elements/Image.astro
  src/i18n/utils.ts
  src/layouts/BlogLayout.astro
  src/pages/[locale]/blog/[slug].astro
  src/pages/og/[type]/[...slug].png.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

ogImage settings
  astro.config.ts
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

ogImage settings
  astro.config.ts
  package.json
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

ogImage settings
  astro.config.ts
  tsconfig.json
Due: eslint --fix, prettier --write

ogImage settings
  src/components/OgImage/index.tsx
Due: eslint --fix, prettier --write

ogImage settings
  astro.config.ts
  src/components/OgImage/index.tsx
Due: eslint --fix, prettier --write

ogImage settings
  astro.config.ts
Due: eslint --fix, prettier --write
