Repository brklntmhwk/younagi.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.yml:

'*.{js,jsx,ts,tsx}':
  - eslint --fix
  - prettier --write
  - git add
'*.{json,css,md,mdx}':
  - prettier --write
  - git add

fix(ui): 🐛 modify search filters to make it appear
  src/components/common/Search/Search.tsx
Due: eslint --fix, prettier --write

fix(api): 🐛 tweak search filters
  src/components/common/Search/Search.tsx
Due: eslint --fix, prettier --write

style(ui): 💄 tweak search layout
  src/components/common/Footer/Footer.astro
  src/components/common/Search/Search.tsx
Due: eslint --fix, prettier --write

chore(config): 🤖 modify safelist of purgecss
  astro.config.ts
  src/components/common/Search/Search.tsx
Due: eslint --fix, prettier --write

style(ui): 💄 tweak search style
  src/components/common/Search/Search.tsx
Due: eslint --fix, prettier --write

style(ui): 💄 add checkboxes as pseudo contents to labels
  src/components/common/Search/Search.tsx
Due: eslint --fix, prettier --write

refactor(ui): ✨ modify some code for debug
  src/components/common/Search/Search.tsx
Due: eslint --fix, prettier --write

feat(ui): 🆕 modify search filter's signal
  src/components/common/Search/Search.tsx
Due: eslint --fix, prettier --write

fix(api): 🐛 modify logic behind search filter checkboxes
  src/components/common/Search/Search.tsx
Due: eslint --fix, prettier --write

style(ui): 💄 make search modal overall scrollable
  src/components/common/Search/Search.tsx
Due: eslint --fix, prettier --write

fix(api): 🐛 modify around data-pagefind-filter
  src/components/common/Search/Search.tsx
  src/components/models/FormattedDate/FormattedDate.astro
  src/layouts/BlogLayout.astro
  src/layouts/NewsLayout.astro
Due: eslint --fix, prettier --write

feat(api): 🆕 add coordination between search query and filters
  src/components/common/Search/Search.tsx
Due: eslint --fix, prettier --write

fix(api): 🐛 modify logic behind filtered search
  src/components/common/Search/Search.tsx
Due: eslint --fix, prettier --write

perf(api): ⚡️ add weights to h1 article titles for pagefind search
  src/layouts/BlogLayout.astro
  src/layouts/NewsLayout.astro
Due: none

style(ui): 💄 tweak some styles
  src/components/common/Search/Search.tsx
  src/components/models/Toc/TocDrawer.astro
  src/components/ui/StarRating/StarRating.astro
  src/styles/global.css
Due: eslint --fix, prettier --write

fix(api): 🐛 fix checkbox bug and taxonomy filter problem
  src/components/common/Search/Search.tsx
  src/layouts/BlogLayout.astro
Due: eslint --fix, prettier --write

fix(api): 🐛 fix unused var error
  src/components/common/Search/Search.tsx
Due: eslint --fix, prettier --write

style(ui): 💄 tweak styles of search
  src/components/common/Search/Search.tsx
Due: eslint --fix, prettier --write

refactor(ui): ✨ refactor search
  src/components/common/Search/Search.tsx
  src/components/common/Search/SearchResult.tsx
  src/components/common/Search/SearchResults.tsx
Due: eslint --fix, prettier --write

refactor(ui): ✨ refactor search
  src/components/common/Search/SearchResult.tsx
  src/components/common/Search/SearchResults.tsx
Due: eslint --fix, prettier --write

chore(config): 🤖 disable css compress
  astro.config.ts
Due: eslint --fix, prettier --write

chore(config): 🤖 comment out purgecss
  astro.config.ts
Due: eslint --fix, prettier --write

style(ui): 💄 tweak prose style
  astro.config.ts
  src/components/models/Prose/Prose.astro
Due: eslint --fix, prettier --write

feat(ui): 🆕 add search results count
  src/components/common/Search/Search.tsx
  src/content/config.ts
  src/content/i18n/en/translation.yml
  src/content/i18n/ja/translation.yml
Due: eslint --fix, prettier --write

docs(content): 📖 modify line breaks between images
  src/content/blog/en/build-a-simple-diy-soundproof-vocal-booth-on-a-shelf.mdx
  src/content/blog/en/one-month-with-the-ohnishi-keyboard-layout-a-status-update.mdx
  src/content/blog/ja/build-a-simple-diy-soundproof-vocal-booth-on-a-shelf.mdx
  src/content/blog/ja/one-month-with-the-ohnishi-keyboard-layout-a-status-update.mdx
Due: prettier --write

fix(config): 🐛 try to remove cloudflare adapter
  astro.config.ts
  src/pages/[locale]/[id].astro
  src/pages/[locale]/blog/[id].astro
  src/pages/[locale]/news/[id].astro
Due: eslint --fix, prettier --write

fix(config): 🐛 undo removing cloudflare adapter
  astro.config.ts
Due: eslint --fix, prettier --write

fix(ui): 🐛 remove webp from the formats list of picture
  src/components/elements/Figure/Image.astro
Due: none

fix(config): 🐛 add image service option to cloudflare adapter
  astro.config.ts
Due: eslint --fix, prettier --write

fix(config): 🐛 remove explicit output: static
  astro.config.ts
Due: eslint --fix, prettier --write

perf(ui): ⚡️ remove webp from formats list of picture
  bun.lockb
  src/components/elements/Figure/Image.astro
Due: none

perf(ui): ⚡️ reduce images' size overall
  src/assets/images/diy-booth-cork-board-set.jpg
  src/assets/images/diy-booth-curtain-closed.jpg
  src/assets/images/diy-booth-curtain-open.jpg
  src/assets/images/diy-booth-curtain-rail.jpg
  src/assets/images/diy-booth-look.jpg
  src/assets/images/diy-booth-lshaped-corner-bracket.jpg
  src/assets/images/diy-booth-pegboard-set.jpg
  src/assets/images/diy-booth-staple-gun-power.jpg
  src/assets/images/diy-booth-staple-gun-ready.jpg
  src/assets/images/lian-li-a4-h2o-front-angle.JPEG
  src/assets/images/lian-li-a4-h2o-front-angle.jpg
  src/assets/images/lian-li-a4-h2o-side-angle.JPEG
  src/assets/images/lian-li-a4-h2o-side-angle.jpg
  src/assets/images/the-endpoint-updated.jpg
  src/content/blog/en/total-newbie-builds-mini-itx-linux-pc.mdx
  src/content/blog/ja/total-newbie-builds-mini-itx-linux-pc.mdx
Due: prettier --write

style(ui): 💄 tweak image size of linkcard
  src/components/elements/Link/LinkCard.astro
Due: none

perf(ui): ⚡️ reduce images' size and delete unused assets
  .frontmatter/database/mediaDb.json
  public/videos/sample-video.mp4
  src/assets/images/nixos-installation-done.jpg
  src/assets/images/nixos-installation-failed.jpg
  src/assets/images/ssd-not-recognized.jpg
  src/assets/images/the-endpoint.jpeg
  src/assets/images/the-endpoint.jpg
  src/content/blog/en/split-keyboard-the-endpoint-build.mdx
  src/content/blog/en/total-newbie-builds-mini-itx-linux-pc.mdx
  src/content/blog/ja/split-keyboard-the-endpoint-build.mdx
  src/content/blog/ja/total-newbie-builds-mini-itx-linux-pc.mdx
  src/content/page/en/tools.mdx
  src/content/page/ja/tools.mdx
Due: prettier --write

chore(config): 🤖 tweak cloudflare adapter settings
  astro.config.ts
Due: eslint --fix, prettier --write
