Repository brklntmhwk/younagi.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.yml:

'*.{js,jsx,ts,tsx}':
  - eslint --fix
  - prettier --write
  - git add
'*.{json,css,md,mdx}':
  - prettier --write
  - git add

introduced prettier, eslint, and husky
  .husky/pre-commit
  .huskyrc.yml
Due: none

introduced prettier, eslint, and husky
  .eslintrc.yml
  .lintstagedrc.yml
  package.json
  yarn.lock
Due: prettier --write

struggled with iconify
  astro.config.ts
  package.json
  src/components/Header.astro
  src/components/Svg/icons/moon.svg
  src/components/Svg/icons/sun.svg
  src/components/Svg/index.astro
  src/components/SvgIcon.astro
Due: eslint --fix, prettier --write

tweaked svg component
  .eslintrc.yml
  .github/workflows/deploy.yml
  .prettierrc.yml
  package.json
  src/components/BaseHead.astro
  src/components/Footer.astro
  src/components/FormattedDate.astro
  src/components/Header.astro
  src/components/HeaderLink.astro
  src/components/Pager.astro
  src/components/Svg/icons/github.svg
  src/components/Svg/icons/left-arrow.svg
  src/components/Svg/icons/right-arrow.svg
  src/components/Svg/index.astro
  src/components/ThemeSwitcher.astro
  src/content/config.ts
  src/layouts/BaseLayout.astro
  src/layouts/BlogLayout.astro
  src/lib/consts.ts
  src/pages/404.astro
  src/pages/[slug].astro
  src/pages/blog/[...page].astro
  src/pages/blog/[slug].astro
  src/pages/index.astro
  src/pages/rss.xml.ts
  yarn.lock
Due: eslint --fix, prettier --write

arranged Github workflows on deployment
  .github/workflows/deploy.yml
  .vscode/settings.json
  package.json
Due: prettier --write

arranged Github workflows on deployment
  .github/workflows/deploy.yml
  package.json
Due: prettier --write

arranged Github workflows on deployment
  .github/workflows/deploy.yml
Due: none

arranged Github workflows on deployment
  .github/workflows/deploy.yml
  .npmrc
Due: none

arranged Github workflows on deployment
  package.json
Due: prettier --write

arranged Github workflows on deployment and tweaked package.json
  package.json
Due: prettier --write

arranged Github workflows on deployment and tweaked package.json
  astro.config.ts
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

from home
  .vscode/settings.json
  yarn.lock
Due: prettier --write

arranged Github workflows on deployment and tweaked package.json
  frontmatter.json
  yarn.lock
Due: prettier --write

arranged Github workflows on deployment and tweaked package.json
  .github/workflows/deploy.yml
Due: none

tweaked Pager.astro
  .github/workflows/deploy.yml
  .gitignore
  .husky/pre-commit
  package.json
  src/components/Pager.astro
  yarn.lock
Due: prettier --write

updated Yarn lockfile
  yarn.lock
Due: none

updated Yarn lockfile
  package.json
  src/components/ThemeSwitcher.astro
  yarn.lock
Due: prettier --write

tweaked github workflow
  .github/workflows/deploy.yml
Due: none

tweaked github workflow
  .github/workflows/deploy.yml
  .gitignore
Due: none

tweaked github workflow
  astro.config.ts
Due: eslint --fix, prettier --write

og api & component
  package.json
  src/components/Svg/index.astro
  src/pages/og/[type]/[slug].png.ts
  yarn.lock
Due: eslint --fix, prettier --write

og api & component
  src/pages/og/[type]/[...slug].png.ts
Due: eslint --fix, prettier --write

Sidebar and style
  public/brick-wall2.jpg
  public/fonts/TiltNeon-Regular.ttf
  public/fonts/TiltNeon-Regular.woff
  src/components/Header.astro
  src/components/Sidebar.astro
  src/layouts/BaseLayout.astro
  src/pages/index.astro
  src/styles/global.css
Due: prettier --write

Put Sidebar & Header together (Switch the layout by media queries whether it will be a sidebar or a header)
  src/components/Header.astro
  src/components/Navigation.astro
  src/components/Sidebar.astro
  src/layouts/BaseLayout.astro
  src/pages/index.astro
  src/styles/global.css
Due: prettier --write

Put Sidebar & Header together (Switch the layout by media queries whether it will be a sidebar or a header)
  src/components/Navigation.astro
  src/layouts/BaseLayout.astro
  src/styles/global.css
Due: prettier --write
