Repository brklntmhwk/younagi.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore(config): 🤖 tweak tailwind config
  tailwind.config.ts
Due: eslint --fix, prettier --write

docs(contents): 📖 modify the styling parts in articles and readme
  README.md
  src/content/blog/en/astro-and-front-matter-cms-combi.mdx
  src/content/blog/en/astro-website.mdx
  src/content/blog/ja/astro-and-front-matter-cms-combi.mdx
  src/content/blog/ja/astro-website.mdx
Due: prettier --write

docs(contents): 📖 tweak articles
  src/content/blog/en/astro-website.mdx
  src/content/blog/ja/astro-website.mdx
Due: prettier --write

style(ui): 💄 tweak styles
  src/components/common/Navigation/NavMenuContainer.astro
  src/components/common/Navigation/Navigation.astro
  src/components/models/BlogList/BlogList.astro
  src/pages/[locale]/blog/archive/index.astro
  src/pages/blog/archive/index.astro
  tailwind.config.ts
Due: eslint --fix, prettier --write

refactor(overall): ✨ tweak overall
  astro.config.ts
  src/content/blog/en/astro-website.mdx
  src/content/blog/ja/astro-website.mdx
  src/content/page/en/work.mdx
  src/content/page/ja/work.mdx
  src/layouts/BlogLayout.astro
  src/pages/[locale]/index.astro
  src/pages/index.astro
Due: eslint --fix, prettier --write

chore(config): 🤖 change the css transformer from lightning to postcss
  astro.config.ts
Due: eslint --fix, prettier --write

chore(config): 🤖 tweak purgecss config
  astro.config.ts
Due: eslint --fix, prettier --write

chore(config): 🤖 remove pursecss
  astro.config.ts
Due: eslint --fix, prettier --write

chore(config): 🤖 introduce astro-compress
  astro.config.ts
  bun.lockb
  package.json
Due: eslint --fix, prettier --write

chore(config): 🤖 tweak config of astro-compress
  astro.config.ts
Due: eslint --fix, prettier --write

chore(deps): 🤖 resolve conflict in bun.lockb
  bun.lockb
Due: none

style(ui): 💄 tweak styles
  src/components/models/BlogList/BlogList.astro
  src/components/models/Taxonomy/taxonomy.ts
  src/pages/[locale]/index.astro
  src/pages/[locale]/news/[...page].astro
  src/pages/index.astro
  src/pages/news/[...page].astro
Due: eslint --fix, prettier --write

style(ui): 💄 tweak styles
  src/layouts/AboutLayout.astro
  src/layouts/BlogLayout.astro
  src/layouts/NewsLayout.astro
  src/layouts/PageLayout.astro
Due: none

chore(config): 🤖 tweak the baseUrl option of remark-video
  astro.config.ts
Due: eslint --fix, prettier --write

chore(config): 🤖 tweak the baseUrl of remark-video
  astro.config.ts
Due: eslint --fix, prettier --write

chore(config): 🤖 tweak the baseUrl option of remark-video
  src/lib/mode.ts
Due: eslint --fix, prettier --write

style(ui): 💄 tweak styles
  src/components/ui/Balloon/Balloon.astro
  src/components/ui/ProfileIcon/ProfileIcon.astro
  tailwind.config.ts
Due: eslint --fix, prettier --write

refactor(overall): ✨ tweak some styles, code line breaks, etc
  src/components/elements/Card/Card.astro
  src/components/elements/Figure/Image.astro
  src/content/blog/en/total-newbie-builds-mini-itx-linux-pc.mdx
  src/content/blog/ja/total-newbie-builds-mini-itx-linux-pc.mdx
  src/lib/unified/plugins/remark-callout.ts
  tailwind.config.ts
Due: eslint --fix, prettier --write

chore(config): 🤖 update remark-video and tweak the options
  astro.config.ts
  bun.lockb
  package.json
Due: eslint --fix, prettier --write

chore(deps): 🤖 remove unused libraries
  astro.config.ts
  bun.lockb
  package.json
Due: eslint --fix, prettier --write

docs(contents): 📖 add new articles
  src/content/blog/en/build-a-simple-diy-soundproof-vocal-booth-on-a-shelf.mdx
  src/content/blog/ja/build-a-simple-diy-soundproof-vocal-booth-on-a-shelf.mdx
  src/content/tags/en/tags.yml
  src/content/tags/ja/tags.yml
Due: prettier --write

style(config): 💄 add default color to prose in dark mode
  tailwind.config.ts
Due: eslint --fix, prettier --write

docs(contents): 📖 add images for new articles
  src/assets/images/diy-booth-acoustic-panels-atteched.jpg
  src/assets/images/diy-booth-acoustic-panels-taped.jpg
  src/assets/images/diy-booth-cork-board-set.jpg
  src/assets/images/diy-booth-curtain-closed.jpg
  src/assets/images/diy-booth-curtain-open.jpg
  src/assets/images/diy-booth-curtain-rail.jpg
  src/assets/images/diy-booth-drill-and-square.jpg
  src/assets/images/diy-booth-lshaped-corner-bracket.jpg
  src/assets/images/diy-booth-pegboard-set.jpg
  src/assets/images/diy-booth-slight-gap.jpg
  src/assets/images/diy-booth-sound-blocking-sheet-applied.jpg
  src/assets/images/diy-booth-staple-gun-power.jpg
  src/assets/images/diy-booth-staple-gun-ready.jpg
  src/assets/images/diy-booth-three-layered-structure-of-scarves.jpg
Due: none

fix(ui): 🐛 fix the broken link paths
  src/components/models/Pager/Pager.astro
Due: none

docs(contents): 📖 change the draft status of new articles
  src/content/blog/en/build-a-simple-diy-soundproof-vocal-booth-on-a-shelf.mdx
  src/content/blog/ja/build-a-simple-diy-soundproof-vocal-booth-on-a-shelf.mdx
Due: prettier --write

chore(config): 🤖 tweak some textlint rules
  .textlintrc.yml
Due: none

chore(config): 🤖 add table styles
  tailwind.config.ts
Due: eslint --fix, prettier --write

style(ui): 💄 remove the extra border lines from the nav bar
  src/components/common/Navigation/Navigation.astro
Due: none

docs(contents): 📖 add new articles and rewrite existing ones
  src/assets/images/diy-booth-cork-board-set.jpg
  src/assets/images/diy-booth-look.jpg
  src/assets/images/diy-booth-materials.jpg
  src/content/blog/en/astro-website.mdx
  src/content/blog/en/build-a-simple-diy-soundproof-vocal-booth-on-a-shelf.mdx
  src/content/blog/ja/astro-website.mdx
  src/content/blog/ja/build-a-simple-diy-soundproof-vocal-booth-on-a-shelf.mdx
Due: prettier --write

docs(contents): 📖 tweak existing articles
  src/content/blog/en/astro-website.mdx
  src/content/blog/en/build-a-simple-diy-soundproof-vocal-booth-on-a-shelf.mdx
  src/content/blog/en/total-newbie-builds-mini-itx-linux-pc.mdx
  src/content/blog/ja/astro-website.mdx
  src/content/blog/ja/total-newbie-builds-mini-itx-linux-pc.mdx
Due: prettier --write

docs(contents): 📖 tweak existing articles
  src/content/blog/en/total-newbie-builds-mini-itx-linux-pc.mdx
Due: prettier --write

style(ui): 💄 tweak line heights of titles in layouts
  src/layouts/BlogLayout.astro
  src/layouts/NewsLayout.astro
  src/layouts/PageLayout.astro
Due: none

docs(contents): 📖 tweak about pages and articles
  src/content/page/en/about.mdx
  src/content/page/ja/about.mdx
  tailwind.config.ts
Due: eslint --fix, prettier --write

fix(ui): 🐛 fix the bug of unmatched pager links
  src/components/models/Pager/Pager.astro
Due: none

docs(contents): 📖 tweak news and blog content
  src/content/i18n/en/translation.yml
  src/content/i18n/ja/translation.yml
  src/content/news/en/created-my-personal-website.mdx
  src/content/news/en/my-personal-website-launched.mdx
  src/content/news/en/recent-activities-from-jun-to-sep-2024.mdx
  src/content/news/en/tools-i-use-daily-shared.mdx
  src/content/news/ja/created-my-personal-website.mdx
  src/content/news/ja/my-personal-website-launched.mdx
  src/content/news/ja/recent-activities-from-jun-to-sep-2024.mdx
  src/content/news/ja/tools-i-use-daily-shared.mdx
  src/content/page/en/about.mdx
Due: prettier --write

chore(config): 🤖 tweak prose styles
  tailwind.config.ts
Due: eslint --fix, prettier --write

ci(none): 🎡 put pull request templates together into one
  .github/PULL_REQUEST_TEMPLATE/01_basic.md
  .github/PULL_REQUEST_TEMPLATE/02_content.md
  .github/PULL_REQUEST_TEMPLATE/03_tweak.md
  .github/PULL_REQUEST_TEMPLATE/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

ci(none): 🎡 delete pull request template dir
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

chore(dev): 🤖 tweak conventional commits' scopes
  .github/PULL_REQUEST_TEMPLATE.md
  changelog.config.cjs
  dangerfile.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,css,md,mdx})
