Repository brklntmhwk/younagi.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

og image issue revisited
  bun.lockb
  src/components/OgImage/index.tsx
  src/pages/api/og/[...slug].png.ts
Due: eslint --fix, prettier --write

og image issue revisited
  astro.config.ts
  bun.lockb
  package.json
Due: eslint --fix, prettier --write

og image issue revisited
  bun.lockb
  package.json
  src/components/OgImage/index.tsx
  src/components/Taxonomy/Taxonomy.astro
  src/layouts/BlogLayout.astro
  src/layouts/NewsLayout.astro
  src/layouts/PageLayout.astro
  src/lib/collections/contents.ts
  src/pages/[locale]/api/og/[collection]/[...slug].png.ts
  src/pages/[locale]/blog/categories/[category]/[...page].astro
  src/pages/[locale]/blog/tags/[tag]/[...page].astro
  src/pages/[slug].astro
  src/pages/api/og/[...slug].png.ts
  src/pages/api/og/[collection]/[...slug].png.ts
  src/pages/blog/[slug].astro
  src/pages/blog/categories/[category]/[...page].astro
  src/pages/blog/tags/[tag]/[...page].astro
  src/pages/news/[slug].astro
  src/utils/get-locale-from-slug.ts
  src/utils/get-raw-slug.ts
  src/utils/get-slug-without-locale.ts
  src/utils/i18n/data.ts
  src/utils/i18n/is-locale.ts
  wrangler.toml
Due: eslint --fix, prettier --write

utils tweaked & refactored
  src/lib/collections/contents.ts
  src/lib/collections/data.ts
  src/pages/[locale]/[slug].astro
  src/pages/[locale]/blog/[slug].astro
  src/pages/[locale]/index.astro
  src/pages/[locale]/news/[slug].astro
  src/pages/[locale]/rss.xml.ts
  src/pages/rss.xml.ts
Due: eslint --fix, prettier --write

i18n utils to one file
  src/components/Article/Article.astro
  src/components/BlogList.astro
  src/components/BulletinBoard.astro
  src/components/BuyMeACoffee.astro
  src/components/Contact/Contact.astro
  src/components/Footer.astro
  src/components/Icon/Icon.astro
  src/components/LocalePicker.astro
  src/components/Message.astro
  src/components/Navigation/NavLink.astro
  src/components/Navigation/NavMenuContainer.astro
  src/components/Navigation/Navigation.astro
  src/components/Pager.astro
  src/components/PhotoGallery/PhotoGallery.astro
  src/components/PhotoGallery/PhotoGalleryItem.astro
  src/components/Search.astro
  src/components/Taxonomy/Taxonomy.astro
  src/components/Toc.astro
  src/components/islands/ContactForm/ContactForm.tsx
  src/components/islands/Likes/Likes.tsx
  src/layouts/AboutLayout.astro
  src/layouts/BaseLayout.astro
  src/layouts/BlogLayout.astro
  src/layouts/NewsLayout.astro
  src/layouts/PageLayout.astro
  src/pages/404.astro
  src/pages/[locale]/[slug].astro
  src/utils/i18n/get-locale-from-url.ts
  src/utils/i18n/get-target-local-slug.ts
  src/utils/i18n/is-locale.ts
  src/utils/i18n/use-translated-path.ts
  src/utils/i18n/utils.ts
Due: eslint --fix, prettier --write

styles tweaked
  src/components/Article/Article.astro
  src/components/BlogList.astro
  src/components/elements/Link/LinkCard.astro
  src/layouts/BlogLayout.astro
  src/styles/global.css
Due: prettier --write

Search & modal components revisited (astro --> solidjs)
  src/components/Article/Article.astro
  src/components/Article/article.css.ts
  src/components/ContactForm/ContactForm.tsx
  src/components/ContactForm/Turnstile.tsx
  src/components/ContactForm/contact-form.css.ts
  src/components/Likes/LikeIcon.tsx
  src/components/Likes/Likes.tsx
  src/components/Likes/likes.css.ts
  src/components/LocaleStore/LocaleStore.tsx
  src/components/LocaleStore/locale-store.ts
  src/components/Modal/Modal.tsx
  src/components/Modal/modal.css.ts
  src/components/Navigation/Navigation.astro
  src/components/Search/Search.tsx
  src/components/Search/SearchIcon.tsx
  src/components/Search/search.css.ts
  src/components/Search/types.ts
  src/layouts/BaseLayout.astro
  src/layouts/BlogLayout.astro
  src/lib/mode.ts
  src/styles/global.css
Due: eslint --fix, prettier --write

.astro --> .tsx (search & toc & localepicker & modal)
  astro.config.ts
  bun.lockb
  package.json
  src/components/LocalePicker.astro
  src/components/LocalePicker/LocalePicker.tsx
  src/components/LocalePicker/locale-picker.css.ts
  src/components/Modal/Modal.tsx
  src/components/Modal/modal-data.ts
  src/components/Modal/modal.css.ts
  src/components/Navigation/Navigation.astro
  src/components/Search.astro
  src/components/Search/Search.tsx
  src/components/Search/SearchIcon.tsx
  src/components/Search/search.css.ts
  src/components/Search/types.ts
  src/components/Toc.astro
  src/components/Toc/Toc.tsx
  src/components/Toc/toc.css.ts
  src/components/UrlStore/UrlStore.tsx
  src/components/UrlStore/url-store.ts
  src/consts/index.ts
  src/layouts/AboutLayout.astro
  src/layouts/BaseLayout.astro
  src/layouts/BlogLayout.astro
Due: eslint --fix, prettier --write

.astro --> .tsx (bmc)
  src/components/BuyMeACoffee.astro
  src/components/BuyMeACoffee/BuyMeACoffee.astro
  src/components/BuyMeACoffee/buy-me-a-coffee.css.ts
  src/components/BuyMeACoffee/index.ts
  src/components/Likes/LikeIcon.tsx
  src/components/Likes/Likes.tsx
  src/components/LocalePicker/LocalePicker.tsx
  src/components/Modal.astro
  src/components/Modal/Modal.tsx
  src/components/Modal/modal-data.ts
  src/components/Search/search.css.ts
  src/components/Toc/Toc.tsx
  src/components/Toc/toc.css.ts
  src/layouts/BlogLayout.astro
  src/layouts/NewsLayout.astro
Due: eslint --fix, prettier --write

bmc small tweakes
  src/components/BuyMeACoffee/BuyMeACoffee.astro
  src/components/BuyMeACoffee/buy-me-a-coffee.css.ts
  src/components/Modal/Modal.tsx
  src/components/Modal/modal.css.ts
  src/components/Search/search.css.ts
  src/layouts/NewsLayout.astro
Due: eslint --fix, prettier --write

oembed element compnents & remark embed plugin created
  astro.config.ts
  bun.lockb
  package.json
  src/components/BuyMeACoffee/buy-me-a-coffee.css.ts
  src/components/Modal/Modal.tsx
  src/components/Modal/modal.css.ts
  src/components/Navigation/Navigation.astro
  src/components/Search/Search.tsx
  src/components/Search/search.css.ts
  src/components/elements/Figure/Image.astro
  src/components/elements/Link/Link.astro
  src/components/elements/Link/LinkCard.astro
  src/components/elements/OEmbed/OEmbed.astro
  src/components/elements/OEmbed/OEmbedPhoto.astro
  src/components/elements/OEmbed/OEmbedRich.astro
  src/components/elements/OEmbed/OEmbedVideo.astro
  src/components/elements/OEmbed/embed-is.ts
  src/components/elements/OEmbed/index.ts
  src/components/elements/OEmbed/sanitize.ts
  src/components/elements/OEmbed/types.ts
  src/content/blog/en/astro-website.mdx
  src/content/config.ts
  src/content/i18n/en/translation.yml
  src/content/i18n/ja/translation.yml
  src/lib/mdx-components.ts
  src/plugins/remark-astro-image-assets.ts
  src/plugins/remark-callout.ts
  src/plugins/remark-embed.ts
  src/plugins/remark-footnote.ts
  src/plugins/remark-link-card.ts
  src/plugins/transformers.ts
Due: eslint --fix, prettier --write

sanitize added to oembed elements
  src/components/elements/OEmbed/OEmbed.astro
  src/components/elements/OEmbed/OEmbedPhoto.astro
  src/components/elements/OEmbed/OEmbedPhoto.tsx
  src/components/elements/OEmbed/OEmbedRich.astro
  src/components/elements/OEmbed/OEmbedRich.tsx
  src/components/elements/OEmbed/OEmbedVideo.astro
  src/components/elements/OEmbed/OEmbedVideo.tsx
Due: eslint --fix, prettier --write

rehype pagefind plugin created & component export standardized
  astro.config.ts
  src/components/Balloon/Balloon.astro
  src/components/Balloon/index.ts
  src/components/BaseHead/BaseHead.astro
  src/components/BaseHead/index.ts
  src/components/BlogList/BlogList.astro
  src/components/BlogList/index.ts
  src/components/BulletinBoard/BulletinBoard.astro
  src/components/BulletinBoard/index.ts
  src/components/Footer/Footer.astro
  src/components/Footer/index.ts
  src/components/Pager/Pager.astro
  src/components/Pager/index.ts
  src/components/PhotoGallery/PhotoGalleryItem.astro
  src/components/ProfileIcon/ProfileIcon.astro
  src/components/ProfileIcon/index.ts
  src/components/elements/Figure/Code.astro
  src/components/elements/Link/LinkCard.astro
  src/content/blog/en/astro-website.mdx
  src/layouts/AboutLayout.astro
  src/layouts/BaseLayout.astro
  src/layouts/BlogLayout.astro
  src/lib/mdx-components.ts
  src/pages/[locale]/blog/[...page].astro
  src/pages/[locale]/blog/archive/[date]/[...page].astro
  src/pages/[locale]/blog/categories/[category]/[...page].astro
  src/pages/[locale]/blog/tags/[tag]/[...page].astro
  src/pages/[locale]/index.astro
  src/pages/[locale]/news/[...page].astro
  src/pages/blog/[...page].astro
  src/pages/blog/archive/[date]/[...page].astro
  src/pages/blog/categories/[category]/[...page].astro
  src/pages/blog/tags/[tag]/[...page].astro
  src/pages/index.astro
  src/pages/news/[...page].astro
  src/plugins/rehype-image-figure.ts
  src/plugins/rehype-pagefind-ignore.ts
Due: eslint --fix, prettier --write

rehype pagefind plugin created & component export standardized
  src/components/Footer/Footer.astro
  src/components/Likes/LikeIcon.tsx
  src/components/Likes/Likes.tsx
  src/components/LocaleStore/LocaleStore.tsx
  src/components/Modal/Modal.tsx
  src/components/Search/Search.tsx
  src/components/UrlStore/UrlStore.tsx
  src/content/page/en/about.mdx
  src/content/page/en/thanks-page.mdx
  src/content/page/ja/about.mdx
  src/content/page/ja/thanks-page.mdx
  src/layouts/AboutLayout.astro
  src/layouts/BlogLayout.astro
Due: eslint --fix, prettier --write

nav layout tweaked
  src/components/Likes/Likes.tsx
  src/components/Navigation/NavMenuContainer.astro
  src/components/Navigation/Navigation.astro
Due: eslint --fix, prettier --write

nav layout tweaked
  src/components/Navigation/NavMenuContainer.astro
  src/components/Navigation/Navigation.astro
  src/content/i18n/en/translation.yml
  src/content/i18n/ja/translation.yml
  src/layouts/BlogLayout.astro
Due: none

embed transformer for Canva added
  astro.config.ts
  src/components/Modal/Modal.tsx
  src/components/Modal/ToggleProvider.tsx
  src/components/Navigation/NavMenuContainer.astro
  src/components/Toc/Toc.tsx
  src/components/elements/Link/LinkCard.astro
  src/content/blog/en/astro-website.mdx
  src/plugins/transformers.ts
Due: eslint --fix, prettier --write

embed transformer for Canva added
  src/content/blog/en/astro-website.mdx
Due: prettier --write

embed transformer tweaked
  src/components/Contact/Contact.astro
  src/components/Navigation/NavMenuContainer.astro
  src/components/Navigation/Navigation.astro
  src/content/blog/en/astro-website.mdx
  src/layouts/BaseLayout.astro
  src/layouts/BlogLayout.astro
  src/layouts/ContactLayout.astro
  src/plugins/transformers.ts
Due: eslint --fix, prettier --write

small tweaks
  src/components/BuyMeACoffee/BuyMeACoffee.astro
  src/components/BuyMeACoffee/buy-me-a-coffee.css.ts
  src/components/Modal/Modal.tsx
  src/components/Modal/modal-toggle-store.ts
  src/components/Modal/modal.css.ts
  src/components/Toc/Toc.tsx
  src/content/config.ts
  src/content/i18n/en/translation.yml
  src/content/i18n/ja/translation.yml
Due: eslint --fix, prettier --write

nav drawer tweaked
  astro.config.ts
  bun.lockb
  package.json
  src/components/BuyMeACoffee/buy-me-a-coffee.css.ts
  src/components/Contact/Contact.astro
  src/components/ContactForm/ContactForm.tsx
  src/components/Modal/modal.css.ts
  src/components/Navigation/NavMenuContainer.astro
  src/components/Navigation/Navigation.astro
  src/components/_ContactForm/Checkbox.tsx
  src/components/_ContactForm/ContactForm.tsx
  src/components/_ContactForm/SubmitButton.tsx
  src/components/_ContactForm/TextField.tsx
  src/components/_ContactForm/Turnstile.tsx
  src/components/_ContactForm/contact-form.css.ts
  src/components/elements/OEmbed/OEmbedRich.tsx
  src/env.d.ts
  src/layouts/AboutLayout.astro
  src/layouts/BaseLayout.astro
  src/layouts/ContactLayout.astro
  src/pages/404.astro
  src/pages/[locale]/[slug].astro
  src/pages/[slug].astro
Due: eslint --fix, prettier --write

home page and TOC tweaked
  src/pages/[locale]/index.astro
  src/pages/index.astro
  src/styles/global.css
Due: prettier --write

home page and TOC tweaked
  src/components/BlogList/BlogList.astro
  src/components/PhotoGallery/PhotoGallery.astro
  src/components/Toc/TocDrawer.astro
  src/content/i18n/en/translation.yml
  src/content/i18n/ja/translation.yml
  src/pages/index.astro
Due: none

translation modified
  src/content/i18n/en/translation.yml
  src/content/i18n/ja/translation.yml
  src/content/page/en/about.mdx
  src/content/page/ja/about.mdx
  src/pages/index.astro
Due: prettier --write

contact page deleted and moved to inside the modal placed on the about page
  src/components/BlogList/BlogList.astro
  src/components/Contact/Contact.astro
  src/components/Contact/contact-form-store.ts
  src/components/Contact/index.ts
  src/components/ContactForm/Checkbox/CheckIcon.tsx
  src/components/ContactForm/Checkbox/Checkbox.tsx
  src/components/ContactForm/Checkbox/checkbox.css.ts
  src/components/ContactForm/ContactForm.tsx
  src/components/ContactForm/SubmitButton/SubmitButton.tsx
  src/components/ContactForm/SubmitButton/submit-button.css.ts
  src/components/ContactForm/TextField/TextField.tsx
  src/components/ContactForm/TextField/text-field.css.ts
  src/components/ContactForm/Turnstile/Turnstile.tsx
  src/components/ContactForm/Turnstile/turnstile.css.ts
  src/components/ContactForm/contact-form.css.ts
  src/components/Icon/icons/mail.svg
  src/components/Icon/types.ts
  src/components/Modal/modal-data.ts
  src/components/Modal/modal.css.ts
  src/components/Navigation/Navigation.astro
  src/components/Search/search.css.ts
  src/components/_ContactForm/Checkbox.tsx
  src/components/_ContactForm/ContactForm.tsx
  src/components/_ContactForm/SubmitButton.tsx
  src/content/config.ts
  src/content/i18n/en/translation.yml
  src/content/i18n/ja/translation.yml
  src/content/page/en/contact.mdx
  src/content/page/ja/contact.mdx
  src/layouts/AboutLayout.astro
  src/layouts/BlogLayout.astro
  src/layouts/ContactLayout.astro
  src/pages/[locale]/[slug].astro
  src/pages/[locale]/api/form.ts
  src/pages/[slug].astro
  src/pages/api/form.ts
Due: eslint --fix, prettier --write

contact & Toc tweaked
  bun.lockb
  package.json
  src/components/BlogList/BlogList.astro
  src/components/ContactForm/Checkbox/checkbox.css.ts
  src/components/ContactForm/ContactForm.tsx
  src/components/ContactForm/SubmitButton/submit-button.css.ts
  src/components/ContactForm/TextField/TextField.tsx
  src/components/ContactForm/contact-form.css.ts
  src/components/Modal/modal.css.ts
  src/components/PhotoGallery/PhotoGalleryItem.astro
  src/components/Toc/TocDrawer.astro
Due: eslint --fix, prettier --write

font changed to LINE Seed
  public/fonts/LINESeedJP_OTF_Bd.woff2
  public/fonts/LINESeedJP_OTF_Eb.woff2
  public/fonts/LINESeedJP_OTF_Rg.woff2
  public/fonts/LINESeedJP_OTF_Th.woff2
  src/components/BlogList/BlogList.astro
  src/components/ContactForm/contact-form.css.ts
  src/components/LocalePicker/locale-picker.css.ts
  src/components/Navigation/Navigation.astro
  src/components/PhotoGallery/PhotoGalleryItem.astro
  src/components/Taxonomy/taxonomy.css.ts
  src/components/elements/Callout/Callout.astro
  src/components/elements/Link/LinkCard.astro
  src/layouts/AboutLayout.astro
  src/layouts/BlogLayout.astro
  src/pages/[locale]/blog/archive/index.astro
  src/pages/blog/archive/index.astro
  src/styles/global.css
Due: eslint --fix, prettier --write

small tweaks
  src/components/BuyMeACoffee/BuyMeACoffee.astro
  src/components/Likes/likes.css.ts
  src/components/LocalePicker/locale-picker.css.ts
  src/components/Modal/modal.css.ts
  src/components/Navigation/NavMenuContainer.astro
  src/components/Navigation/Navigation.astro
  src/layouts/AboutLayout.astro
  src/layouts/BlogLayout.astro
  src/layouts/NewsLayout.astro
  src/layouts/PageLayout.astro
  src/pages/[locale]/api/form.ts
  src/pages/api/form.ts
  src/styles/global.css
Due: eslint --fix, prettier --write

small tweaks
  src/styles/global.css
Due: prettier --write

callout styles migrated to vanilla-extract
  src/components/BlogList/BlogList.astro
  src/components/ContactForm/ContactForm.tsx
  src/components/ContactForm/SubmitButton/submit-button.css.ts
  src/components/PhotoGallery/PhotoGalleryItem.astro
  src/components/Search/search.css.ts
  src/components/Taxonomy/taxonomy.css.ts
  src/components/elements/Callout/Callout.astro
  src/components/elements/Callout/CalloutTitle.astro
  src/components/elements/Callout/callout.css.ts
  src/components/elements/Figure/Image.astro
  src/content/blog/en/astro-website.mdx
  src/content/config.ts
  src/content/i18n/en/translation.yml
  src/content/i18n/ja/translation.yml
  src/layouts/BlogLayout.astro
  src/pages/[locale]/blog/[...page].astro
  src/pages/[locale]/blog/categories/index.astro
  src/pages/[locale]/blog/tags/index.astro
  src/pages/blog/[...page].astro
  src/pages/blog/categories/index.astro
  src/pages/blog/tags/index.astro
  src/styles/global.css
Due: eslint --fix, prettier --write

callout styles migrated to vanilla-extract
  src/components/Article/Article.astro
Due: none

contact form error handling improved with wretch
  bun.lockb
  package.json
  src/components/Article/article.css.ts
  src/components/ContactForm/ContactForm.tsx
  src/components/ContactForm/contact-form.css.ts
  src/components/ContactForm/error-is.ts
  src/components/Modal/Modal.tsx
  src/components/Modal/ToggleProvider.tsx
  src/components/Modal/modal-toggle-store.ts
  src/components/Modal/modal.css.ts
  src/components/Toaster/Toaster.tsx
  src/components/elements/Figure/Code.astro
  src/components/elements/Figure/Figure.astro
  src/components/elements/Figure/Image.astro
  src/components/elements/Link/Link.astro
  src/components/elements/Link/LinkCard.astro
  src/layouts/BaseLayout.astro
  src/pages/api/form.ts
Due: eslint --fix, prettier --write

toaster set (contact form & likes button)
  src/components/ContactForm/Checkbox/Checkbox.tsx
  src/components/ContactForm/ContactForm.tsx
  src/components/ContactForm/SubmitButton/SubmitButton.tsx
  src/components/ContactForm/TextField/TextField.tsx
  src/components/Likes/Likes.tsx
  src/components/LocalePicker/LocalePicker.tsx
  src/components/Toaster/Toaster.tsx
  src/content/config.ts
  src/content/i18n/en/translation.yml
  src/content/i18n/ja/translation.yml
  src/pages/api/likes.ts
  src/plugins/rehype-pagefind-ignore.ts
Due: eslint --fix, prettier --write

likes, search and callout components tweaked
  src/components/ContactForm/ContactForm.tsx
  src/components/Likes/Likes.tsx
  src/components/Search/search.css.ts
  src/components/elements/Callout/CalloutTitle.astro
  src/components/elements/Callout/callout.css.ts
  src/content/blog/en/astro-website.mdx
  src/content/page/en/about.mdx
  src/content/page/ja/about.mdx
Due: eslint --fix, prettier --write

likes, search and callout components tweaked
  src/components/Likes/Likes.tsx
Due: eslint --fix, prettier --write

tanoxomy data structures modified & Front Matter CMS config tweaked accordingly
  frontmatter.json
  src/components/BlogList/BlogList.astro
  src/components/Taxonomy/Taxonomy.astro
  src/content/blog/en/astro-website.mdx
  src/content/blog/ja/astro-website.mdx
  src/content/categories/en/categories.yml
  src/content/categories/en/experiment.yml
  src/content/categories/en/learning.yml
  src/content/categories/en/others.yml
  src/content/categories/en/travel.yml
  src/content/categories/ja/categories.yml
  src/content/categories/ja/experiment.yml
  src/content/categories/ja/learning.yml
  src/content/categories/ja/others.yml
  src/content/categories/ja/travel.yml
  src/content/config.ts
  src/content/tags/en/astro.yml
  src/content/tags/en/cloudflare.yml
  src/content/tags/en/tags.yml
  src/content/tags/en/typescript.yml
  src/content/tags/ja/astro.yml
  src/content/tags/ja/cloudflare.yml
  src/content/tags/ja/tags.yml
  src/content/tags/ja/typescript.yml
  src/layouts/BlogLayout.astro
  src/lib/collections/data.ts
  src/lib/collections/types.ts
  src/pages/[locale]/blog/categories/[category]/[...page].astro
  src/pages/[locale]/blog/categories/index.astro
  src/pages/[locale]/blog/tags/[tag]/[...page].astro
  src/pages/[locale]/blog/tags/index.astro
  src/pages/[locale]/index.astro
  src/pages/blog/archive/index.astro
  src/pages/blog/categories/[category]/[...page].astro
  src/pages/blog/categories/index.astro
  src/pages/blog/tags/[tag]/[...page].astro
  src/pages/blog/tags/index.astro
  src/pages/index.astro
  src/utils/order-by-date-desc.ts
Due: eslint --fix, prettier --write

articles tweaked
  src/assets/images/og-image-example.png
  src/content/blog/en/astro-website.mdx
  src/content/blog/ja/astro-website.mdx
  src/content/news/en/created-my-personal-website.md
  src/content/news/ja/created-my-personal-website.md
Due: prettier --write

articles tweaked
  src/assets/images/og-image-example.png
  src/content/blog/en/astro-website.mdx
  src/content/blog/ja/astro-website.mdx
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,css,md,mdx})
