Repository brklntmhwk/younagi.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.yml:

'*.{js,jsx,ts,tsx}':
  - eslint --fix
  - prettier --write
  - git add
'*.{json,css,md,mdx}':
  - prettier --write
  - git add

the first entry tweaked in ja
  src/content/blog/en/astro-website.mdx
  src/content/blog/ja/astro-website.mdx
Due: prettier --write

the first entry and news tweaked
  src/content/blog/en/astro-website.mdx
  src/content/blog/ja/astro-website.mdx
  src/content/news/en/created-my-personal-website.md
  src/content/news/ja/created-my-personal-website.md
  src/pages/[locale]/index.astro
  src/styles/global.css
Due: prettier --write

the first entry and news tweaked
  2024-05-09.md
  2024-05-10.md
  src/content/blog/en/markdown-style-guide.mdx
  src/content/blog/ja/markdown-style-guide.mdx
  src/content/news/en/created-my-personal-website.md
  src/content/news/ja/created-my-personal-website.md
  src/layouts/AboutLayout.astro
  src/layouts/NewsLayout.astro
Due: prettier --write

og api endpoint tweaked
  src/content/blog/en/astro-website.mdx
  src/content/blog/ja/astro-website.mdx
  src/pages/og/[...slug].png.ts
Due: eslint --fix, prettier --write

og api endpoint tweaked
  src/content/blog/en/astro-website.mdx
Due: prettier --write

og api endpoint tweaked
  src/content/blog/en/astro-website.mdx
  src/layouts/BlogLayout.astro
Due: prettier --write

og api endpoint tweaked
  src/layouts/BlogLayout.astro
  src/pages/og/[...slug].ts
Due: eslint --fix, prettier --write

the first entry tweaked
  package.json
  src/components/Callout.astro
  src/content/blog/en/astro-website.mdx
  src/content/blog/ja/astro-website.mdx
  yarn.lock
Due: prettier --write

remark-breaks added
  astro.config.ts
  package.json
  src/content/blog/en/astro-website.mdx
  src/content/blog/ja/astro-website.mdx
  yarn.lock
Due: eslint --fix, prettier --write

the first entry tweaked
  src/content/blog/en/astro-website.mdx
  src/content/blog/ja/astro-website.mdx
Due: prettier --write

modal component added to Search and LocalePicker
  src/components/LocalePicker.astro
  src/components/Modal.astro
  src/components/Navigation.astro
  src/components/Search.astro
Due: none

modal component added to toc
  src/components/LocalePicker.astro
  src/components/Modal.astro
  src/components/Toc.astro
Due: none

temporary commit
  src/content/blog/ja/astro-website.mdx
Due: prettier --write

robots.txt and entries tweaked
  public/robots.txt
  src/components/LocalePicker.astro
  src/components/Modal.astro
  src/components/Search.astro
  src/components/Toc.astro
  src/content/blog/en/astro-website.mdx
  src/content/blog/ja/astro-website.mdx
  yarn.lock
Due: prettier --write

astro config site url modified
  astro.config.ts
  src/content/blog/ja/astro-website.mdx
  src/layouts/BlogLayout.astro
Due: eslint --fix, prettier --write

astro config site url modified
  .github/workflows/deploy.yml
  package.json
  public/robots.txt
Due: prettier --write

astro config site url modified
  .github/workflows/deploy.yml
Due: none

icon renewed
  src/assets/images/profile.png
Due: none

some tweaked
  src/components/LocalePicker.astro
  src/content/i18n/en/translation.yml
  src/content/i18n/ja/translation.yml
  src/content/page/en/privacy-policy.mdx
  src/content/page/ja/privacy-policy.mdx
Due: prettier --write

things around image optimization and remark & rehype plugins tweaked
  .vscode/settings.json
  astro.config.ts
  package.json
  src/components/LocalePicker.astro
  src/components/Navigation.astro
  src/components/PhotoGalleryItem.astro
  src/components/elements/Code.astro
  src/components/elements/Figure.astro
  src/components/elements/Image.astro
  src/content/blog/en/astro-website.mdx
  src/content/blog/ja/astro-website.mdx
  src/pages/[locale]/[slug].astro
  src/pages/[locale]/blog/[slug].astro
  src/plugins/rehype-image-figure.ts
  src/plugins/remark-astro-image-assets.ts
  src/plugins/remark-line-breaks.ts
  src/styles/global.css
  yarn.lock
Due: eslint --fix, prettier --write

things around image optimization and remark & rehype plugins tweaked
  astro.config.ts
Due: eslint --fix, prettier --write

things around image optimization and remark & rehype plugins tweaked
  .yarnrc.yml
Due: none

things around image optimization and remark & rehype plugins tweaked
  .yarnrc.yml
  astro.config.ts
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

things around image optimization and remark & rehype plugins tweaked
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

yarnrc tweaked
  .yarnrc.yml
Due: none

yarnrc tweaked
  .yarnrc.yml
  yarn.lock
Due: none

remark-astro-image-assets plugin commented out for now
  astro.config.ts
Due: eslint --fix, prettier --write

sharp downgraded to fix an error
  package.json
  yarn.lock
Due: prettier --write

sharp excluded from the optimizeDeps
  astro.config.ts
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

sharp error fixed and the image assets remark plugin tried
  astro.config.ts
Due: eslint --fix, prettier --write

sharp version tweaked and buy me a coffee button added to the footer
  .yarn/releases/yarn-4.2.2.cjs
  .yarnrc.yml
  astro.config.ts
  package.json
  src/components/Footer.astro
  yarn.lock
Due: eslint --fix, prettier --write

yarn version tweaked
  package.json
Due: prettier --write

buy me a button tweaked
  src/components/Footer.astro
Due: none

yarn lock file reinstalled
  yarn.lock
Due: none

yarn --> pnpm
  .github/workflows/deploy.yml
Due: none

yarn --> pnpm
  .github/workflows/deploy.yml
  renovate.json
Due: prettier --write

yarn --> pnpm
  astro.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write
