Repository brklntmhwk/younagi.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.yml:

'*.{js,jsx,ts,tsx}':
  - eslint --fix
  - prettier --write
  - git add
'*.{json,css,md,mdx}':
  - prettier --write
  - git add

articles tweaked
  bun.lockb
  src/assets/images/og-image.png
  src/components/elements/Figure/Code.astro
  src/content/blog/en/astro-website.mdx
  src/layouts/NewsLayout.astro
  src/styles/global.css
Due: prettier --write

articles tweaked
  src/content/blog/en/astro-website.mdx
Due: prettier --write

articles tweaked
  astro.config.ts
Due: eslint --fix, prettier --write

articles tweaked
  astro.config.ts
  src/scripts/generate-icon-types.ts
Due: eslint --fix, prettier --write

articles tweaked
  frontmatter.json
  src/components/elements/Link/LinkCard.astro
  src/content/blog/en/astro-website.mdx
  src/layouts/BlogLayout.astro
  src/scripts/generate-icon-types.ts
Due: eslint --fix, prettier --write

articles tweaked
  src/layouts/BlogLayout.astro
Due: none

articles tweaked
  src/assets/images/front-matter-cms-editing.png
  src/content/blog/en/astro-website.mdx
  src/content/blog/ja/astro-website.mdx
Due: prettier --write

articles tweaked
  src/assets/images/contact-form-demo.gif
  src/assets/images/fulltext-search.gif
  src/assets/images/likes-button-demo.gif
  src/components/elements/Link/LinkCard.astro
  src/content/blog/en/astro-website.mdx
  src/content/tags/en/tags.yml
  src/content/tags/ja/tags.yml
Due: prettier --write

articles tweaked
  src/assets/images/blog-placeholder-1.jpg
  src/assets/images/front-matter-cms-dashboard.png
  src/assets/images/front-matter-cms-demo.gif
  src/assets/images/front-matter-cms-editing.png
  src/components/elements/Link/LinkCard.astro
  src/content/blog/en/astro-website.mdx
  src/content/blog/ja/astro-website.mdx
Due: prettier --write

articles tweaked
  src/assets/images/front-matter-cms-demo.gif
  src/assets/images/fulltext-search-demo.gif
  src/assets/images/fulltext-search.gif
  src/components/Search/Search.tsx
  src/content/blog/en/astro-website.mdx
  src/content/blog/ja/astro-website.mdx
Due: eslint --fix, prettier --write

articles tweaked
  src/content/blog/en/astro-website.mdx
  src/content/blog/ja/astro-website.mdx
  src/content/page/ja/about.mdx
Due: prettier --write

articles tweaked
  src/components/Search/Search.tsx
  src/components/elements/Link/LinkCard.astro
  src/content/blog/en/astro-website.mdx
  src/content/blog/ja/astro-website.mdx
Due: eslint --fix, prettier --write

small tweaks
  frontmatter.json
  src/content/blog/en/astro-website.mdx
  src/content/blog/ja/astro-website.mdx
  src/content/page/ja/about.mdx
  src/layouts/BlogLayout.astro
  src/layouts/NewsLayout.astro
Due: prettier --write

small tweaks
  README.md
  src/content/blog/en/astro-website.mdx
  src/content/blog/ja/astro-website.mdx
Due: prettier --write

small tweaks
  src/layouts/BlogLayout.astro
Due: none

abstract <--> concrete level field added to blog contents
  bun.lockb
  frontmatter.json
  package.json
  src/components/Icon/icons/point.svg
  src/components/Icon/types.ts
  src/components/SpectrumGauge/SpectrumGauge.astro
  src/components/SpectrumGauge/index.ts
  src/components/SpectrumGauge/spectrum-gauge.css.ts
  src/components/SpectrumGauge/spectrum-gauge.ts
  src/content/blog/en/astro-website.mdx
  src/content/blog/ja/astro-website.mdx
  src/content/config.ts
  src/content/i18n/en/translation.yml
  src/content/i18n/ja/translation.yml
  src/layouts/BlogLayout.astro
Due: eslint --fix, prettier --write

abstract <--> concrete level field added to blog contents
  src/layouts/BlogLayout.astro
Due: none

star rating component created
  frontmatter.json
  src/components/Icon/Icon.astro
  src/components/SpectrumGauge/SpectrumGauge.astro
  src/components/SpectrumGauge/index.ts
  src/components/SpectrumGauge/spectrum-gauge.css.ts
  src/components/SpectrumGauge/spectrum-gauge.ts
  src/components/StarRating/StarIcon.tsx
  src/components/StarRating/StarRating.astro
  src/components/StarRating/index.ts
  src/components/StarRating/star-rating.css.ts
  src/content/blog/en/astro-website.mdx
  src/content/blog/ja/astro-website.mdx
  src/content/config.ts
  src/content/i18n/en/translation.yml
  src/content/i18n/ja/translation.yml
  src/layouts/BlogLayout.astro
Due: eslint --fix, prettier --write

icon component tweaked
  src/components/Icon/Icon.astro
Due: none

textlint introduced and the config tweaked
  .husky/_/pre-commit
  .husky/_/prepare-commit-msg
  .husky/pre-commit
  .lintstagedrc.yml
  .textlintrc.yml
  bun.lockb
  lefthook.yml
  package.json
  src/components/StarRating/star-rating.css.ts
  src/content/blog/en/astro-website.mdx
  src/content/blog/ja/astro-website.mdx
  src/content/page/ja/about.mdx
  src/content/page/ja/privacy-policy.mdx
Due: eslint --fix, prettier --write

Github Actions modified
  .github/workflows/deploy.yml
  src/content/blog/ja/astro-website.mdx
Due: prettier --write

bun lockfile updated to avoid deploy errors
  bun.lockb
Due: none

bun lockfile updated to avoid deploy errors
  .github/workflows/deploy.yml
Due: none

bun lockfile updated to avoid deploy errors
  bun.lockb
  package.json
Due: prettier --write

bun lockfile updated to avoid deploy errors
  package.json
Due: prettier --write

small tweaks
  .textlintrc.yml
  src/components/StarRating/star-rating.css.ts
  src/components/Taxonomy/taxonomy.css.ts
  src/components/elements/Callout/callout.css.ts
  src/content/blog/ja/astro-website.mdx
  src/content/tags/en/tags.yml
  src/content/tags/ja/tags.yml
  src/layouts/BlogLayout.astro
Due: eslint --fix, prettier --write

font file sizes optimized (by subsetting them)
  public/fonts/LINESeedJP_OTF_Bd.woff2
  public/fonts/LINESeedJP_OTF_Eb.woff2
  public/fonts/LINESeedJP_OTF_Rg.woff2
  public/fonts/LINESeedJP_OTF_Th.woff2
  src/content/blog/en/astro-website.mdx
  src/content/blog/ja/astro-website.mdx
Due: prettier --write

code elem component style --> vanilla-extract
  src/components/StarRating/StarIcon.tsx
  src/components/StarRating/StarRating.astro
  src/components/StarRating/star-rating.css.ts
  src/components/Taxonomy/taxonomy.css.ts
  src/components/elements/Callout/callout.css.ts
  src/components/elements/Figure/Code.astro
  src/components/elements/Figure/figure.css.ts
  src/content/blog/en/astro-website.mdx
  src/content/blog/ja/astro-website.mdx
  src/plugins/remark-embed.ts
  src/styles/global.css
Due: eslint --fix, prettier --write

embeds in the first article replaced with images
  src/assets/images/canva-embed.png
  src/assets/images/google-slides-embed.png
  src/assets/images/youtube-embed.png
  src/content/blog/en/astro-website.mdx
  src/content/blog/ja/astro-website.mdx
  src/styles/global.css
Due: prettier --write

about tweaked
  README.md
  frontmatter.json
  src/components/BuyMeACoffee/buy-me-a-coffee.css.ts
  src/components/ContactForm/Checkbox/checkbox.css.ts
  src/components/ContactForm/SubmitButton/submit-button.css.ts
  src/components/ContactForm/contact-form.css.ts
  src/components/Likes/LikeIcon.tsx
  src/components/Likes/likes.css.ts
  src/components/LocalePicker/locale-picker.css.ts
  src/components/Modal/Modal.tsx
  src/components/Modal/modal.css.ts
  src/components/Search/search.css.ts
  src/components/StarRating/StarIcon.tsx
  src/components/StarRating/star-rating.css.ts
  src/components/Taxonomy/taxonomy.css.ts
  src/components/elements/Callout/callout.css.ts
  src/components/elements/Link/LinkCard.astro
  src/content/blog/en/astro-and-front-matter-cms-combi.mdx
  src/content/blog/en/astro-website.mdx
  src/content/blog/ja/astro-website.mdx
  src/content/config.ts
  src/content/i18n/en/translation.yml
  src/content/i18n/ja/translation.yml
  src/content/page/en/about.mdx
  src/content/page/ja/about.mdx
  src/env.d.ts
  src/layouts/AboutLayout.astro
  src/lib/collections/data.ts
  src/lib/mdx-components.ts
  src/lib/unsplash/contents.ts
  src/pages/[locale]/[slug].astro
  src/pages/[slug].astro
  src/styles/styles.css.ts
Due: eslint --fix, prettier --write

about tweaked
  frontmatter.json
Due: prettier --write

article created
  src/assets/images/front-matter-cms-ai-assitance.png
  src/assets/images/front-matter-cms-create-data.gif
  src/assets/images/front-matter-cms-editing.png
  src/assets/images/front-matter-cms-media.png
  src/components/elements/Callout/callout.css.ts
  src/content/blog/ja/astro-and-front-matter-cms-combi.mdx
  src/content/page/en/about.mdx
  src/content/page/ja/about.mdx
  src/layouts/BlogLayout.astro
  src/styles/global.css
Due: eslint --fix, prettier --write

article tweaked
  .textlintrc.yml
  src/components/BlogList/BlogList.astro
  src/content/blog/en/astro-and-front-matter-cms-combi.mdx
  src/content/blog/en/astro-website.mdx
  src/content/blog/ja/astro-and-front-matter-cms-combi.mdx
  src/content/blog/ja/astro-website.mdx
Due: prettier --write

article tweaked
  src/content/blog/en/astro-and-front-matter-cms-combi.mdx
  src/content/blog/ja/astro-and-front-matter-cms-combi.mdx
  src/layouts/BlogLayout.astro
Due: prettier --write

article tweaked
  src/content/blog/ja/astro-and-front-matter-cms-combi.mdx
Due: prettier --write

article tweaked
  src/content/blog/en/astro-and-front-matter-cms-combi.mdx
  src/content/blog/ja/astro-and-front-matter-cms-combi.mdx
  src/content/tags/en/tags.yml
  src/content/tags/ja/tags.yml
Due: prettier --write
