Repository brklntmhwk/younagi.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.yml:

'*.{js,jsx,ts,tsx}':
  - eslint --fix
  - prettier --write
  - git add
'*.{json,css,md,mdx}':
  - prettier --write
  - git add

packages cleaned and gitattrs added
  .gitattribute
  .gitattributes
  package.json
  yarn.lock
Due: prettier --write

packages cleaned and gitattrs added
  package-lock.json
  package.json
  yarn.lock
Due: prettier --write

packages cleaned and gitattrs added
  package.json
Due: prettier --write

packages cleaned and gitattrs added
  package.json
  yarn.lock
Due: prettier --write

packages cleaned
  src/assets/images/blog-placeholder-1.png
  src/content/blog/en/markdown-style-guide.mdx
Due: prettier --write

packages cleaned
  src/content/blog/en/markdown-style-guide.mdx
Due: prettier --write

package lock deleted (why it existed in the first place?)
  package-lock.json
  src/content/blog/en/markdown-style-guide.mdx
Due: prettier --write

sharp installed
  package.json
  yarn.lock
Due: prettier --write

reverted to the last commit that was successful
  package.json
Due: prettier --write

reverted to the last commit that was successful
  yarn.lock
Due: none

reverted to the last commit that was successful
  .gitattributes
Due: none

reverted to the last commit that was successful
  .gitattributes
  package.json
  src/assets/images/blog-placeholder-1.jpg
  src/content/blog/en/markdown-style-guide.mdx
  yarn.lock
Due: prettier --write

sharp version tweaked
  package.json
  yarn.lock
Due: prettier --write

unsplash API introduced and photo gallery component created
  package.json
  src/components/BaseHead.astro
  src/components/Footer.astro
  src/components/LocalePicker.astro
  src/components/PhotoGallery.astro
  src/components/PhotoGalleryItem.astro
  src/components/ProfileIcon.astro
  src/components/Search.astro
  src/components/Toc.astro
  src/consts/index.ts
  src/content/config.ts
  src/content/i18n/en/translation.yml
  src/content/i18n/ja/translation.yml
  src/layouts/AboutLayout.astro
  src/lib/unsplash/client.ts
  src/lib/unsplash/getContent.ts
  src/pages/[locale]/index.astro
  src/utils/toSnakeCase.ts
  yarn.lock
Due: eslint --fix, prettier --write

Profile icon component refactored
  src/components/BaseHead.astro
  src/components/LocalePicker.astro
  src/components/Message.astro
  src/components/Navigation.astro
  src/components/PhotoGallery.astro
  src/components/PhotoGalleryItem.astro
  src/components/ProfileIcon.astro
  src/components/Search.astro
  src/components/Toc.astro
  src/consts/index.ts
  src/layouts/AboutLayout.astro
  src/pages/[locale]/index.astro
Due: eslint --fix, prettier --write

photo gallery tweaked
  src/components/PhotoGallery.astro
  src/components/PhotoGalleryItem.astro
  src/components/ProfileIcon.astro
  src/components/elements/Image.astro
  src/content/config.ts
  src/content/i18n/en/translation.yml
  src/content/i18n/ja/translation.yml
  src/styles/global.css
  src/utils/getDateDiff.ts
Due: eslint --fix, prettier --write

photo gallery tweaked
  src/components/BulletinBoard.astro
  src/components/LocalePicker.astro
  src/components/NavMenuContainer.astro
  src/components/Navigation.astro
  src/components/PhotoGallery.astro
  src/components/PhotoGalleryItem.astro
  src/components/Search.astro
  src/components/Toc.astro
  src/layouts/BaseLayout.astro
  src/pages/[locale]/index.astro
Due: none

lightningcss config tweaked
  astro.config.ts
  package.json
  src/components/PhotoGallery.astro
  src/components/PhotoGalleryItem.astro
  src/layouts/AboutLayout.astro
  src/layouts/BlogLayout.astro
  src/styles/global.css
  yarn.lock
Due: eslint --fix, prettier --write

Unsplash API key added to secrets in Github workflows
  .github/workflows/deploy.yml
  src/components/Footer.astro
Due: none

pixel border class added to global css
  src/components/Message.astro
  src/components/PhotoGalleryItem.astro
  src/styles/global.css
  src/utils/getDateDiff.ts
Due: eslint --fix, prettier --write

toc eventlistener tweaked (page-load)
  src/components/Toc.astro
Due: none

about layout and blog layout tweaked
  src/components/Footer.astro
  src/components/LocalePicker.astro
  src/components/PhotoGallery.astro
  src/components/Search.astro
  src/components/Toc.astro
  src/content/config.ts
  src/content/i18n/en/translation.yml
  src/content/i18n/ja/translation.yml
  src/layouts/AboutLayout.astro
  src/layouts/BlogLayout.astro
  src/styles/global.css
Due: eslint --fix, prettier --write

unsplash api lib tweaked
  src/components/Footer.astro
  src/components/PhotoGallery.astro
  src/lib/unsplash/getContent.ts
  src/utils/getDateDiff.ts
Due: eslint --fix, prettier --write

about page edited
  .vscode/settings.json
  src/components/Footer.astro
  src/components/Message.astro
  src/components/Navigation.astro
  src/components/PhotoGallery.astro
  src/components/PhotoGalleryItem.astro
  src/components/TaxonomyList.astro
  src/content/config.ts
  src/content/i18n/en/translation.yml
  src/content/i18n/ja/translation.yml
  src/content/page/en/about.mdx
  src/content/page/ja/about.mdx
  src/layouts/NewsLayout.astro
  src/pages/[locale]/index.astro
Due: eslint --fix, prettier --write

about page edited and translation added
  src/content/config.ts
  src/content/i18n/en/translation.yml
  src/content/i18n/ja/translation.yml
  src/content/page/en/about.mdx
  src/content/page/ja/about.mdx
  src/pages/[locale]/index.astro
  src/styles/global.css
Due: eslint --fix, prettier --write

subtle tweakes overall
  frontmatter.json
  src/components/Message.astro
  src/consts/index.ts
  src/content/blog/en/aaa.mdx
  src/content/blog/en/bbb.mdx
  src/content/blog/en/ccc.mdx
  src/content/blog/en/ddd.mdx
  src/content/blog/en/eee.mdx
  src/content/blog/en/fff.mdx
  src/content/blog/en/first-entry.mdx
  src/content/blog/en/first-post.mdx
  src/content/blog/en/ggg.mdx
  src/content/blog/en/hhh.mdx
  src/content/blog/en/iii.mdx
  src/content/blog/en/second-post.mdx
  src/content/blog/en/third-post.mdx
  src/content/blog/en/website-dev.mdx
  src/content/blog/ja/aaa.mdx
  src/content/blog/ja/bbb.mdx
  src/content/blog/ja/ccc.mdx
  src/content/blog/ja/ddd.mdx
  src/content/blog/ja/eee.mdx
  src/content/blog/ja/fff.mdx
  src/content/blog/ja/first-entry.mdx
  src/content/blog/ja/first-post.mdx
  src/content/blog/ja/ggg.mdx
  src/content/blog/ja/hhh.mdx
  src/content/blog/ja/iii.mdx
  src/content/blog/ja/second-post.mdx
  src/content/blog/ja/third-post.mdx
  src/content/blog/ja/website-dev.mdx
  src/content/news/en/second-news.md
  src/content/page/en/about.mdx
  src/content/page/ja/about.mdx
Due: eslint --fix, prettier --write

blog taxonomy pages tweaked (draft entries hidden)
  src/pages/[locale]/blog/archive/[date]/[...page].astro
  src/pages/[locale]/blog/archive/index.astro
  src/pages/[locale]/blog/categories/[category]/[...page].astro
  src/pages/[locale]/blog/categories/index.astro
  src/pages/[locale]/blog/tags/[tag]/[...page].astro
  src/pages/[locale]/blog/tags/index.astro
  src/pages/[locale]/index.astro
Due: none

taxonomies tweaked
  src/components/TaxonomyList.astro
  src/content/blog/en/astro-website.mdx
  src/content/blog/en/markdown-style-guide.mdx
  src/content/blog/en/website-dev.mdx
  src/content/blog/ja/astro-website.mdx
  src/content/blog/ja/markdown-style-guide.mdx
  src/pages/[locale]/blog/archive/index.astro
  src/pages/[locale]/blog/categories/[category]/[...page].astro
  src/pages/[locale]/blog/categories/index.astro
  src/pages/[locale]/blog/tags/[tag]/[...page].astro
  src/pages/[locale]/blog/tags/index.astro
  src/utils/slugify.ts
Due: eslint --fix, prettier --write

taxonomies tweaked
  src/content/blog/en/website-dev.mdx
  src/pages/[locale]/blog/categories/[category]/[...page].astro
  src/pages/[locale]/blog/tags/[tag]/[...page].astro
Due: prettier --write

draft content made unreacheable in prod mode but not in dev mode
  src/components/BaseHead.astro
  src/components/BlogList.astro
  src/components/BulletinBoard.astro
  src/components/Footer.astro
  src/components/FormattedDate.astro
  src/components/LocalePicker.astro
  src/components/Message.astro
  src/components/Navigation.astro
  src/components/Pager.astro
  src/components/PhotoGallery.astro
  src/components/PhotoGalleryItem.astro
  src/components/Search.astro
  src/components/Svg/index.astro
  src/components/TaxonomyList.astro
  src/components/ThemeToggle.astro
  src/components/Toc.astro
  src/consts/index.ts
  src/content/page/en/about.mdx
  src/content/page/ja/about.mdx
  src/layouts/AboutLayout.astro
  src/layouts/BaseLayout.astro
  src/layouts/BlogLayout.astro
  src/layouts/NewsLayout.astro
  src/lib/content.ts
  src/pages/404.astro
  src/pages/[locale]/blog/[...page].astro
  src/pages/[locale]/blog/[slug].astro
  src/pages/[locale]/blog/archive/[date]/[...page].astro
  src/pages/[locale]/blog/archive/index.astro
  src/pages/[locale]/blog/categories/[category]/[...page].astro
  src/pages/[locale]/blog/categories/index.astro
  src/pages/[locale]/blog/tags/[tag]/[...page].astro
  src/pages/[locale]/blog/tags/index.astro
  src/pages/[locale]/index.astro
  src/pages/[locale]/news/[...page].astro
  src/pages/[locale]/rss.xml.ts
  src/utils/getDateDiff.ts
  src/utils/i18n/data.ts
  src/utils/i18n/getLocaleFromUrl.ts
Due: eslint --fix, prettier --write

js inside some components improved
  src/components/LocalePicker.astro
  src/components/Search.astro
  src/components/ThemeToggle.astro
  src/components/Toc.astro
Due: none

some translations tweaked and website name changed
  README.md
  src/content/i18n/en/translation.yml
  src/content/i18n/ja/translation.yml
  src/content/meta/en/site-data.yml
  src/content/meta/ja/site-data.yml
Due: prettier --write

github workflows tweaked
  .github/workflows/deploy.yml
Due: none

og logo replaced
  .github/workflows/deploy.yml
  src/assets/images/logo.png
  src/components/PhotoGallery.astro
  src/components/Toc.astro
  src/content/blog/en/astro-website.mdx
  src/content/blog/ja/astro-website.mdx
  src/layouts/AboutLayout.astro
  src/layouts/BlogLayout.astro
  src/layouts/NewsLayout.astro
  src/pages/og/[...slug].ts
Due: eslint --fix, prettier --write

privacy policy page crafted and page content layout created
  src/assets/images/hitokage.png
  src/assets/images/profile.png
  src/components/Footer.astro
  src/content/blog/en/markdown-style-guide.mdx
  src/content/config.ts
  src/content/i18n/en/translation.yml
  src/content/page/en/about.mdx
  src/content/page/en/privacy-policy.mdx
  src/layouts/PageLayout.astro
  src/pages/[locale]/[slug].astro
  src/pages/[locale]/blog/[slug].astro
Due: eslint --fix, prettier --write

privacy policy page crafted and page content layout created
  src/content/i18n/ja/translation.yml
Due: none

privacy policy page crafted and page content layout created
  src/content/page/ja/privacy-policy.mdx
Due: prettier --write

privacy policy page crafted
  src/content/page/ja/privacy-policy.mdx
Due: prettier --write
