Repository brklntmhwk/younagi.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

ogImage settings
  package.json
  yarn.lock
Due: prettier --write

ogImage settings
  .yarnrc.yml
Due: none

ogImage settings (astro-og-canvas)
  .yarnrc.yml
  package.json
  src/pages/og/[type]/[...slug].png.ts
  yarn.lock
Due: eslint --fix, prettier --write

ogImage settings (astro-og-canvas)
  src/pages/og/[...slug].png.ts
Due: eslint --fix, prettier --write

ogImage settings (astro-og-canvas)
  src/assets/fonts/DotGothic16-Regular.woff2
  src/assets/fonts/PixelMplus10-Bold.woff2
  src/assets/fonts/PixelMplus10-Regular.woff2
  src/assets/fonts/PixelMplus12-Bold.woff2
  src/assets/fonts/PixelMplus12-Regular.woff2
  src/pages/og/[...slug].png.ts
Due: eslint --fix, prettier --write

ogImage settings (astro-og-canvas)
  astro.config.ts
Due: eslint --fix, prettier --write

ogImage settings (astro-og-canvas) & according changes to be reflected
  astro.config.ts
  src/assets/images/hitokage.png
  src/components/BaseHead.astro
  src/layouts/BaseLayout.astro
  src/layouts/BlogLayout.astro
  src/pages/404.astro
  src/pages/[locale]/[slug].astro
  src/pages/[locale]/blog/[...page].astro
  src/pages/[locale]/blog/[slug].astro
  src/pages/[locale]/blog/archive/[date]/[...page].astro
  src/pages/[locale]/blog/archive/index.astro
  src/pages/[locale]/blog/categories/[category]/[...page].astro
  src/pages/[locale]/blog/categories/index.astro
  src/pages/[locale]/blog/tags/[tag]/[...page].astro
  src/pages/[locale]/blog/tags/index.astro
  src/pages/[locale]/index.astro
  src/pages/index.astro
  src/pages/og/[...slug].png.ts
Due: eslint --fix, prettier --write

ogImage settings (astro-og-canvas) & according changes to be reflected
  src/layouts/AboutLayout.astro
Due: none

ogImage settings (astro-og-canvas) & according changes to be reflected
  src/components/OgImage/index.tsx
  src/layouts/BlogLayout.astro
  src/pages/api/og/[...slug].png.ts
Due: eslint --fix, prettier --write

ogImage settings (astro-og-canvas) & according changes to be reflected
  src/pages/api/og/[...slug].png.ts
Due: eslint --fix, prettier --write

ogImage settings (astro-og-canvas) & according changes to be reflected
  src/layouts/BlogLayout.astro
  src/pages/api/og/[...slug].png.ts
Due: eslint --fix, prettier --write

ogImage settings (astro-og-canvas) & according changes to be reflected
  src/layouts/BlogLayout.astro
Due: none

ogImage settings (astro-og-canvas) & according changes to be reflected
  package.json
  src/layouts/BlogLayout.astro
  src/pages/404.astro
  src/pages/api/og/[...slug].png.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

ogImage settings (astro-og-canvas)
  src/layouts/BlogLayout.astro
  src/pages/api/og/[...slug].png.ts
Due: eslint --fix, prettier --write

ogImage settings (astro-og-canvas)
  src/layouts/BlogLayout.astro
Due: none

ogImage settings (astro-og-canvas)
  src/layouts/BlogLayout.astro
  src/pages/og/[...slug].png.ts
Due: eslint --fix, prettier --write

ogImage settings (astro-og-canvas)
  src/layouts/BlogLayout.astro
  src/pages/og/[...slug].ts
Due: eslint --fix, prettier --write

code block font tweaked
  src/components/elements/Code.astro
  src/pages/og/[...slug].ts
  src/styles/global.css
Due: eslint --fix, prettier --write

code block font tweaked
  src/components/elements/Code.astro
  src/layouts/BlogLayout.astro
  src/styles/global.css
Due: prettier --write

table style tweaked
  src/components/BlogList.astro
  src/components/elements/Code.astro
  src/components/elements/Image.astro
  src/consts/index.ts
  src/content/blog/en/markdown-style-guide.mdx
  src/content/blog/ja/markdown-style-guide.mdx
  src/layouts/BlogLayout.astro
Due: eslint --fix, prettier --write

image style tweaked
  src/assets/images/blog-placeholder-1.jpg
  src/content/blog/en/markdown-style-guide.mdx
Due: prettier --write

image style tweaked
  src/components/elements/Image.astro
Due: none

rss feed internationalized
  src/pages/[locale]/rss.xml.ts
Due: eslint --fix, prettier --write

rss feed internationalized
  src/components/elements/Image.astro
  src/pages/[locale]/rss.xml.ts
Due: eslint --fix, prettier --write

rss feed internationalized
  src/pages/rss.xml.ts
Due: eslint --fix, prettier --write

rss feed internationalized
  src/pages/[locale]/rss.xml.ts
  src/pages/rss.xml.ts
Due: eslint --fix, prettier --write

rss feed icon set in the footer
  src/components/Footer.astro
  src/components/Svg/icons/rss.svg
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,css,md,mdx})
