Repository brklntmhwk/younagi.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix(none): 🐛 fix import paths
  astro.config.ts
  src/layouts/AboutLayout.astro
  src/lib/unified/plugins/remark-embed.ts
  src/lib/unified/plugins/transformers.ts
  src/pages/[locale]/index.astro
  src/pages/index.astro
Due: eslint --fix, prettier --write

refactor(overall): ✨ tweak image optimization & card component parts
  .frontmatter/database/mediaDb.json
  astro.config.ts
  bun.lockb
  package.json
  src/components/elements/Card/Card.astro
  src/components/elements/Figure/Figure.astro
  src/components/elements/Figure/Image.astro
  src/components/elements/Figure/index.ts
  src/lib/blur.ts
  src/lib/mdx-components.ts
  src/lib/unified/plugins/rehype-image-figure.ts
  src/lib/unified/plugins/remark-astro-image-assets.ts
  src/lib/unified/plugins/remark-card.ts
  src/lib/unified/plugins/remark-embed.ts
  src/lib/unified/transformers.ts
  tsconfig.json
Due: eslint --fix, prettier --write

refactor(overall): ✨ make the remark card plugin configurable
  src/lib/unified/plugins/remark-card.ts
Due: eslint --fix, prettier --write

refactor(ui): ✨ add blurred placeholders to external images
  bun.lockb
  package.json
  src/components/elements/Figure/Image.astro
  src/components/ui/PhotoGallery/PhotoGalleryItem.astro
  src/lib/images.ts
  src/lib/unified/plugins/remark-card.ts
Due: eslint --fix, prettier --write

refactor(ui): ✨ add blurred placeholders to external images
  src/components/ui/PhotoGallery/PhotoGalleryItem.astro
Due: none

refactor(ui): ✨ add blurhash to Unsplash photos
  src/components/elements/Figure/Image.astro
  src/components/ui/PhotoGallery/PhotoGalleryItem.astro
Due: none

chore(ui): 🤖 introduce tailwind css
  astro.config.ts
  bun.lockb
  package.json
  src/components/common/BaseHead/BaseHead.astro
  src/components/functional/CustomStyles.astro/CustomStyles.astro
  src/components/functional/CustomStyles.astro/index.ts
  src/lib/images.ts
  src/styles/tailwind.css
  tailwind.config.mjs
Due: eslint --fix, prettier --write

fix(deps): 🐛 fix the module is not defined error
  bun.lockb
  overrides/cssesc/index.cjs
  overrides/cssesc/index.mjs
  overrides/cssesc/package.json
  package.json
Due: prettier --write

fix(ui): 🐛 fix the logical error in the callout title component
  src/components/elements/Callout/CalloutTitle.astro
Due: none

fix(deps): 🐛 fix build error
  .gitignore
  bun.lockb
  overrides/cssesc/index.cjs
  overrides/cssesc/index.mjs
  overrides/cssesc/package.json
  package.json
  src/components/ui/Icon/types.ts
  tsconfig.json
Due: eslint --fix, prettier --write

fix(deps): 🐛 fix build error
  .gitignore
  overrides/cssesc/index.cjs
  overrides/cssesc/index.mjs
  overrides/cssesc/package.json
Due: prettier --write

fix(deps): 🐛 fix build error
  bun.lockb
  package.json
Due: prettier --write

chore(deps): 🤖 add remark-card
  astro.config.ts
  package.json
Due: eslint --fix, prettier --write

chore(deps): 🤖 add remark-card
  bun.lockb
Due: none

fix(deps): 🐛 version @modular-forms/solid back to 0.23.0
  bun.lockb
  package.json
Due: prettier --write

docs(contents): 📖 modify the MDX syntax of card components
  src/assets/images/plugin-image.jpg
  src/content/blog/en/total-newbie-builds-mini-itx-linux-pc.mdx
  src/content/blog/ja/total-newbie-builds-mini-itx-linux-pc.mdx
  src/content/page/en/tools.mdx
  src/content/page/en/work.mdx
  src/content/page/ja/tools.mdx
  src/content/page/ja/work.mdx
Due: prettier --write

refactor(ui): ✨ modify card component
  src/components/elements/Card/Card.astro
  src/components/elements/Card/card.ts
  src/components/ui/Icon/index.ts
  src/components/ui/PhotoGallery/PhotoGalleryItem.astro
Due: eslint --fix, prettier --write

refactor(overall): ✨ tweak overall
  .frontmatter/database/mediaDb.json
  astro.config.ts
  src/lib/unified/plugins/remark-card.ts
  src/styles/global.css
  src/styles/pixelmplus.css
Due: eslint --fix, prettier --write

fix(deps): 🐛 remove the override of cssesc to fix the deploy error
  astro.config.ts
  bun.lockb
  package.json
Due: eslint --fix, prettier --write

fix(deps): 🐛 remove the override of cssesc to fix the deploy error
  bun.lockb
  package.json
Due: prettier --write

chore(config): 🤖 change astro image service option in astro config
  astro.config.ts
Due: eslint --fix, prettier --write

fix(deps): 🐛 reinstall deps
  bun.lockb
Due: none

fix(deps): 🐛 remove all overrides
  bun.lockb
  overrides/cssesc/index.cjs
  overrides/cssesc/index.mjs
  overrides/cssesc/package.json
Due: prettier --write

docs(contents): 📖 tweak articles
  astro.config.ts
  bun.lockb
  package.json
  public/videos/contact-form-demo.mp4
  public/videos/front-matter-cms-create-data.mp4
  public/videos/front-matter-cms-demo.mp4
  public/videos/front-matter-cms-demo.webm
  public/videos/fulltext-search-demo.mp4
  public/videos/likes-button-demo.mp4
  public/videos/npkb-create-new-note.mp4
  public/videos/sample-video.mp4
  src/assets/images/plugin-image.jpg
  src/assets/images/plugin-image.png
  src/components/elements/Figure/Figure.astro
  src/components/elements/Figure/Video.astro
  src/content/blog/en/astro-and-front-matter-cms-combi.mdx
  src/content/blog/en/astro-website.mdx
  src/content/blog/en/obsidian-knowledge-base.mdx
  src/content/blog/en/total-newbie-builds-mini-itx-linux-pc.mdx
  src/content/blog/ja/astro-and-front-matter-cms-combi.mdx
  src/content/blog/ja/astro-website.mdx
  src/content/blog/ja/obsidian-knowledge-base.mdx
  src/content/blog/ja/total-newbie-builds-mini-itx-linux-pc.mdx
  src/content/page/en/work.mdx
  src/content/page/ja/work.mdx
  src/lib/consts.ts
Due: eslint --fix, prettier --write

refactor(contents): ✨ delete all unused .gif files
  src/assets/images/contact-form-demo.gif
  src/assets/images/front-matter-cms-create-data.gif
  src/assets/images/front-matter-cms-demo.gif
  src/assets/images/fulltext-search-demo.gif
  src/assets/images/likes-button-demo.gif
  src/assets/images/npkb-create-new-note.gif
  src/components/elements/Figure/Figure.astro
  src/components/elements/Figure/Video.astro
Due: none

chore(ui): 🤖 setup tailwindcss
  astro.config.ts
  bun.lockb
  package.json
  tailwind.config.ts
Due: eslint --fix, prettier --write

refactor(api): ✨ replace getDataEntryById with getEntry
  src/components/common/BaseHead/BaseHead.astro
  src/lib/collections/data.ts
Due: eslint --fix, prettier --write

style(ui): 💄 add tailwind styling
  bun.lockb
  package.json
  src/components/common/Footer/Footer.astro
  src/components/common/Navigation/NavMenuContainer.astro
  src/components/common/Navigation/Navigation.astro
  src/components/elements/Card/Card.astro
  src/components/elements/Link/LinkCard.astro
  src/components/functional/CustomStyles/CustomStyles.astro
  src/components/models/BlogList/BlogList.astro
  src/components/models/Pager/Pager.astro
  src/components/ui/Balloon/Balloon.astro
  src/components/ui/BulletinBoard/BulletinBoard.astro
  src/components/ui/BuyMeACoffee/BuyMeACoffee.astro
  src/components/ui/PhotoGallery/PhotoGallery.astro
  src/components/ui/PhotoGallery/PhotoGalleryItem.astro
  src/layouts/AboutLayout.astro
  src/layouts/BlogLayout.astro
  src/layouts/NewsLayout.astro
  src/layouts/PageLayout.astro
  src/pages/[locale]/blog/[...page].astro
  src/pages/[locale]/blog/archive/index.astro
  src/pages/[locale]/index.astro
  src/pages/[locale]/news/[...page].astro
  src/pages/blog/[...page].astro
  src/pages/blog/archive/index.astro
  src/pages/index.astro
  src/pages/news/[...page].astro
  tailwind.config.ts
Due: eslint --fix, prettier --write

style(ui): 💄 add tailwind
  src/components/models/Taxonomy/Taxonomy.astro
  src/components/ui/PhotoGallery/PhotoGallery.astro
  tailwind.config.ts
Due: eslint --fix, prettier --write

style(ui): 💄 add tailwind and tweak tailwind config
  .frontmatter/database/mediaDb.json
  astro.config.ts
  bun.lockb
  package.json
  src/components/common/Footer/Footer.astro
  src/components/common/Navigation/NavLink.astro
  src/components/common/Navigation/NavMenuContainer.astro
  src/components/common/Navigation/Navigation.astro
  src/components/common/Search/Search.tsx
  src/components/common/Search/search.css.ts
  src/components/elements/Callout/Callout.astro
  src/components/elements/Callout/CalloutTitle.astro
  src/components/elements/Callout/callout.css.ts
  src/components/elements/Figure/Code.astro
  src/components/elements/Figure/Image.astro
  src/components/elements/Figure/Video.astro
  src/components/elements/Figure/figure.css.ts
  src/components/functional/CustomStyles/CustomStyles.astro
  src/components/models/Pager/Pager.astro
  src/components/models/Taxonomy/Taxonomy.astro
  src/components/models/Taxonomy/taxonomy.css.ts
  src/components/models/Taxonomy/taxonomy.ts
  src/components/ui/PhotoGallery/PhotoGallery.astro
  src/content/blog/en/astro-and-front-matter-cms-combi.mdx
  src/content/config.ts
  src/content/tags/en/tags.yml
  src/content/tags/ja/tags.yml
  src/pages/[locale]/blog/[...page].astro
  src/pages/[locale]/blog/archive/index.astro
  src/pages/blog/[...page].astro
  src/pages/blog/archive/index.astro
  tailwind.config.ts
Due: eslint --fix, prettier --write

style(ui): 💄 add tailwind to callout components
  .frontmatter/database/mediaDb.json
  src/components/elements/Callout/Callout.astro
  src/components/elements/Callout/CalloutContent.astro
  src/components/elements/Callout/CalloutTitle.astro
  src/components/elements/Callout/callout.css.ts
  src/components/elements/Callout/callouts.ts
  src/components/elements/Callout/index.ts
  src/lib/mdx-components.ts
  src/lib/unified/plugins/remark-callout.ts
  tailwind.config.ts
Due: eslint --fix, prettier --write

chore(deps): 🤖 remove vanilla extract
  astro.config.ts
  bun.lockb
  package.json
  src/components/elements/Callout/Callout.astro
Due: eslint --fix, prettier --write

chore(config): 🤖 tweak browserslist config
  astro.config.ts
  bun.lockb
Due: eslint --fix, prettier --write

style(ui): 💄 add tailwind to pages
  src/pages/404.astro
  src/pages/[locale]/blog/[...page].astro
  src/pages/[locale]/blog/archive/[date]/[...page].astro
  src/pages/[locale]/blog/archive/index.astro
  src/pages/[locale]/blog/categories/[category]/[...page].astro
  src/pages/[locale]/blog/categories/index.astro
  src/pages/[locale]/blog/tags/[tag]/[...page].astro
  src/pages/[locale]/blog/tags/index.astro
  src/pages/[locale]/index.astro
  src/pages/[locale]/news/[...page].astro
  src/pages/blog/[...page].astro
  src/pages/blog/archive/[date]/[...page].astro
  src/pages/blog/archive/index.astro
  src/pages/blog/categories/[category]/[...page].astro
  src/pages/blog/categories/index.astro
  src/pages/blog/tags/[tag]/[...page].astro
  src/pages/blog/tags/index.astro
  src/pages/index.astro
  src/pages/news/[...page].astro
Due: none

fix(contents): 🐛 compress size of some images
  src/assets/images/nixos-installation-done.avif
  src/assets/images/nixos-installation-done.jpg
  src/assets/images/nixos-installation-failed.avif
  src/assets/images/nixos-installation-failed.jpg
  src/content/blog/en/total-newbie-builds-mini-itx-linux-pc.mdx
  src/content/blog/ja/total-newbie-builds-mini-itx-linux-pc.mdx
  tailwind.config.ts
Due: eslint --fix, prettier --write

chore(config): 🤖 turn off the lightningCSS minification
  astro.config.ts
Due: eslint --fix, prettier --write

chore(config): 🤖 tweak tailwind config
  tailwind.config.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,css,md,mdx})
