Repository brklntmhwk/younagi.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

layout tweaked
  src/layouts/AboutLayout.astro
  src/layouts/NewsLayout.astro
  src/layouts/PageLayout.astro
Due: none

the first entry updated
  src/components/elements/Callout.astro
  src/components/elements/Code.astro
  src/content/blog/en/astro-website.mdx
  src/content/blog/ja/astro-website.mdx
  src/plugins/remark-callout.ts
Due: eslint --fix, prettier --write

the first entry updated
  src/content/blog/en/astro-website.mdx
  src/content/blog/ja/astro-website.mdx
Due: prettier --write

layout tweaked
  src/layouts/BaseLayout.astro
  src/pages/[locale]/blog/[...page].astro
  src/pages/[locale]/blog/archive/[date]/[...page].astro
  src/pages/[locale]/blog/archive/index.astro
  src/pages/[locale]/blog/categories/[category]/[...page].astro
  src/pages/[locale]/blog/categories/index.astro
  src/pages/[locale]/blog/tags/[tag]/[...page].astro
  src/pages/[locale]/blog/tags/index.astro
Due: none

contact form created
  src/components/Contact.astro
  src/components/Navigation.astro
  src/consts/index.ts
  src/content/blog/en/astro-website.mdx
  src/content/blog/ja/astro-website.mdx
  src/content/config.ts
  src/content/i18n/en/translation.yml
  src/content/i18n/ja/translation.yml
  src/content/meta/en/site-data.yml
  src/content/page/en/contact.mdx
  src/content/page/ja/contact.mdx
  src/pages/404.astro
  src/pages/[locale]/[slug].astro
  src/styles/global.css
Due: eslint --fix, prettier --write

about page tweaked
  src/components/BlogList.astro
  src/content/page/en/about.mdx
  src/content/page/en/privacy-policy.mdx
  src/content/page/ja/about.mdx
  src/content/page/ja/privacy-policy.mdx
  src/layouts/AboutLayout.astro
  src/layouts/BlogLayout.astro
  src/layouts/NewsLayout.astro
  src/layouts/PageLayout.astro
Due: prettier --write

about page tweaked
  src/components/Contact.astro
  src/content/page/en/about.mdx
  src/content/page/ja/about.mdx
Due: prettier --write

about page and layout tweaked
  src/components/Message.astro
  src/content/i18n/en/translation.yml
  src/content/page/en/about.mdx
  src/content/page/ja/about.mdx
  src/layouts/AboutLayout.astro
  src/layouts/BlogLayout.astro
  src/pages/[locale]/[slug].astro
  src/pages/[locale]/blog/[slug].astro
Due: prettier --write

homepage image optimized
  src/components/PhotoGalleryItem.astro
Due: none

cloudflare turntile added to Contact page
  astro.config.ts
  src/components/Contact.astro
  src/layouts/ContactLayout.astro
  src/pages/[locale]/[slug].astro
Due: eslint --fix, prettier --write

cloudflare turntile added to Contact page and cloudflare adapter installed
  astro.config.ts
  package.json
  pnpm-lock.yaml
  src/components/Contact.astro
  src/components/Message.astro
Due: eslint --fix, prettier --write

cloudflare turntile added to Contact page and cloudflare adapter installed
  astro.config.ts
Due: eslint --fix, prettier --write

cloudflare turntile added to Contact page (using wrangler and without the hybrid SSR option)
  .github/workflows/deploy.yml
  astro.config.ts
  functions/submitForm.ts
  package.json
  pnpm-lock.yaml
  src/components/Contact.astro
  src/layouts/ContactLayout.astro
  tsconfig.json
  wrangler.toml
Due: eslint --fix, prettier --write

cloudflare turntile added to Contact page (using wrangler and without the hybrid SSR option)
  tsconfig.json
Due: prettier --write

cloudflare turntile added to Contact page (using wrangler and without the hybrid SSR option)
  .github/workflows/deploy.yml
  _routes.json
  tsconfig.json
Due: prettier --write

cloudflare turntile added to Contact page (using wrangler and without the hybrid SSR option)
  .github/workflows/deploy.yml
  src/components/Contact.astro
  tsconfig.json
Due: prettier --write

cloudflare turntile added to Contact page (using wrangler and without the hybrid SSR option)
  wrangler.toml
Due: none

cloudflare turntile added to Contact page (using wrangler and without the hybrid SSR option)
  .github/workflows/deploy.yml
  wrangler.toml
Due: none

cloudflare turntile added to Contact page (using wrangler and without the hybrid SSR option)
  package.json
  wrangler.toml
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,css,md,mdx})
