Repository brklntmhwk/younagi.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

search icon props error fixed
  README.md
  src/components/Search/Search.tsx
Due: eslint --fix, prettier --write

reset css changed: tailwind --> tailwind-compat
  src/components/BaseHead/BaseHead.astro
  src/components/Likes/likes.css.ts
Due: eslint --fix, prettier --write

modal button style tweaked
  README.md
  src/components/BlogList/BlogList.astro
  src/components/Modal/Modal.tsx
  src/components/Navigation/Navigation.astro
  src/content/blog/en/astro-website.mdx
  src/content/blog/ja/astro-website.mdx
  src/layouts/AboutLayout.astro
  src/styles/styles.css.ts
Due: eslint --fix, prettier --write

textlint errors fixed
  src/content/page/en/site-policy.mdx
Due: prettier --write

textlint errors fixed
  .textlintrc.yml
Due: none

small tweaks
  src/content/blog/en/astro-and-front-matter-cms-combi.mdx
  src/content/blog/ja/astro-and-front-matter-cms-combi.mdx
Due: prettier --write

feat: 🎸 Docker containerized
  .devcontainer/devcontainer.json
  .devcontainer/postCreateCommand.sh
  .dockerignore
  .husky/_/pre-commit
  .husky/_/prepare-commit-msg
  Dockerfile
  bun.lockb
  changelog.config.cjs
  docker-compose.yml
  frontmatter.json
  lefthook.yml
  package.json
  src/components/BlogList/BlogList.astro
  src/content/blog/en/astro-and-front-matter-cms-combi.mdx
  src/content/blog/ja/astro-and-front-matter-cms-combi.mdx
  src/content/blog/ja/astro-website.mdx
Due: prettier --write

refactor: 💡 some comment out lines removed
  Dockerfile
  docker-compose.yml
Due: none

config(dev): ⚙️ create changelog.config file
  Dockerfile
  bun.lockb
  changelog.config.cjs
  package.json
Due: prettier --write

fix(dev): 🐛 make hot reloading work in the Docker container
  .devcontainer/devcontainer.json
  .devcontainer/postCreateCommand.sh
  .husky/_/pre-commit
  .husky/_/prepare-commit-msg
  Dockerfile
  README.md
  astro.config.ts
  bun.lockb
  package.json
  src/components/Icon/types.ts
  src/content/blog/ja/astro-website.mdx
Due: eslint --fix, prettier --write

fix(dev): 🐛 make hot reloading work in the Docker container
  .devcontainer/devcontainer.json
  .devcontainer/postCreateCommand.sh
  Dockerfile
  README.md
  docker-compose.yml
  package.json
Due: prettier --write

chore(dev): 🤖 add the auto-generated husky files
  .husky/_/pre-commit
  .husky/_/prepare-commit-msg
Due: none

package(deps): 📦 updated bun lock file
  bun.lockb
Due: none

chore(dev): 🤖 improve the multi stage build in Dockerfile
  .devcontainer/devcontainer.json
  Dockerfile
  docker-compose.yml
Due: prettier --write

docs(nothing): 📖 tweak articles and README
  Dockerfile
  README.md
  changelog.config.cjs
  src/components/Icon/types.ts
  src/content/blog/en/astro-website.mdx
  src/content/blog/ja/astro-website.mdx
Due: eslint --fix, prettier --write

refactor(types): ✨ tweak taxonomy type so the name doesn't conflict
  src/components/Taxonomy/Taxonomy.astro
  src/content/blog/en/astro-website.mdx
  src/lib/collections/types.ts
Due: eslint --fix, prettier --write

refactor(types): ✨ remove generate icon types script
  .gitignore
  src/scripts/generate-icon-types.ts
Due: eslint --fix, prettier --write

refactor(types): ✨ remove generate icon types script (.gitignore)
  .husky/_/pre-commit
  .husky/_/prepare-commit-msg
  src/scripts/generate-icon-types.ts
Due: eslint --fix, prettier --write

refactor(types): ✨ add generate icon types script to gitignore
  package.json
Due: prettier --write

package(deps): 📦 reinstall packages
  .gitignore
  bun.lockb
  package.json
  src/scripts/generate-icon-types.ts
Due: eslint --fix, prettier --write

ci(dev): 🎡 tweak github actions(deploy)
  .github/workflows/deploy.yml
Due: none

package(deps): 📦 update astro version
  .github/workflows/deploy.yml
  bun.lockb
  package.json
Due: prettier --write

chore(dev): 🤖 add mise in Dockerfile
  .devcontainer/postCreateCommand.sh
  .tool-versions
  Dockerfile
Due: none

ci(dev): 🎡 modify the deploy workflow
  .github/workflows/deploy.yml
Due: none

ci(dev): 🎡 modify the build & deploy workflow
  .github/workflows/deploy.yml
Due: none

feat(api): 🆕 add Astro integrations for Pagefind indexing & Icon Types
  .dockerignore
  .github/workflows/deploy.yml
  .gitignore
  .vscode/settings.json
  astro.config.ts
  bun.lockb
  package.json
  src/lib/astro-integrations/icon-name-type.ts
  src/lib/astro-integrations/pagefind.ts
  src/scripts/generate-icon-types.ts
  tsconfig.json
Due: eslint --fix, prettier --write

chore(dev): 🤖 tweak .tool-versions
  .tool-versions
Due: none

docs(none): 📖 tweak articles & README
  .npmrc
  .vscode/settings.json
  README.md
  changelog.config.cjs
  frontmatter.json
  package.json
  src/content/blog/en/astro-and-front-matter-cms-combi.mdx
  src/content/blog/en/astro-website.mdx
  src/content/blog/ja/astro-and-front-matter-cms-combi.mdx
  src/content/blog/ja/astro-website.mdx
  src/scripts/generate-icon-types.ts
Due: eslint --fix, prettier --write

ci(none): 🎡 create dev branch & workflow
  .github/workflows/dev.yml
  .github/workflows/prod.yml
  src/content/blog/en/astro-website.mdx
Due: prettier --write

package(deps): 📦 reinstall deps
  .github/workflows/dev.yml
  bun.lockb
Due: none

refactor(api): ✨ modify Unsplash API access key err message
  src/lib/unsplash/client.ts
Due: eslint --fix, prettier --write

ci(db): 🎡 make it all the same where to migrate in D1 DB btw dev & prod
  .github/workflows/dev.yml
Due: none

ci(none): 🎡 change permissions
  .github/workflows/dev.yml
Due: none

docs(none): 📖 add deployment badges to readme
  README.md
Due: prettier --write

ci(none): 🎡 add ci workflow for pull requests
  .github/workflows/ci.yml
Due: none

ci(none): 🎡 modify permissions in prod workflow
  .github/workflows/prod.yml
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,css,md,mdx})
