Repository brklntmhwk/younagi.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.yml:

'*.{js,jsx,ts,tsx}':
  - eslint --fix
  - prettier --write
  - git add
'*.{json,css,md,mdx}':
  - prettier --write
  - git add

docs(none): 📖 comment out descriptions in issue & PR templates
  .github/ISSUE_TEMPLATE/01_basic.md
  .github/ISSUE_TEMPLATE/03_tweak.md
  .github/PULL_REQUEST_TEMPLATE/01_basic.md
  .github/PULL_REQUEST_TEMPLATE/02_content.md
  .github/PULL_REQUEST_TEMPLATE/03_tweak.md
Due: prettier --write

chore(config): 🤖 add overall to scope list in dangerfile too
  dangerfile.ts
Due: eslint --fix, prettier --write

chore(config): 🤖 modify danger error messages using markdown
  dangerfile.ts
Due: eslint --fix, prettier --write

docs(contents): 📖 create articles(en, ja)
  .vscode/settings.json
  src/assets/images/ask-work-interval.png
  src/assets/images/timer-display.png
  src/components/Taxonomy/taxonomy.css.ts
  src/content/blog/en/pomodoro-shortcut.mdx
  src/content/blog/ja/pomodoro-shortcut.mdx
  src/content/tags/en/tags.yml
  src/content/tags/ja/tags.yml
Due: eslint --fix, prettier --write

docs(contents): 📖 create articles(en, ja)
  .gitignore
Due: none

docs(contents): 📖 publish articles
  src/content/blog/en/pomodoro-shortcut.mdx
  src/content/blog/ja/pomodoro-shortcut.mdx
Due: prettier --write

chore(docker): 🤖 remove the installation part of wrangler
  Dockerfile
  bun.lockb
  docker-compose.yml
  package.json
Due: prettier --write

docs(contents): 📖 tweak the pomodoro article
  .frontmatter/database/mediaDb.json
  .frontmatter/database/pinnedItemsDb.json
  .frontmatter/database/taxonomyDb.json
  .gitignore
  src/content/blog/en/pomodoro-shortcut.mdx
  src/content/blog/ja/pomodoro-shortcut.mdx
Due: prettier --write

docs(contents): 📖 tweak the pomodoro article
  src/content/blog/ja/pomodoro-shortcut.mdx
Due: prettier --write

docs(contents): 📖 tweak the about page
  src/content/page/en/about.mdx
  src/pages/[locale]/index.astro
  src/pages/index.astro
Due: prettier --write

style(ui): 💄 modify the styles of the toc and starrating components
  src/components/StarRating/star-rating.css.ts
  src/components/Toc/TocDrawer.astro
Due: eslint --fix, prettier --write

style(ui): 💄 tweak the layout of the callout title
  src/components/elements/Callout/callout.css.ts
Due: eslint --fix, prettier --write

docs(contents): 📖 tweak the first article and the about page
  src/content/blog/ja/astro-website.mdx
  src/content/page/en/about.mdx
  src/content/page/ja/about.mdx
Due: prettier --write

chore(cms): 🤖 add cats and tags taxonomy data to taxonomyDb.json
  .frontmatter/database/mediaDb.json
  .frontmatter/database/pinnedItemsDb.json
  .frontmatter/database/taxonomyDb.json
Due: prettier --write

perf(ui): ⚡️ add a sort func for localed cats and tags
  src/pages/[locale]/blog/categories/index.astro
  src/pages/[locale]/blog/tags/index.astro
  src/pages/blog/categories/index.astro
  src/pages/blog/tags/index.astro
  src/utils/i18n/utils.ts
Due: eslint --fix, prettier --write

perf(config): ⚡️ add a ruby field to the taxonomy schema
  src/content/categories/en/categories.yml
  src/content/categories/ja/categories.yml
  src/content/config.ts
  src/content/tags/en/tags.yml
  src/content/tags/ja/tags.yml
  src/pages/[locale]/blog/categories/index.astro
  src/pages/[locale]/blog/tags/index.astro
  src/pages/blog/categories/index.astro
  src/pages/blog/tags/index.astro
Due: eslint --fix, prettier --write

perf(ui): ⚡️ sort archive date months in an asc order
  src/pages/[locale]/blog/archive/index.astro
  src/pages/blog/archive/index.astro
  src/utils/order-by-date-desc.ts
  src/utils/order-by-date.ts
Due: eslint --fix, prettier --write

perf(ui): ⚡️ sort archive date months in an asc order
  biome.json
  src/pages/[locale]/blog/archive/index.astro
  src/pages/blog/archive/index.astro
Due: prettier --write

revert(config): 🔙 revert biome.json
  biome.json
Due: prettier --write

refactor(overall): ✨ tweak articles, frontmatter config, and env vars
  .dev.vars.example
  .env.example
  README.md
  frontmatter.json
  src/content/blog/en/pomodoro-shortcut.mdx
  src/content/blog/ja/pomodoro-shortcut.mdx
  src/content/tags/en/tags.yml
  src/content/tags/ja/tags.yml
  src/lib/consts.ts
  src/vite-env.d.ts
Due: eslint --fix, prettier --write

docs(contents): 📖 tweak pomodoro articles
  src/content/blog/en/pomodoro-shortcut.mdx
  src/content/blog/ja/pomodoro-shortcut.mdx
Due: prettier --write

fix(api): 🐛 add resend api key to cf settings
  src/lib/consts.ts
  src/pages/[locale]/api/form.ts
  src/pages/api/form.ts
Due: eslint --fix, prettier --write

fix(api): 🐛 tweak error messages in form api
  src/pages/[locale]/api/form.ts
  src/pages/api/form.ts
Due: eslint --fix, prettier --write

fix(api): 🐛 fix the 500 error thrown by Resend
  src/pages/api/form.ts
Due: eslint --fix, prettier --write

docs(cms): 📖 add templates for blog and news
  .frontmatter/database/mediaDb.json
  .frontmatter/templates/blog.mdx
  .frontmatter/templates/news.md
  frontmatter.json
  tsconfig.json
Due: prettier --write

feat(ui): 🆕 add difficulty levels to learning blog
  src/content/blog/en/astro-and-front-matter-cms-combi.mdx
  src/content/blog/en/astro-website.mdx
  src/content/blog/en/pomodoro-shortcut.mdx
  src/content/blog/ja/astro-and-front-matter-cms-combi.mdx
  src/content/blog/ja/astro-website.mdx
  src/content/blog/ja/pomodoro-shortcut.mdx
  src/content/config.ts
  src/content/i18n/en/translation.yml
  src/content/i18n/ja/translation.yml
  src/layouts/BlogLayout.astro
Due: eslint --fix, prettier --write

docs(contents): 📖 add more into to about in all languages
  src/content/page/en/about.mdx
  src/content/page/ja/about.mdx
Due: prettier --write

docs(contents): 📖 add a proficiency level section to learning articles
  .frontmatter/templates/blog.mdx
  src/content/blog/en/astro-and-front-matter-cms-combi.mdx
  src/content/blog/en/astro-website.mdx
  src/content/blog/en/pomodoro-shortcut.mdx
  src/content/blog/ja/astro-and-front-matter-cms-combi.mdx
  src/content/blog/ja/astro-website.mdx
  src/content/blog/ja/pomodoro-shortcut.mdx
  src/content/page/en/about.mdx
  src/content/page/ja/about.mdx
Due: prettier --write

docs(contents): 📖 create a new article about NPKB
  .frontmatter/database/mediaDb.json
  src/assets/images/daily-note-graph-view.png
  src/assets/images/npkb-climbing-map.png
  src/assets/images/npkb-create-new-note.gif
  src/assets/images/npkb-daily-note.png
  src/assets/images/npkb-graph-view.png
  src/assets/images/npkb-home.png
  src/assets/images/npkb.png
  src/content/blog/en/astro-website.mdx
  src/content/blog/en/obsidian-knowledge-base.mdx
  src/content/blog/ja/astro-website.mdx
  src/content/blog/ja/obsidian-knowledge-base.mdx
  src/content/tags/en/tags.yml
  src/content/tags/ja/tags.yml
Due: prettier --write

docs(contents): 📖 tweak new articles
  src/content/blog/en/obsidian-knowledge-base.mdx
  src/content/blog/ja/obsidian-knowledge-base.mdx
Due: prettier --write

docs(contents): 📖 publish new articles
  src/content/blog/en/obsidian-knowledge-base.mdx
  src/content/blog/ja/obsidian-knowledge-base.mdx
Due: prettier --write

refactor(overall): ✨ tweak articles, layouts, and callout css
  src/components/elements/Callout/callout.css.ts
  src/content/blog/en/astro-website.mdx
  src/content/blog/en/obsidian-knowledge-base.mdx
  src/content/blog/ja/astro-website.mdx
  src/content/blog/ja/obsidian-knowledge-base.mdx
  src/content/i18n/ja/translation.yml
  src/content/page/en/about.mdx
  src/content/page/en/privacy-policy.mdx
  src/content/page/ja/about.mdx
  src/content/page/ja/privacy-policy.mdx
  src/layouts/BlogLayout.astro
  src/layouts/NewsLayout.astro
Due: eslint --fix, prettier --write

refactor(overall): ✨ tweak articles, callout css
  .frontmatter/templates/blog.mdx
  src/components/elements/Callout/callout.css.ts
  src/content/blog/en/astro-website.mdx
  src/content/blog/en/obsidian-knowledge-base.mdx
  src/content/blog/ja/astro-website.mdx
  src/content/blog/ja/obsidian-knowledge-base.mdx
  src/content/page/en/about.mdx
Due: eslint --fix, prettier --write

style(ui): 💄 tweak colors of taxonomy
  src/components/Taxonomy/taxonomy.css.ts
Due: eslint --fix, prettier --write

feat(ui): 🆕 create a card component and the remark plugin
  .frontmatter/database/mediaDb.json
  .vscode/settings.json
  astro.config.ts
  src/components/BlogList/BlogList.astro
  src/components/Card/Card.astro
  src/components/Card/CardGrid.astro
  src/components/Card/card.ts
  src/components/Card/index.ts
  src/components/PhotoGallery/PhotoGallery.astro
  src/components/PhotoGallery/PhotoGalleryItem.astro
  src/components/elements/Figure/Image.astro
  src/content/page/en/tools.mdx
  src/lib/mdx-components.ts
  src/plugins/remark-card.ts
  src/styles/global.css
Due: eslint --fix, prettier --write

style(ui): 💄 tweak the layout of Card (media queries)
  src/components/Card/Card.astro
Due: none

style(ui): 💄 change the border type of PhotoGalleryItem
  src/components/PhotoGallery/PhotoGalleryItem.astro
Due: none

docs(contents): 📖 replace images of tools I use with those transparent
  src/assets/images/audio-technica-ath-r70x.webp
  src/assets/images/crucial-ddr5-pro.webp
  src/assets/images/crucial-ddr5-pro_.jpg
  src/assets/images/crucial-t500-ssd.webp
  src/assets/images/davinci-resolve-icon.webp
  src/assets/images/dr-10l_pro.jpg
  src/assets/images/huawei-freeclip.webp
  src/assets/images/ipad-pro-13inch-spaceblack.webp
  src/assets/images/iphone-15-black.webp
  src/assets/images/kioxia-ssd-exceria-plus-g3.jpg
  src/assets/images/lian-li-a4-h2o.jpg
  src/assets/images/lian-li-a4-h2o.webp
  src/assets/images/mac-studio-m2.webp
  src/assets/images/macos.png
  src/assets/images/motu-digital-performer-11.webp
  src/assets/images/portacapture-x8.jpg
  src/assets/images/ryzen-5-7600x.avif
  src/assets/images/sigma-dc-dn-contemporary-e-mount.webp
  src/assets/images/sony-creators-app-icon.webp
  src/assets/images/sony-ilce-6700.webp
  src/assets/images/tascam-dr-10l-pro.webp
  src/assets/images/tascam-portacapture-x8.webp
  src/assets/images/vscode-icon.jpg
  src/assets/images/vscode-icon.webp
  src/content/page/en/about.mdx
  src/content/page/en/tools.mdx
  src/content/page/ja/about.mdx
  src/content/page/ja/tools.mdx
Due: prettier --write
