Repository brklntmhwk/younagi.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

yarn --> pnpm
  astro.config.ts
Due: eslint --fix, prettier --write

canvaskit-wasm added (necessary when using pnpm)
  astro.config.ts
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: eslint --fix, prettier --write

canvaskit-wasm added (necessary when using pnpm)
  astro.config.ts
Due: eslint --fix, prettier --write

mdx optimize disabled temporarily to enable the code element's css
  astro.config.ts
  src/content/blog/ja/astro-website.mdx
Due: eslint --fix, prettier --write

code block theme light changed & buy me a coffee button component created
  astro.config.ts
  src/components/BuyMeACoffee.astro
  src/components/Footer.astro
  src/components/Svg/icons/bmc.svg
  src/components/elements/Code.astro
  src/layouts/BlogLayout.astro
  src/styles/global.css
Due: eslint --fix, prettier --write

the first entry tweaked
  src/components/BuyMeACoffee.astro
  src/components/Search.astro
  src/content/blog/en/astro-website.mdx
  src/content/blog/ja/astro-website.mdx
  src/plugins/remark-astro-image-assets.ts
Due: eslint --fix, prettier --write

the first entry tweaked
  src/content/blog/en/astro-website.mdx
  src/content/blog/ja/astro-website.mdx
Due: prettier --write

the blog layout and code css tweaked
  src/components/NavLink.astro
  src/components/Navigation.astro
  src/components/elements/Code.astro
  src/consts/index.ts
  src/layouts/BlogLayout.astro
Due: eslint --fix, prettier --write

bmc greeting message added and home page layout tweaked
  src/components/BuyMeACoffee.astro
  src/content/config.ts
  src/content/i18n/en/translation.yml
  src/content/i18n/ja/translation.yml
  src/content/news/en/created-my-personal-website.md
  src/content/news/ja/created-my-personal-website.md
  src/layouts/NewsLayout.astro
  src/pages/[locale]/index.astro
Due: eslint --fix, prettier --write

fallback style added for glassmorphism
  src/content/blog/en/astro-website.mdx
  src/content/blog/ja/astro-website.mdx
  src/styles/global.css
Due: prettier --write

fallback style added for glassmorphism
  src/components/BuyMeACoffee.astro
  src/components/LocalePicker.astro
  src/components/Search.astro
  src/components/Toc.astro
  src/content/blog/en/astro-website.mdx
  src/content/blog/ja/astro-website.mdx
  src/styles/global.css
Due: prettier --write

fallback style added for glassmorphism
  src/components/Callout.astro
  src/content/page/en/about.mdx
  src/content/page/ja/about.mdx
  src/styles/global.css
Due: prettier --write

remark plugin for callouts created
  astro.config.ts
  package.json
  pnpm-lock.yaml
  src/consts/index.ts
  src/content/blog/en/astro-website.mdx
  src/plugins/remark-astro-image-assets.ts
  src/plugins/remark-callout.ts
  src/styles/global.css
Due: eslint --fix, prettier --write

remark plugin for callouts created
  src/content/blog/ja/astro-website.mdx
  src/styles/global.css
Due: prettier --write

remark plugin for callouts created
  src/content/blog/en/astro-website.mdx
  src/content/blog/ja/astro-website.mdx
  src/layouts/BlogLayout.astro
  src/styles/global.css
Due: prettier --write

remark plugin for callouts created
  src/content/blog/ja/astro-website.mdx
Due: prettier --write

callouts' style added to the blog layout
  src/content/blog/en/astro-website.mdx
  src/layouts/BlogLayout.astro
  src/styles/global.css
Due: prettier --write

glassmorphism css tweaked
  src/styles/global.css
Due: prettier --write

callout color variations added
  src/consts/index.ts
  src/content/i18n/ja/translation.yml
  src/layouts/BlogLayout.astro
  src/plugins/remark-callout.ts
  src/styles/global.css
Due: eslint --fix, prettier --write

callout color variations added
  src/consts/index.ts
  src/content/blog/en/astro-website.mdx
  src/content/blog/ja/astro-website.mdx
  src/layouts/BlogLayout.astro
  src/plugins/remark-callout.ts
  src/styles/global.css
Due: eslint --fix, prettier --write

placehoder image created for og images
  public/blog-placeholder-2.jpg
  public/blog-placeholder-3.jpg
  public/blog-placeholder-4.jpg
  public/blog-placeholder-5.jpg
  public/placeholder.png
  src/components/BaseHead.astro
  src/components/PhotoGallery.astro
  src/content/blog/en/astro-website.mdx
  src/content/blog/ja/astro-website.mdx
  src/layouts/BaseLayout.astro
  src/pages/[locale]/index.astro
Due: prettier --write

placehoder image created for og images
  public/blog-placeholder-1.jpg
  src/components/BaseHead.astro
  src/content/blog/en/astro-website.mdx
  src/content/blog/ja/astro-website.mdx
Due: prettier --write

remark callouts code tweaked
  src/components/elements/Blockquote.astro
  src/components/elements/Callout.astro
  src/components/elements/Code.astro
  src/layouts/BlogLayout.astro
  src/pages/[locale]/blog/[slug].astro
  src/pages/[locale]/index.astro
  src/plugins/remark-callout.ts
  src/styles/global.css
Due: eslint --fix, prettier --write

remark callouts code tweaked and blockquote & callout components created
  src/components/elements/Callout.astro
  src/content/blog/en/astro-website.mdx
  src/plugins/remark-callout.ts
Due: eslint --fix, prettier --write

remark callouts code tweaked and blockquote & callout components created
  src/components/elements/Callout.astro
Due: none

archive page tweaked
  src/components/NavLink.astro
  src/components/TaxonomyList.astro
  src/consts/index.ts
  src/pages/[locale]/blog/archive/index.astro
  src/utils/groupEntries.ts
Due: eslint --fix, prettier --write

archive tweakedoverall
  src/components/FormattedDate.astro
  src/pages/[locale]/blog/archive/index.astro
  src/pages/[locale]/blog/categories/index.astro
  src/pages/[locale]/blog/tags/index.astro
  src/utils/groupEntries.ts
Due: eslint --fix, prettier --write

archive tweakedoverall
  src/pages/[locale]/blog/archive/index.astro
  src/utils/groupArchiveByYear.ts
Due: eslint --fix, prettier --write

archive tweakedoverall
  src/pages/[locale]/blog/archive/[date]/[...page].astro
  src/utils/ArchiveSlugify.ts
  src/utils/groupArchiveByYear.ts
Due: eslint --fix, prettier --write

archive date page, displayed date format changed
  src/components/FormattedDate.astro
  src/content/blog/en/astro-website.mdx
  src/content/blog/ja/astro-website.mdx
  src/pages/[locale]/blog/archive/[date]/[...page].astro
  src/pages/[locale]/blog/archive/index.astro
  src/utils/convertDateStr.ts
  src/utils/formatDate.ts
Due: eslint --fix, prettier --write

callout styles added for dark mode
  package.json
  pnpm-lock.yaml
  src/components/elements/Callout.astro
  src/content/blog/en/astro-website.mdx
  src/content/blog/ja/astro-website.mdx
  src/pages/[locale]/[slug].astro
  src/plugins/remark-callout.ts
  src/styles/global.css
Due: eslint --fix, prettier --write

callout expansion functionality added
  src/components/NavMenuContainer.astro
  src/components/elements/Callout.astro
  src/content/blog/en/astro-website.mdx
  src/plugins/remark-callout.ts
Due: eslint --fix, prettier --write

callout expansion functionality added
  src/components/elements/Callout.astro
  src/content/blog/en/astro-website.mdx
  src/content/blog/ja/astro-website.mdx
  src/plugins/remark-callout.ts
Due: eslint --fix, prettier --write

accessibility improved
  src/components/NavMenuContainer.astro
  src/content/config.ts
  src/content/i18n/en/translation.yml
  src/content/i18n/ja/translation.yml
Due: eslint --fix, prettier --write

time differenceutil tweaked and active locale in locale picker
  src/components/LocalePicker.astro
  src/components/PhotoGalleryItem.astro
  src/components/elements/Callout.astro
  src/consts/index.ts
  src/lib/unsplash/getContent.ts
  src/utils/getDateDiff.ts
  src/utils/getTimeDiff.ts
Due: eslint --fix, prettier --write

layout tweaked
  src/layouts/AboutLayout.astro
  src/layouts/BlogLayout.astro
  src/layouts/NewsLayout.astro
  src/layouts/PageLayout.astro
  src/styles/global.css
Due: prettier --write

layout tweaked
  src/layouts/BlogLayout.astro
  src/layouts/PageLayout.astro
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,css,md,mdx})
