Repository brklntmhwk/younagi.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

privacy policy page crafted
  src/content/page/en/privacy-policy.mdx
Due: prettier --write

privacy policy translation and theme toggle tweaked
  src/components/ThemeToggle.astro
  src/content/page/en/privacy-policy.mdx
  src/content/page/ja/privacy-policy.mdx
  src/layouts/PageLayout.astro
Due: prettier --write

privacy policy translation and theme toggle tweaked
  src/components/ThemeToggle.astro
  src/content/blog/en/astro-website.mdx
  src/content/page/en/about.mdx
  src/content/page/ja/about.mdx
Due: prettier --write

the first blog entry edited
  src/content/blog/en/astro-website.mdx
Due: prettier --write

the first blog entry edited
  src/content/blog/en/astro-website.mdx
  src/layouts/BlogLayout.astro
Due: prettier --write

the first blog entry edited
  src/components/ThemeToggle.astro
  src/components/Toc.astro
Due: none

prefers-color-scheme: dark media query removed
  src/components/Search.astro
  src/components/ThemeToggle.astro
  src/components/elements/Code.astro
  src/styles/global.css
Due: prettier --write

prefers-color-scheme: dark media query removed
  src/content/blog/en/astro-website.mdx
  src/content/blog/en/markdown-style-guide.mdx
  src/layouts/BlogLayout.astro
Due: prettier --write

site policy page created
  src/components/Footer.astro
  src/content/blog/en/astro-website.mdx
  src/content/page/en/about.mdx
  src/content/page/en/site-policy.mdx
  src/content/page/ja/about.mdx
  src/content/page/ja/privacy-policy.mdx
  src/content/page/ja/site-policy.mdx
Due: prettier --write

about and the first entry edited
  src/components/elements/Code.astro
  src/content/blog/en/astro-website.mdx
  src/content/page/en/about.mdx
  src/content/page/ja/about.mdx
  src/content/page/ja/site-policy.mdx
Due: prettier --write

about and the first entry edited
  src/content/blog/en/astro-website.mdx
Due: prettier --write

hero image removed
  frontmatter.json
  src/content/blog/en/astro-website.mdx
  src/content/blog/en/markdown-style-guide.mdx
  src/content/blog/ja/astro-website.mdx
  src/content/blog/ja/markdown-style-guide.mdx
  src/content/config.ts
  src/content/i18n/en/translation.yml
  src/content/i18n/ja/translation.yml
  src/layouts/BlogLayout.astro
Due: eslint --fix, prettier --write

the first entry edited
  src/content/blog/en/astro-website.mdx
Due: prettier --write

the first entry edited
  src/components/ThemeToggle.astro
  src/content/blog/en/astro-website.mdx
  src/layouts/BlogLayout.astro
Due: prettier --write

the first entry edited
  src/assets/images/content-dir.png
  src/components/LocalePicker.astro
  src/content/blog/en/astro-website.mdx
  src/layouts/AboutLayout.astro
  src/layouts/BlogLayout.astro
  src/layouts/NewsLayout.astro
Due: prettier --write

og image tweaked
  src/content/blog/en/astro-website.mdx
  src/pages/og/[...slug].ts
Due: eslint --fix, prettier --write

the first entry edited
  src/content/blog/en/astro-website.mdx
  src/layouts/BaseLayout.astro
Due: prettier --write

the first entry edited
  2024-05-09.md
  src/assets/images/front-matter-cms-dashboard.png
  src/content/blog/en/astro-website.mdx
  src/content/blog/en/markdown-style-guide.mdx
  src/content/blog/ja/astro-website.mdx
  src/content/blog/ja/markdown-style-guide.mdx
Due: prettier --write

the first entry edited and KaTex styling added
  src/content/blog/en/astro-website.mdx
  src/layouts/BlogLayout.astro
Due: prettier --write

the first entry edited and KaTex styling added
  src/components/elements/Image.astro
  src/content/blog/en/astro-website.mdx
Due: prettier --write

SPA --> MPA, theme toggle disabled
  src/components/BaseHead.astro
  src/components/LocalePicker.astro
  src/components/NavMenuContainer.astro
  src/components/Navigation.astro
  src/components/Toc.astro
  src/components/_ThemeToggle.astro
  src/content/blog/en/astro-website.mdx
  src/layouts/BaseLayout.astro
  src/layouts/BlogLayout.astro
  src/styles/global.css
Due: prettier --write

font tweaked
  src/components/BaseHead.astro
  src/components/ThemeToggle.astro
Due: none

fontsource variables introduced
  package.json
  public/fonts/DotGothic16-Regular.woff2
  public/fonts/PixelMplus12-Bold.woff2
  public/fonts/PixelMplus12-Regular.woff2
  src/components/BaseHead.astro
  src/components/BulletinBoard.astro
  src/components/Navigation.astro
  src/layouts/AboutLayout.astro
  src/layouts/BaseLayout.astro
  src/layouts/BlogLayout.astro
  src/layouts/NewsLayout.astro
  src/layouts/PageLayout.astro
  src/styles/global.css
  yarn.lock
Due: prettier --write

reset css (Tailwind preflight) added and css tweaked accordingly
  package.json
  src/components/BaseHead.astro
  src/components/BlogList.astro
  src/components/LocalePicker.astro
  src/components/Message.astro
  src/components/Navigation.astro
  src/components/PhotoGallery.astro
  src/components/TaxonomyList.astro
  src/styles/global.css
  yarn.lock
Due: prettier --write

css modified
  src/components/BaseHead.astro
  src/components/BulletinBoard.astro
  src/components/Message.astro
  src/components/Navigation.astro
  src/components/Toc.astro
  src/layouts/BlogLayout.astro
  src/styles/global.css
  src/styles/pixelmplus.css
Due: prettier --write

css modified overall
  public/fonts/DejaVuSansMono.woff2
  src/components/BaseHead.astro
  src/components/BulletinBoard.astro
  src/components/Message.astro
  src/components/Navigation.astro
  src/components/PhotoGallery.astro
  src/components/Toc.astro
  src/styles/global.css
Due: prettier --write

css modified overall
  src/components/BaseHead.astro
Due: none

css modified overall
  package.json
  src/components/BaseHead.astro
  src/components/Navigation.astro
  src/layouts/BlogLayout.astro
  yarn.lock
Due: prettier --write

svg cleaned up
  src/components/BlogList.astro
  src/components/LocalePicker.astro
  src/components/Svg/icons/alphabet.svg
  src/components/Svg/icons/language.svg
  src/components/Svg/icons/logo.svg
  src/components/Svg/icons/magnifier.svg
  src/components/Svg/icons/site-logo.svg
  src/components/Svg/icons/twitter.svg
  src/components/Svg/icons/upload.svg
  src/content/blog/en/astro-website.mdx
  src/layouts/BlogLayout.astro
  src/layouts/NewsLayout.astro
  src/pages/[locale]/news/[...page].astro
Due: prettier --write

svg cleaned up
  src/components/Navigation.astro
  src/components/Pager.astro
  src/components/Svg/icons/chevron-left.svg
  src/components/Svg/icons/chevron-right.svg
  src/components/Svg/icons/hamburger.svg
  src/components/Svg/icons/play.svg
Due: none

svg cleaned up
  src/components/BlogList.astro
  src/components/TaxonomyList.astro
  src/content/blog/en/astro-website.mdx
  src/layouts/BlogLayout.astro
  src/pages/[locale]/blog/archive/[date]/[...page].astro
  src/styles/global.css
Due: prettier --write

Message removed from the home page
  2024-05-10.md
  src/content/blog/en/astro-website.mdx
  src/layouts/AboutLayout.astro
  src/layouts/BlogLayout.astro
  src/layouts/NewsLayout.astro
  src/layouts/PageLayout.astro
  src/pages/[locale]/index.astro
  src/styles/global.css
Due: prettier --write

the first entry tweaked in ja
  src/assets/images/front-matter-cms-editing.png
  src/content/blog/en/astro-website.mdx
  src/content/blog/ja/astro-website.mdx
Due: prettier --write

the first entry tweaked in ja
  src/content/blog/en/astro-website.mdx
  src/content/blog/ja/astro-website.mdx
Due: prettier --write

blog list tweaked
  src/components/BlogList.astro
Due: none

the first entry tweaked in ja
  src/content/blog/ja/astro-website.mdx
Due: prettier --write

the first entry tweaked in ja
  src/assets/images/og-image.png
  src/content/blog/en/astro-website.mdx
  src/content/blog/ja/astro-website.mdx
  src/pages/og/[...slug].ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,css,md,mdx})
