Repository brklntmhwk/younagi.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

refactor(type): add unsplash api key to runtime env
  worker-configuration.d.ts
Due: eslint --fix, prettier --write

feat(api): add photos action for unsplash photos
  src/actions/index.ts
  src/actions/photos.ts
Due: eslint --fix, prettier --write

refactor(ui): modify structure of photo gallery overall
  src/components/ui/PhotoGallery/PhotoGallery.astro
  src/components/ui/PhotoGallery/PhotoItem.astro
  src/components/ui/PhotoGallery/index.ts
Due: eslint --fix, prettier --write

refactor(page): update photo gallery
  src/pages/[locale]/index.astro
  src/pages/index.astro
Due: none

refactor(api): remove photos from content.config
  src/content.config.ts
Due: eslint --fix, prettier --write

refactor(api): tweak photos action
  src/actions/photos.ts
Due: eslint --fix, prettier --write

fix(ui): modify structure of photo gallery
  src/components/ui/PhotoGallery/PhotoGallery.astro
  src/components/ui/PhotoGallery/PhotoItem.astro
  src/components/ui/PhotoGallery/index.ts
  src/pages/[locale]/index.astro
  src/pages/index.astro
Due: eslint --fix, prettier --write

fix(api): debug 500 error arisen from server islands
  src/components/ui/PhotoGallery/PhotoGallery.astro
Due: none

fix(api): modify structure of photo gallery on homepage
  src/components/ui/PhotoGallery/index.ts
  src/pages/index.astro
Due: eslint --fix, prettier --write

fix(api): revert env var of unsplash api key to .env
  astro.config.ts
  src/actions/photos.ts
  src/components/ui/PhotoGallery/PhotoGallery.astro
  src/pages/index.astro
  worker-configuration.d.ts
Due: eslint --fix, prettier --write

ci: revert unsplash api key in workflows' build process
  .github/workflows/dev.yml
  .github/workflows/prod.yml
Due: none

ci(danger): remove scope restriction
  dangerfile.ts
Due: eslint --fix, prettier --write

chore(docker): remove docker and dev containers related files
  .devcontainer/devcontainer.json
  .devcontainer/postCreateCommand.sh
  .dockerignore
  Dockerfile
  docker-compose.yml
Due: prettier --write

chore(cms): remove frontmatter CMS related files
  .frontmatter/database/mediaDb.json
  .frontmatter/database/pinnedItemsDb.json
  .frontmatter/database/taxonomyDb.json
  .frontmatter/templates/blog.mdx
  .frontmatter/templates/news.mdx
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  frontmatter.json
Due: prettier --write

ci: modify pull request templates
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

chore: modify git attributes
  .gitattributes
Due: none

docs(readme): modify readme and refactor some parts moving them to contribution guide
  CONTRIBUTING.md
  README.md
Due: prettier --write

docs(readme): add tech stack budges
  README.md
Due: prettier --write

docs(readme): add more tech badges
  README.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,css,md,mdx})
