Repository brklntmhwk/younagi.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.yml:

'*.{js,jsx,ts,tsx}':
  - eslint --fix
  - prettier --write
  - git add
'*.{json,css,md,mdx}':
  - prettier --write
  - git add

fix(ui): 🐛 fix the pager link bug
  src/components/models/Pager/Pager.astro
Due: none

style(ui): 💄 make the font size of the bulleting board larger
  src/components/ui/BulletinBoard/BulletinBoard.astro
Due: none

fix(ui): 🐛 fix the pager link bug
  src/components/models/Pager/Pager.astro
  src/content/blog/ja/pomodoro-shortcut.mdx
Due: prettier --write

chore(config): 🤖 add trailingSlash always and reflect changes required
  astro.config.ts
  src/components/common/Footer/Footer.astro
  src/components/common/Navigation/Navigation.astro
  src/components/models/Article/Article.astro
  src/components/models/BlogList/BlogList.astro
  src/components/models/Pager/Pager.astro
  src/components/models/Taxonomy/Taxonomy.astro
  src/components/ui/BulletinBoard/BulletinBoard.astro
  src/components/ui/ContactForm/ContactForm.tsx
  src/components/ui/Likes/Likes.tsx
  src/pages/[locale]/blog/[...page].astro
  src/pages/[locale]/blog/archive/[date]/[...page].astro
  src/pages/[locale]/blog/archive/index.astro
  src/pages/[locale]/blog/categories/[category]/[...page].astro
  src/pages/[locale]/blog/categories/index.astro
  src/pages/[locale]/blog/tags/[tag]/[...page].astro
  src/pages/[locale]/blog/tags/index.astro
  src/pages/[locale]/index.astro
  src/pages/blog/[...page].astro
  src/pages/blog/archive/[date]/[...page].astro
  src/pages/blog/archive/index.astro
  src/pages/blog/categories/[category]/[...page].astro
  src/pages/blog/categories/index.astro
  src/pages/blog/tags/[tag]/[...page].astro
  src/pages/blog/tags/index.astro
  src/pages/index.astro
Due: eslint --fix, prettier --write

docs(content): 📖 tweak existing articles
  src/content/blog/ja/pomodoro-shortcut.mdx
  src/content/i18n/en/translation.yml
  src/content/i18n/ja/translation.yml
Due: prettier --write

fix(api): 🐛 modify the api path of likes button
  src/components/ui/Likes/Likes.tsx
Due: eslint --fix, prettier --write

refactor(others): ✨ remove commented out lines
  src/layouts/BlogLayout.astro
Due: none

docs(content): 📖 tweak existing articles
  src/content/blog/en/astro-and-front-matter-cms-combi.mdx
  src/content/blog/en/pomodoro-shortcut.mdx
  src/content/blog/ja/astro-and-front-matter-cms-combi.mdx
  src/content/blog/ja/build-a-simple-diy-soundproof-vocal-booth-on-a-shelf.mdx
Due: prettier --write

docs(content): 📖 tweak existing articles
  src/content/blog/en/astro-website.mdx
  src/content/blog/en/obsidian-knowledge-base.mdx
  src/content/blog/ja/obsidian-knowledge-base.mdx
Due: prettier --write

fix(api): 🐛 modify og image & rss paths
  src/components/common/Footer/Footer.astro
  src/layouts/BlogLayout.astro
  src/layouts/NewsLayout.astro
Due: none

style(ui): 💄 tweak some styles
  src/components/common/Navigation/Navigation.astro
  src/components/elements/Callout/callouts.ts
  src/components/elements/Card/Card.astro
  src/components/elements/Link/LinkCard.astro
  src/components/ui/BulletinBoard/BulletinBoard.astro
  src/components/ui/BuyMeACoffee/BuyMeACoffee.astro
Due: eslint --fix, prettier --write

fix(api): 🐛 fix the bug of og images not displayed
  src/layouts/AboutLayout.astro
  src/layouts/BlogLayout.astro
  src/layouts/NewsLayout.astro
  src/layouts/PageLayout.astro
Due: none

style(ui): 💄 tweak some styles
  src/pages/[locale]/blog/[...page].astro
  src/pages/blog/[...page].astro
Due: none

docs(content): 📖 tweak articles
  src/content/page/en/about.mdx
  src/content/page/ja/about.mdx
Due: prettier --write

docs(cms): 📖 tweak the blog template
  .frontmatter/templates/blog.mdx
Due: prettier --write

docs(content): 📖 tweak existing articles
  src/content/blog/en/total-newbie-builds-mini-itx-linux-pc.mdx
  src/content/blog/ja/total-newbie-builds-mini-itx-linux-pc.mdx
Due: prettier --write

docs(content): 📖 change experiment category to attempt
  src/content/blog/en/astro-website.mdx
  src/content/blog/en/build-a-simple-diy-soundproof-vocal-booth-on-a-shelf.mdx
  src/content/blog/en/obsidian-knowledge-base.mdx
  src/content/blog/en/pomodoro-shortcut.mdx
  src/content/blog/en/total-newbie-builds-mini-itx-linux-pc.mdx
  src/content/blog/en/total-newbie-builds-the-endpoint-a-keyboard-kit.mdx
  src/content/blog/ja/astro-website.mdx
  src/content/blog/ja/build-a-simple-diy-soundproof-vocal-booth-on-a-shelf.mdx
  src/content/blog/ja/obsidian-knowledge-base.mdx
  src/content/blog/ja/pomodoro-shortcut.mdx
  src/content/blog/ja/total-newbie-builds-mini-itx-linux-pc.mdx
  src/content/categories/en/categories.yml
  src/content/categories/ja/categories.yml
Due: prettier --write

docs(content): 📖 create a new article
  src/content/blog/en/split-keyboard-the-endpoint-build.mdx
  src/content/blog/en/total-newbie-builds-the-endpoint-a-keyboard-kit.mdx
  src/content/blog/ja/split-keyboard-the-endpoint-build.mdx
  src/content/tags/en/tags.yml
  src/content/tags/ja/tags.yml
Due: prettier --write

docs(content): 📖 create a new article
  src/content/blog/en/split-keyboard-the-endpoint-build.mdx
  src/content/blog/ja/split-keyboard-the-endpoint-build.mdx
Due: prettier --write

docs(content): 📖 tweak the new article
  src/content/blog/ja/split-keyboard-the-endpoint-build.mdx
Due: prettier --write

docs(content): 📖 add new articles and images required
  src/assets/images/the-endpoint-continuity-check.jpg
  src/assets/images/the-endpoint-parts-1.jpg
  src/assets/images/the-endpoint-parts-2.jpg
  src/assets/images/the-endpoint-plates.jpg
  src/assets/images/the-endpoint-soldering.jpg
  src/assets/images/the-endpoint-switch-sockets.jpg
  src/assets/images/the-endpoint-trackball-sensor-connector.jpg
  src/assets/images/the-endpoint-trackball-unit.jpg
  src/assets/images/the-endpoint.jpg
  src/content/blog/en/split-keyboard-the-endpoint-build.mdx
  src/content/blog/ja/split-keyboard-the-endpoint-build.mdx
Due: prettier --write

docs(content): 📖 tweak existing articles
  src/content/blog/en/build-a-simple-diy-soundproof-vocal-booth-on-a-shelf.mdx
  src/content/blog/ja/astro-website.mdx
  src/content/blog/ja/build-a-simple-diy-soundproof-vocal-booth-on-a-shelf.mdx
  src/content/blog/ja/pomodoro-shortcut.mdx
Due: prettier --write

docs(content): 📖 tweak existing articles
  src/content/blog/en/obsidian-knowledge-base.mdx
  src/content/blog/en/split-keyboard-the-endpoint-build.mdx
  src/content/blog/ja/obsidian-knowledge-base.mdx
Due: prettier --write

style(ui): 💄 tweak the style of callout
  src/components/elements/Callout/CalloutTitle.astro
Due: none

docs(content): 📖 tweak existing articles
  src/content/blog/ja/split-keyboard-the-endpoint-build.mdx
  src/content/page/en/tools.mdx
  src/content/page/ja/tools.mdx
Due: prettier --write

docs(content): 📖 tweak existing articles and add some photos
  src/assets/images/lian-li-a4-h2o-front-angle.JPEG
  src/assets/images/lian-li-a4-h2o-side-angle.JPEG
  src/assets/images/my-mini-itx-pc.avif
  src/content/blog/en/total-newbie-builds-mini-itx-linux-pc.mdx
  src/content/blog/ja/total-newbie-builds-mini-itx-linux-pc.mdx
Due: prettier --write

docs(content): 📖 tweak existing articles
  src/content/blog/en/total-newbie-builds-mini-itx-linux-pc.mdx
Due: prettier --write

docs(content): 📖 tweak some pages
  src/content/page/ja/tools.mdx
Due: prettier --write

ci(dev): 🎡 revert the cache step
  .github/workflows/ci.yml
  .github/workflows/danger.yml
  .github/workflows/prod.yml
Due: none

style(ui): 💄 tweak styles
  src/components/elements/Card/CardGrid.astro
  tailwind.config.ts
Due: eslint --fix, prettier --write

docs(content): 📖 tweak existing articles
  src/content/blog/en/astro-website.mdx
  src/content/page/en/tools.mdx
  src/content/page/ja/tools.mdx
Due: prettier --write

docs(content): 📖 add new articles and tweak existing articles
  src/content/blog/en/astro-and-front-matter-cms-combi.mdx
  src/content/blog/en/astro-website.mdx
  src/content/blog/en/obsidian-knowledge-base.mdx
  src/content/blog/en/remark-card.mdx
  src/content/blog/en/total-newbie-builds-mini-itx-linux-pc.mdx
  src/content/blog/ja/astro-and-front-matter-cms-combi.mdx
  src/content/blog/ja/astro-website.mdx
  src/content/blog/ja/obsidian-knowledge-base.mdx
  src/content/blog/ja/remark-card.mdx
  src/content/blog/ja/total-newbie-builds-mini-itx-linux-pc.mdx
  src/content/tags/en/tags.yml
  src/content/tags/ja/tags.yml
Due: prettier --write

docs(content): 📖 tweak some articles
  src/content/blog/en/remark-card.mdx
  src/content/blog/en/split-keyboard-the-endpoint-build.mdx
  src/content/blog/ja/remark-card.mdx
  src/content/blog/ja/split-keyboard-the-endpoint-build.mdx
  src/content/tags/en/tags.yml
Due: prettier --write

style(ui): 💄 tweak some styles
  src/components/models/BlogList/BlogList.astro
  src/components/models/Taxonomy/taxonomy.ts
Due: eslint --fix, prettier --write

chore(config): 🤖 tweak textlint rules
  .textlintrc.yml
Due: none

docs(content): 📖 tweak existing articles
  src/content/blog/en/astro-website.mdx
  src/content/blog/en/build-a-simple-diy-soundproof-vocal-booth-on-a-shelf.mdx
  src/content/blog/en/split-keyboard-the-endpoint-build.mdx
  src/content/blog/en/total-newbie-builds-mini-itx-linux-pc.mdx
  src/content/blog/ja/astro-website.mdx
  src/content/blog/ja/remark-card.mdx
  src/content/blog/ja/split-keyboard-the-endpoint-build.mdx
Due: prettier --write

style(ui): 💄 remove css file for pixelMPlus font
  src/components/common/Navigation/Navigation.astro
  src/components/ui/BulletinBoard/BulletinBoard.astro
  src/pages/404.astro
  src/styles/pixelmplus.css
  tailwind.config.ts
Due: eslint --fix, prettier --write

docs(content): 📖 tweak existing articles
  src/content/blog/en/astro-website.mdx
  src/content/blog/ja/astro-website.mdx
Due: prettier --write
