Repository brklntmhwk/younagi.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

style(ui): 💄 change fonts
  public/fonts/LINESeedJP_OTF_Bd.woff2
  public/fonts/LINESeedJP_OTF_Eb.woff2
  public/fonts/LINESeedJP_OTF_Rg.woff2
  public/fonts/LINESeedJP_OTF_Th.woff2
  public/fonts/ShipporiMincho-Bold.woff2
  public/fonts/ShipporiMincho-ExtraBold.woff2
  public/fonts/ShipporiMincho-Medium.woff2
  public/fonts/ShipporiMincho-Regular.woff2
  public/fonts/ShipporiMincho-SemiBold.woff2
  public/fonts/jmh_typewriter-black.woff2
  public/fonts/jmh_typewriter-bold.woff2
  public/fonts/jmh_typewriter-thin.woff2
  public/fonts/jmh_typewriter.woff2
  src/components/common/Navigation/Navigation.astro
  src/components/common/Search/Search.tsx
  src/components/functional/CustomStyles/CustomStyles.astro
  src/content/blog/en/remark-card.mdx
  src/content/blog/ja/remark-card.mdx
  src/content/blog/ja/total-newbie-builds-mini-itx-linux-pc.mdx
  tailwind.config.ts
Due: eslint --fix, prettier --write

chore(config): 🤖 modify some textlint rules
  .textlintrc.yml
Due: none

style(ui): 💄 modify the width of the prose areas
  src/components/models/Article/Article.astro
  src/layouts/AboutLayout.astro
  src/layouts/BlogLayout.astro
  src/layouts/NewsLayout.astro
  src/layouts/PageLayout.astro
Due: none

docs(content): 📖 tweak about page and articles
  src/content/blog/en/astro-website.mdx
  src/content/blog/en/obsidian-knowledge-base.mdx
  src/content/blog/en/remark-card.mdx
  src/content/blog/en/total-newbie-builds-mini-itx-linux-pc.mdx
  src/content/blog/ja/astro-website.mdx
  src/content/blog/ja/obsidian-knowledge-base.mdx
  src/content/blog/ja/remark-card.mdx
  src/content/blog/ja/total-newbie-builds-mini-itx-linux-pc.mdx
  src/content/page/en/about.mdx
  src/content/page/ja/about.mdx
Due: prettier --write

style(ui): 💄 tweak styles of some components and elements
  src/components/ui/BulletinBoard/BulletinBoard.astro
  tailwind.config.ts
Due: eslint --fix, prettier --write

style(ui): 💄 modify the design of the star icon
  src/components/elements/Card/Card.astro
  src/components/functional/CustomStyles/CustomStyles.astro
  src/components/ui/StarRating/StarIcon.tsx
Due: eslint --fix, prettier --write

chore(deps): 🤖 remove unused deps
  bun.lockb
  package.json
Due: prettier --write

style(ui): 💄 change fonts
  bun.lockb
  package.json
  public/fonts/ShipporiMincho-Bold.woff2
  public/fonts/ShipporiMincho-ExtraBold.woff2
  public/fonts/ShipporiMincho-Medium.woff2
  public/fonts/ShipporiMincho-Regular.woff2
  public/fonts/ShipporiMincho-SemiBold.woff2
  src/components/common/BaseHead/BaseHead.astro
  src/components/functional/CustomStyles/CustomStyles.astro
Due: prettier --write

docs(content): 📖 tweak articles and pages
  src/assets/images/diy-booth-indirect-lighting.jpeg
  src/assets/images/docker-logo-blue.webp
  src/assets/images/docker-mark-blue.png
  src/assets/images/nixos-icon.png
  src/assets/images/nixos-icon.webp
  src/assets/images/the-endpoint.jpeg
  src/assets/images/the-endpoint.jpg
  src/components/elements/Card/Card.astro
  src/content/blog/en/build-a-simple-diy-soundproof-vocal-booth-on-a-shelf.mdx
  src/content/blog/en/split-keyboard-the-endpoint-build.mdx
  src/content/blog/ja/astro-website.mdx
  src/content/blog/ja/build-a-simple-diy-soundproof-vocal-booth-on-a-shelf.mdx
  src/content/blog/ja/remark-card.mdx
  src/content/blog/ja/split-keyboard-the-endpoint-build.mdx
  src/content/page/en/tools.mdx
  src/content/page/ja/tools.mdx
Due: prettier --write

docs(content): 📖 tweak the tools page
  src/content/page/en/tools.mdx
  src/content/page/ja/tools.mdx
  tailwind.config.ts
Due: eslint --fix, prettier --write

ci(dev): 🎡 replace bun mise with oven bun in workflows
  .github/workflows/ci.yml
  .github/workflows/danger.yml
  .github/workflows/prod.yml
Due: none

docs(content): 📖 tweak articles
  src/content/blog/en/split-keyboard-the-endpoint-build.mdx
  src/content/blog/ja/split-keyboard-the-endpoint-build.mdx
  src/content/page/en/about.mdx
  src/content/page/ja/about.mdx
Due: prettier --write

style(config): 💄 remove unnecessary lines in tailwind config
  tailwind.config.ts
Due: eslint --fix, prettier --write

style(ui): 💄 change fonts and tweak some styles
  bun.lockb
  package.json
  src/components/elements/Figure/Image.astro
  src/components/functional/CustomStyles/CustomStyles.astro
  tailwind.config.ts
Due: eslint --fix, prettier --write

style(ui): 💄 tweak some styles
  src/components/common/Navigation/Navigation.astro
  src/components/models/BlogList/BlogList.astro
  src/components/ui/Balloon/Balloon.astro
  tailwind.config.ts
Due: eslint --fix, prettier --write

docs(content): 📖 add new article
  src/assets/images/ohnishi-layout-0.jpg
  src/assets/images/ohnishi-layout-1.jpg
  src/assets/images/the-endpoint-updated.jpg
  src/content/blog/en/one-month-with-the-ohnishi-keyboard-layout-a-status-update.mdx
  src/content/blog/ja/one-month-with-the-ohnishi-keyboard-layout-a-status-update.mdx
Due: prettier --write

style(ui): 💄 tweak styles
  src/components/common/LocalePicker/LocalePicker.tsx
  src/components/models/BlogList/BlogList.astro
Due: eslint --fix, prettier --write

fix(content): 🐛 add trailing slashes to the news list links
  src/pages/[locale]/news/[...page].astro
  src/pages/news/[...page].astro
Due: none

docs(content): 📖 tweak articles
  src/content/blog/en/build-a-simple-diy-soundproof-vocal-booth-on-a-shelf.mdx
  src/content/blog/en/remark-card.mdx
  src/content/blog/en/split-keyboard-the-endpoint-build.mdx
  src/content/blog/ja/build-a-simple-diy-soundproof-vocal-booth-on-a-shelf.mdx
  src/content/blog/ja/remark-card.mdx
  src/content/blog/ja/split-keyboard-the-endpoint-build.mdx
  src/content/blog/ja/total-newbie-builds-mini-itx-linux-pc.mdx
Due: prettier --write

feat(content): 🆕 add emoji/kao-moji section to blog layout
  frontmatter.json
  src/content/blog/en/astro-and-front-matter-cms-combi.mdx
  src/content/blog/en/astro-website.mdx
  src/content/blog/en/build-a-simple-diy-soundproof-vocal-booth-on-a-shelf.mdx
  src/content/blog/en/obsidian-knowledge-base.mdx
  src/content/blog/en/one-month-with-the-ohnishi-keyboard-layout-a-status-update.mdx
  src/content/blog/en/pomodoro-shortcut.mdx
  src/content/blog/en/remark-card.mdx
  src/content/blog/en/split-keyboard-the-endpoint-build.mdx
  src/content/blog/en/total-newbie-builds-mini-itx-linux-pc.mdx
  src/content/blog/ja/astro-and-front-matter-cms-combi.mdx
  src/content/blog/ja/astro-website.mdx
  src/content/blog/ja/build-a-simple-diy-soundproof-vocal-booth-on-a-shelf.mdx
  src/content/blog/ja/obsidian-knowledge-base.mdx
  src/content/blog/ja/one-month-with-the-ohnishi-keyboard-layout-a-status-update.mdx
  src/content/blog/ja/pomodoro-shortcut.mdx
  src/content/blog/ja/remark-card.mdx
  src/content/blog/ja/split-keyboard-the-endpoint-build.mdx
  src/content/blog/ja/total-newbie-builds-mini-itx-linux-pc.mdx
  src/content/config.ts
  src/layouts/BlogLayout.astro
Due: eslint --fix, prettier --write

refactor(ui): ✨ tweak spaces and commas in some components
  src/components/models/Toc/Toc.astro
  src/components/ui/BuyMeACoffee/BuyMeACoffee.astro
  src/content/blog/ja/astro-website.mdx
  src/content/blog/ja/split-keyboard-the-endpoint-build.mdx
Due: prettier --write

docs(content): 📖 tweak articles
  src/content/blog/ja/one-month-with-the-ohnishi-keyboard-layout-a-status-update.mdx
  src/layouts/BlogLayout.astro
Due: prettier --write

docs(content): 📖 tweak articles and add some images
  src/assets/images/ohnishi-layout-left-0.jpg
  src/assets/images/ohnishi-layout-right-0.jpg
  src/content/blog/en/one-month-with-the-ohnishi-keyboard-layout-a-status-update.mdx
  src/content/blog/ja/one-month-with-the-ohnishi-keyboard-layout-a-status-update.mdx
Due: prettier --write

docs(content): 📖 add new news article
  frontmatter.json
  src/content/news/en/highlights-of-recent-activities-jun-to-sep-2024.mdx
  src/content/news/en/highlights-of-recent-activities-oct-to-dec-2024.mdx
  src/content/news/ja/highlights-of-recent-activities-oct-to-dec-2024.mdx
Due: prettier --write

docs(content): 📖 tweak some pages and articles
  src/assets/images/tascam-dr-10l-pro.webp
  src/content/blog/en/astro-and-front-matter-cms-combi.mdx
  src/content/blog/en/one-month-with-the-ohnishi-keyboard-layout-a-status-update.mdx
  src/content/blog/en/split-keyboard-the-endpoint-build.mdx
  src/content/blog/ja/astro-and-front-matter-cms-combi.mdx
  src/content/blog/ja/one-month-with-the-ohnishi-keyboard-layout-a-status-update.mdx
  src/content/page/en/tools.mdx
  src/content/page/ja/tools.mdx
Due: prettier --write

docs(content): 📖 tweak articles
  src/content/blog/en/astro-and-front-matter-cms-combi.mdx
  src/content/blog/ja/astro-and-front-matter-cms-combi.mdx
Due: prettier --write

chore(deps): 🤖 add remark-ruby-directive
  astro.config.ts
  bun.lockb
  package.json
Due: eslint --fix, prettier --write

docs(content): 📖 replace existing furigana parts with the ruby syntax
  src/content/blog/en/split-keyboard-the-endpoint-build.mdx
  src/content/blog/en/total-newbie-builds-mini-itx-linux-pc.mdx
  src/content/blog/ja/astro-website.mdx
  src/content/blog/ja/one-month-with-the-ohnishi-keyboard-layout-a-status-update.mdx
  src/content/blog/ja/split-keyboard-the-endpoint-build.mdx
  src/content/blog/ja/total-newbie-builds-mini-itx-linux-pc.mdx
Due: prettier --write

docs(content): 📖 tweak articles
  src/content/blog/en/build-a-simple-diy-soundproof-vocal-booth-on-a-shelf.mdx
  src/content/blog/en/pomodoro-shortcut.mdx
  src/content/blog/en/split-keyboard-the-endpoint-build.mdx
Due: prettier --write

style(ui): 💄 tweak tailwind config and prose styles
  src/layouts/AboutLayout.astro
  src/layouts/BlogLayout.astro
  src/layouts/NewsLayout.astro
  src/layouts/PageLayout.astro
  tailwind.config.ts
Due: eslint --fix, prettier --write

docs(content): 📖 tweak some articles
  src/content/blog/ja/one-month-with-the-ohnishi-keyboard-layout-a-status-update.mdx
  src/content/blog/ja/pomodoro-shortcut.mdx
  src/content/news/ja/highlights-of-recent-activities-oct-to-dec-2024.mdx
Due: prettier --write

style(ui): 💄 tweak font sizes and layouts overall
  src/components/elements/Link/LinkCard.astro
  src/components/models/BlogList/BlogList.astro
  src/components/models/Taxonomy/taxonomy.ts
  src/layouts/BlogLayout.astro
  src/layouts/NewsLayout.astro
  src/pages/[locale]/blog/[...page].astro
  src/pages/[locale]/blog/archive/[date]/[...page].astro
  src/pages/[locale]/blog/archive/index.astro
  src/pages/[locale]/blog/categories/[category]/[...page].astro
  src/pages/[locale]/blog/categories/index.astro
  src/pages/[locale]/blog/tags/[tag]/[...page].astro
  src/pages/[locale]/blog/tags/index.astro
  src/pages/[locale]/news/[...page].astro
  src/pages/blog/[...page].astro
  src/pages/blog/archive/[date]/[...page].astro
  src/pages/blog/archive/index.astro
  src/pages/blog/categories/[category]/[...page].astro
  src/pages/blog/categories/index.astro
  src/pages/blog/tags/[tag]/[...page].astro
  src/pages/blog/tags/index.astro
  src/pages/news/[...page].astro
Due: eslint --fix, prettier --write

style(ui): 💄 tweak the line height of ruby
  tailwind.config.ts
Due: eslint --fix, prettier --write

chore(deps): 🤖 version up remark-ruby-directive
  bun.lockb
  package.json
Due: prettier --write

docs(content): 📖 tweak articles
  src/content/blog/en/split-keyboard-the-endpoint-build.mdx
  src/content/blog/ja/split-keyboard-the-endpoint-build.mdx
  src/content/news/en/highlights-of-recent-activities-oct-to-dec-2024.mdx
  src/content/news/ja/highlights-of-recent-activities-jun-to-sep-2024.mdx
  src/content/news/ja/highlights-of-recent-activities-oct-to-dec-2024.mdx
  tailwind.config.ts
Due: eslint --fix, prettier --write

chore(deps): 🤖 add purgecss
  astro.config.ts
  bun.lockb
  package.json
  tailwind.config.ts
Due: eslint --fix, prettier --write

chore(config): 🤖 add safelist for purgecss
  astro.config.ts
Due: eslint --fix, prettier --write

chore(config): 🤖 tweak purgecss config
  astro.config.ts
Due: eslint --fix, prettier --write

chore(config): 🤖 tweak purgecss config and font settings
  astro.config.ts
  public/fonts/jmh_typewriter-black.woff2
  public/fonts/jmh_typewriter-bold.woff2
  public/fonts/jmh_typewriter-thin.woff2
  public/fonts/jmh_typewriter.woff2
  src/components/common/LocalePicker/LocalePicker.tsx
  src/components/common/Navigation/Navigation.astro
  src/components/common/Search/Search.tsx
  src/components/functional/CustomStyles/CustomStyles.astro
  src/components/ui/BulletinBoard/BulletinBoard.astro
  src/pages/404.astro
  src/styles/pixel-m-plus.css
  tailwind.config.ts
Due: eslint --fix, prettier --write

chore(config): 🤖 set fontFace to true in purgecss config
  astro.config.ts
  src/components/common/Navigation/Navigation.astro
  src/components/ui/BulletinBoard/BulletinBoard.astro
  src/pages/404.astro
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,css,md,mdx})
