Repository brklntmhwk/younagi.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.yml:

'*.{js,jsx,ts,tsx}':
  - eslint --fix
  - prettier --write
  - git add
'*.{json,css,md,mdx}':
  - prettier --write
  - git add

font tweaked and added
  public/fonts/DejaVuSansMono.woff2
  src/assets/fonts/DotGothic16-Regular.woff2
  src/assets/fonts/PixelMplus10-Bold.woff2
  src/assets/fonts/PixelMplus10-Regular.woff2
  src/assets/fonts/PixelMplus12-Bold.woff2
  src/assets/fonts/PixelMplus12-Regular.woff2
  src/components/BaseHead.astro
  src/styles/global.css
Due: prettier --write

font tweaked and added
  src/pages/og/[...slug].ts
Due: eslint --fix, prettier --write

font tweaked and added
  src/assets/fonts/PixelMplus10-Regular.woff2
  src/pages/og/[...slug].ts
Due: eslint --fix, prettier --write

favicon replaced
  public/favicon.svg
  src/components/Pager.astro
  src/pages/[locale]/blog/[...page].astro
  src/styles/global.css
  src/utils/getArchiveMap.ts
Due: eslint --fix, prettier --write

favicon replaced
  src/styles/global.css
Due: prettier --write

renovate introduced
  renovate.json
Due: prettier --write

favicon tweaked
  public/favicon.ico
  public/favicon.svg
  src/components/BaseHead.astro
  src/styles/global.css
Due: prettier --write

dark mode introduced
  .vscode/settings.json
  public/favicon.ico
  src/components/elements/Code.astro
  src/styles/global.css
Due: prettier --write

dark mode color scheme tweaked
  src/components/BlogList.astro
  src/components/LocalePicker.astro
  src/components/NavMenuContainer.astro
  src/components/Navigation.astro
  src/layouts/AboutLayout.astro
  src/layouts/BlogLayout.astro
  src/styles/global.css
Due: prettier --write

renovate introduced
  src/components/BlogList.astro
  src/components/Footer.astro
  src/styles/global.css
Due: prettier --write

dark mode color tweaked
  src/components/LocalePicker.astro
  src/components/NavMenuContainer.astro
  src/components/Search.astro
  src/components/Toc.astro
  src/styles/global.css
Due: prettier --write

dark mode color tweaked
  src/components/BaseHead.astro
  src/components/elements/Figure.astro
  src/styles/global.css
Due: prettier --write

blog layout's guide menu added
  src/components/Svg/icons/moon.svg
  src/components/Svg/icons/sun.svg
  src/content/config.ts
  src/content/i18n/en/translation.yml
  src/content/i18n/ja/translation.yml
  src/layouts/BlogLayout.astro
  src/pages/[locale]/[slug].astro
  src/pages/[locale]/index.astro
  src/pages/index.astro
  src/styles/global.css
Due: eslint --fix, prettier --write

metadata tweaked
  astro.config.ts
  src/content/meta/en/site-data.yml
  src/content/meta/ja/site-data.yml
  src/layouts/BlogLayout.astro
Due: eslint --fix, prettier --write

pagefind settings tweake
  src/components/Search.astro
  src/layouts/BlogLayout.astro
  src/pages/404.astro
Due: none

about tweaked
  src/assets/images/profile.png
  src/components/LocalePicker.astro
  src/components/Search.astro
  src/components/Toc.astro
  src/layouts/AboutLayout.astro
  src/styles/global.css
Due: prettier --write

bulletin board on the homepage added
  src/components/BulletinBoard.astro
  src/components/elements/Code.astro
  src/layouts/AboutLayout.astro
  src/layouts/BaseLayout.astro
  src/pages/[locale]/index.astro
  src/styles/global.css
Due: prettier --write

glassmorphism vendor prefix problem tackled
  src/styles/global.css
Due: prettier --write

robots.txt added
  public/robots.txt
  src/pages/[locale]/index.astro
Due: none

footer social logos tweaked
  src/components/Footer.astro
  src/components/Navigation.astro
  src/components/Svg/icons/github.svg
  src/components/Svg/icons/rss.svg
  src/components/Svg/icons/unsplash.svg
  src/pages/[locale]/index.astro
  src/styles/global.css
Due: prettier --write

bulletin board fallback message set
  src/components/BulletinBoard.astro
  src/content/config.ts
  src/content/i18n/en/translation.yml
  src/content/i18n/ja/translation.yml
  src/layouts/AboutLayout.astro
  src/pages/[locale]/[slug].astro
  src/pages/[locale]/blog/[slug].astro
  src/pages/[locale]/index.astro
  src/styles/global.css
Due: eslint --fix, prettier --write

bulletin board tweaked
  src/components/BulletinBoard.astro
  src/consts/index.ts
  src/content/page/en/created-my-personal-website!.mdx
  src/pages/[locale]/index.astro
Due: eslint --fix, prettier --write

bulletin board tweaked
  src/components/BulletinBoard.astro
  src/content/page/en/created-my-personal-website.mdx
  src/pages/[locale]/index.astro
Due: prettier --write

balloon tweaked
  src/components/Balloon.astro
  src/pages/[locale]/index.astro
Due: none

balloon tweaked
  public/border-image.svg
  src/components/Balloon.astro
  src/components/BulletinBoard.astro
  src/pages/[locale]/index.astro
Due: none

balloon → message tweaked
  public/border-image.svg
  src/components/Balloon.astro
  src/components/Message.astro
  src/layouts/AboutLayout.astro
  src/pages/[locale]/index.astro
  src/styles/global.css
Due: prettier --write

message and inline code block tweaked
  src/components/Message.astro
  src/content/blog/en/markdown-style-guide.mdx
  src/content/config.ts
  src/content/i18n/en/translation.yml
  src/content/i18n/ja/translation.yml
  src/layouts/BlogLayout.astro
  src/pages/[locale]/blog/[slug].astro
  src/pages/[locale]/index.astro
Due: eslint --fix, prettier --write

prose style tweaked
  src/components/Message.astro
  src/components/Search.astro
  src/components/elements/Code.astro
  src/content/blog/en/markdown-style-guide.mdx
  src/layouts/BlogLayout.astro
  src/styles/global.css
Due: prettier --write

news content added
  frontmatter.json
  src/components/BulletinBoard.astro
  src/components/Navigation.astro
  src/components/Pager.astro
  src/content/config.ts
  src/content/i18n/en/translation.yml
  src/content/i18n/ja/translation.yml
  src/content/meta/en/site-data.yml
  src/content/meta/ja/site-data.yml
  src/content/news/en/created-my-personal-website.md
  src/content/news/ja/created-my-personal-website.md
  src/layouts/BlogLayout.astro
  src/layouts/NewsLayout.astro
  src/pages/[locale]/blog/[...page].astro
  src/pages/[locale]/index.astro
  src/pages/[locale]/news/[...page].astro
  src/pages/[locale]/news/[slug].astro
Due: eslint --fix, prettier --write

news list page tweaked and news content added to frontmatter.json config
  frontmatter.json
  src/content/news/en/second-news.md
  src/pages/[locale]/news/[...page].astro
Due: prettier --write

theme toggle component and dark mode styling
  src/components/BlogList.astro
  src/components/BulletinBoard.astro
  src/components/Footer.astro
  src/components/Message.astro
  src/components/Navigation.astro
  src/components/ThemeToggle.astro
  src/components/Toc.astro
  src/content/blog/en/aaa.mdx
  src/layouts/BlogLayout.astro
  src/layouts/NewsLayout.astro
  src/pages/[locale]/news/[...page].astro
  src/styles/global.css
Due: prettier --write

title added to icon display components
  src/components/LocalePicker.astro
  src/components/Search.astro
  src/components/ThemeToggle.astro
  src/content/config.ts
  src/content/i18n/en/translation.yml
  src/content/i18n/ja/translation.yml
  src/content/page/en/about.mdx
  src/styles/global.css
Due: eslint --fix, prettier --write

layouts tweaked
  src/components/Svg/index.astro
  src/content/config.ts
  src/content/i18n/en/translation.yml
  src/content/i18n/ja/translation.yml
  src/layouts/AboutLayout.astro
  src/layouts/NewsLayout.astro
  src/pages/[locale]/news/[...page].astro
Due: eslint --fix, prettier --write

layouts tweaked
  src/components/Pager.astro
  src/components/Svg/icons/unsplash.svg
  src/components/Toc.astro
  src/content/page/en/about.mdx
  src/pages/[locale]/[slug].astro
  src/pages/[locale]/news/[...page].astro
  src/styles/global.css
Due: prettier --write

layouts tweaked
  src/content/page/en/about.mdx
Due: prettier --write

packages cleaned and gitattr added
  .gitattribute
  package-lock.json
  package.json
  src/components/Toc.astro
  src/content/page/en/about.mdx
  src/layouts/BaseLayout.astro
  yarn.lock
Due: prettier --write

packages cleaned and gitattr added
  package.json
  src/lib/unsplash/client.ts
  src/lib/unsplash/getContent.ts
  yarn.lock
Due: eslint --fix, prettier --write

packages cleaned and gitattr added
  package.json
  yarn.lock
Due: prettier --write
