Repository brklntmhwk/younagi.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.yml:

'*.{js,jsx,ts,tsx}':
  - eslint --fix
  - prettier --write
  - git add
'*.{json,css,md,mdx}':
  - prettier --write
  - git add

tweaked overall
  src/components/Contact.astro
  src/components/islands/Turnstile.tsx
Due: eslint --fix, prettier --write

remark plugin for footnotes in MD & mdast type guard utils created
  .eslintrc.yml
  astro.config.ts
  src/components/BaseHead.astro
  src/components/Contact.astro
  src/layouts/BlogLayout.astro
  src/plugins/mdast-is.ts
  src/plugins/remark-footnote.ts
  src/stores/contactFormStore.ts
  src/utils/i18n/getTargetLocalSlug.ts
Due: eslint --fix, prettier --write

remark plugin for callout revisited and some ts file names modified
  src/components/Contact.astro
  src/components/islands/ContactForm.tsx
  src/components/islands/Likes.tsx
  src/components/islands/LocaleStore.tsx
  src/content/blog/en/astro-website.mdx
  src/plugins/remark-callout.ts
  src/plugins/remark-callout2.ts
  src/plugins/remark-footnote.ts
  src/stores/contact-form-store.ts
  src/stores/locale-store.ts
  src/styles/styles.css.ts
Due: eslint --fix, prettier --write

Svg --> Icon, callout remark modified, and node.js --> bun
  package.json
Due: prettier --write

Svg --> Icon, callout remark modified, and node.js --> bun
  .github/workflows/deploy.yml
Due: none

Svg --> Icon, callout remark modified, and node.js --> bun
  bun.lockb
  pnpm-lock.yaml
Due: none

Svg --> Icon, callout remark modified, and node.js --> bun
  wrangler.toml
Due: none

turnstile key made public
  src/components/Contact.astro
Due: none

blog taxonomies system revisited (shifted to using content collections to manage them)
  src/components/Contact.astro
Due: none

blog taxonomies system revisited (shifted to using content collections to manage them)
  src/components/Contact.astro
  src/pages/[locale]/blog/categories/[category]/[...page].astro
  src/pages/[locale]/blog/tags/[tag]/[...page].astro
  src/pages/blog/categories/[category]/[...page].astro
  src/pages/blog/tags/[tag]/[...page].astro
Due: none

taxonomy design tweaked and component's file structures modified
  src/components/BlogList.astro
  src/components/Navigation/NavLink.astro
  src/components/Navigation/NavMenuContainer.astro
  src/components/Navigation/Navigation.astro
  src/components/Navigation/index.ts
  src/components/PhotoGallery/PhotoGallery.astro
  src/components/PhotoGallery/PhotoGalleryItem.astro
  src/components/PhotoGallery/index.ts
  src/components/Taxonomy/taxonomy.css.ts
  src/content/categories/en/learning.yaml
  src/content/categories/ja/learning.yaml
  src/content/i18n/en/translation.yml
  src/content/i18n/ja/translation.yml
  src/layouts/BaseLayout.astro
  src/layouts/BlogLayout.astro
  src/layouts/PageLayout.astro
  src/pages/[locale]/blog/categories/index.astro
  src/pages/[locale]/index.astro
  src/pages/blog/[...page].astro
  src/pages/blog/categories/[category]/[...page].astro
  src/pages/blog/categories/index.astro
  src/pages/index.astro
  src/pages/news/[...page].astro
Due: eslint --fix, prettier --write

link card remark plugin & components created
  astro.config.ts
  bun.lockb
  package.json
  src/components/BlogList.astro
  src/components/Icon/icons/link.svg
  src/components/Icon/types.ts
  src/components/Taxonomy/taxonomy.css.ts
  src/components/elements/Link.astro
  src/components/elements/LinkCard.astro
  src/content/blog/en/astro-website.mdx
  src/content/categories/en/experiment.yml
  src/content/categories/en/learning.yml
  src/content/categories/en/others.yml
  src/content/categories/en/travel.yaml
  src/content/categories/en/travel.yml
  src/content/categories/ja/experiment.yml
  src/content/categories/ja/learning.yml
  src/content/categories/ja/others.yml
  src/content/categories/ja/travel.yaml
  src/content/categories/ja/travel.yml
  src/lib/mdx-components.ts
  src/plugins/mdast-is.ts
  src/plugins/remark-callout.ts
  src/plugins/remark-link-card.ts
Due: eslint --fix, prettier --write

link card remark plugin & components created
  astro.config.ts
Due: eslint --fix, prettier --write

Layouts tweaked & Article component created
  src/components/Article/Article.astro
  src/components/Article/article.css.ts
  src/components/Article/index.ts
  src/components/PhotoGallery/PhotoGallery.astro
  src/components/PhotoGallery/PhotoGalleryItem.astro
  src/components/Taxonomy/taxonomy.css.ts
  src/components/elements/LinkCard.astro
  src/content/blog/en/astro-website.mdx
  src/content/config.ts
  src/content/i18n/en/translation.yml
  src/content/i18n/ja/translation.yml
  src/layouts/AboutLayout.astro
  src/layouts/BaseLayout.astro
  src/layouts/BlogLayout.astro
  src/layouts/ContactLayout.astro
  src/layouts/NewsLayout.astro
  src/layouts/PageLayout.astro
  src/pages/[locale]/blog/categories/index.astro
  src/pages/blog/categories/index.astro
  src/styles/global.css
Due: eslint --fix, prettier --write

Layouts tweaked & Article component created
  src/components/Article/Article.astro
  src/components/Article/article.css.ts
Due: eslint --fix, prettier --write

small tweakes
  src/components/BlogList.astro
  src/components/BulletinBoard.astro
  src/components/LocalePicker.astro
  src/components/Message.astro
  src/components/Navigation/NavMenuContainer.astro
  src/components/Navigation/Navigation.astro
  src/components/elements/Figure/Code.astro
  src/components/elements/Figure/Figure.astro
  src/components/elements/Figure/Image.astro
  src/components/elements/Figure/index.ts
  src/components/elements/Link/Link.astro
  src/components/elements/Link/LinkCard.astro
  src/components/elements/Link/index.ts
  src/lib/mdx-components.ts
Due: eslint --fix, prettier --write

small tweakes
  src/components/OgImage/index.tsx
  src/styles/global.css
Due: eslint --fix, prettier --write

small tweakes
  src/pages/api/og/[...slug].png.ts
Due: eslint --fix, prettier --write

small tweakes
  src/components/Modal.astro
  src/components/OgImage/index.tsx
  src/components/Taxonomy/taxonomy.css.ts
  src/components/elements/Link/LinkCard.astro
  src/layouts/BlogLayout.astro
  src/pages/api/og/[...slug].png.ts
  src/styles/global.css
Due: eslint --fix, prettier --write

small tweakes
  src/components/OgImage/index.tsx
  src/pages/api/og/[...slug].png.ts
Due: eslint --fix, prettier --write

OGImage not showing addressed
  src/components/OgImage/index.tsx
  src/pages/api/og/[...slug].png.ts
Due: eslint --fix, prettier --write

OGImage issue: sharp added to trustedDependencies in package.json
  package.json
  src/content/blog/en/astro-website.mdx
  src/layouts/BlogLayout.astro
  src/layouts/NewsLayout.astro
  src/layouts/PageLayout.astro
Due: prettier --write

OGImage issue: sharp added to trustedDependencies in package.json (and lock file and node modules reinstalled
  bun.lockb
  src/pages/[locale]/blog/[...page].astro
  src/pages/blog/[...page].astro
  src/pages/blog/tags/[tag]/[...page].astro
Due: none

bun --> pnpm with bun
  .github/workflows/deploy.yml
  bun.lockb
  package.json
  pnpm-lock.yaml
  src/content/blog/en/astro-website.mdx
Due: prettier --write

pnpm with bun --> bun, small tweakes
  .github/workflows/deploy.yml
  .husky/pre-commit
  astro.config.ts
  bun.lockb
  package.json
  pnpm-lock.yaml
  renovate.json
  src/components/OgImage/index.tsx
  src/content/tags/en/astro.yml
  src/content/tags/en/cloudflare.yml
  src/content/tags/en/typescript.yml
  src/content/tags/ja/astro.yml
  src/content/tags/ja/cloudflare.yml
  src/content/tags/ja/typescript.yml
  src/pages/api/og/[...slug].png.ts
Due: eslint --fix, prettier --write

pnpm with bun --> bun, small tweakes
  astro.config.ts
Due: eslint --fix, prettier --write

pnpm with bun --> bun, small tweakes
  .github/workflows/deploy.yml
  astro.config.ts
  wrangler.toml
Due: eslint --fix, prettier --write

wrangler.toml tweaked
  wrangler.toml
Due: none
