Repository brklntmhwk/younagi.dev: changes, and which lefthook commands are due for each by the changed paths.
All: biome, textlint

biome:
  run: bunx @biomejs/biome check --write ./src/
  stage_fixed: true
  skip:
  - merge
  - rebase

textlint:
  run: bun textlint --fix './src/content/'
  stage_fixed: true
  skip:
  - merge
  - rebase

refactor(some): ✨ lint-fix some files so lint check passes
  src/components/ui/Icon/types.ts
  src/db/migrations/meta/0001_snapshot.json
  src/db/migrations/meta/_journal.json
Due: biome

fix(dev): revert commented-out mise install in Dockerfile
  Dockerfile
Due: none

style(ui): 💄 remove unused vars
  src/styles/global.css
  tailwind.config.ts
Due: biome

fix(dev): 🐛 revert commented-out mise install in Dockerfile
  Dockerfile
Due: none

style(ui): 💄 change text color of callout content
  src/components/elements/Callout/CalloutContent.astro
Due: none

refactor(api): ✨ remove vite-env.d.ts and reflect changes needed
  src/lib/unsplash/client.ts
  src/vite-env.d.ts
Due: biome

docs(content): 📖 tweak readme
  README.md
Due: textlint

refactor(api): ✨ turn unsplash photo data into astro's collection
  .frontmatter/database/mediaDb.json
  src/components/ui/Icon/types.ts
  src/components/ui/PhotoGallery/PhotoGallery.astro
  src/components/ui/PhotoGallery/PhotoItem.astro
  src/content.config.ts
  src/lib/unsplash/contents.ts
  src/lib/unsplash/types.ts
Due: biome

docs(content): 📖 tweak articles and pages
  src/content/blog/en/astro-website.mdx
  src/content/blog/en/split-keyboard-the-endpoint-build.mdx
  src/content/blog/ja/astro-website.mdx
  src/content/blog/ja/split-keyboard-the-endpoint-build.mdx
  src/content/blog/ja/upgrade-my-hybrid-website-to-astro-v5.mdx
  src/content/page/en/about.mdx
Due: textlint

chore(api): 🤖 modify unsplash api parts
  src/components/ui/PhotoGallery/PhotoItem.astro
Due: none

refactor(ui): ✨ change class names and tweak search style
  src/components/common/Search/Search.tsx
  src/components/elements/Card/Card.astro
  src/components/elements/Link/LinkCard.astro
  src/components/elements/OEmbed/OEmbedVideo.tsx
  src/components/models/Article/Article.astro
  src/components/models/BlogList/BlogList.astro
  src/components/ui/ContactForm/SubmitButton/SubmitButton.tsx
  src/components/ui/ContactForm/TextField/TextField.tsx
  src/layouts/BlogLayout.astro
  src/styles/global.css
Due: biome

fix(ui): 🐛 modify location of horizontal bar below giscus section
  src/layouts/BlogLayout.astro
Due: none

docs(content): 📖 tweak some articles
  src/content/blog/en/astro-website.mdx
  src/content/blog/en/upgrade-my-hybrid-website-to-astro-v5.mdx
  src/content/blog/ja/astro-website.mdx
  src/content/blog/ja/upgrade-my-hybrid-website-to-astro-v5.mdx
Due: textlint

docs(content): 📖 tweak some articles
  src/content/blog/en/astro-website.mdx
  src/content/blog/ja/astro-website.mdx
  src/content/blog/ja/build-a-simple-diy-soundproof-vocal-booth-on-a-shelf.mdx
Due: textlint

fix(dev): 🐛 add explicit install of corepack in dockerfile to fix an error
  Dockerfile
Due: none

chore(dev): 🤖 add flake.nix
  flake.nix
Due: none

chore(dev): 🤖 generate flake lock file from WSL2 + NixOS
  flake.lock
  flake.nix
Due: none

chore(deps): 🤖 tidy up some scripts in package.json
  bun.lockb
  package.json
  src/components/ui/Icon/types.ts
Due: biome

chore(dev): modify flake.nix and update bun.lockb to bun.lock (text-based)
  bun.lock
  bun.lockb
  flake.lock
  flake.nix
  package.json
Due: biome

docs(content): add info about Nix to README
  README.md
Due: textlint

chore(dev): remove extra env vars and regenerate their types
  .env.example
  .github/workflows/dev.yml
  .github/workflows/prod.yml
  worker-configuration.d.ts
Due: biome

refactor(db): remove conditional branch for dev mode
  drizzle.config.ts
Due: biome

refactor(ui): modify how to obtain turnstile site key
  src/components/ui/ContactForm/ContactForm.tsx
  src/layouts/AboutLayout.astro
Due: biome

refactor(dev): tweak env var name
  src/layouts/AboutLayout.astro
  worker-configuration.d.ts
Due: biome

refactor(ui): make contact form server island
  src/components/ui/ContactForm/ContactForm.astro
  src/components/ui/ContactForm/Form/Form.tsx
  src/components/ui/ContactForm/index.ts
  src/layouts/AboutLayout.astro
Due: biome

refactor(dev): migrate to astro:dev partly
  .env.example
  astro.config.ts
  src/components/ui/ContactForm/ContactForm.astro
  src/components/ui/ContactForm/Form/Form.tsx
  src/components/ui/ContactForm/index.ts
  src/layouts/AboutLayout.astro
Due: biome

cd(dev): revert env var for turnstile site key
  .github/workflows/dev.yml
  .github/workflows/prod.yml
Due: none

chore(dev): tweak script
  package.json
Due: biome

refactor(dev): tidy runtime envs
  worker-configuration.d.ts
Due: biome

docs(content): update readme
  README.md
Due: textlint

chore(config): migrate from git-cz to czg
  bun.lock
  changelog.config.cjs
  cz.config.mjs
  flake.nix
  package.json
Due: biome

docs(readme): replace git-cz with czg
  README.md
Due: textlint

perf(api): replace api endpoints with astro actions
  src/actions/form.ts
  src/actions/index.ts
  src/actions/likes.ts
  src/components/ui/ContactForm/Form/Form.tsx
  src/components/ui/ContactForm/Form/error-is.ts
  src/components/ui/ContactForm/error-is.ts
  src/components/ui/Likes/Likes.tsx
  src/pages/[locale]/api/form.ts
  src/pages/[locale]/api/likes.ts
  src/pages/api/form.ts
  src/pages/api/likes.ts
Due: biome

ci: change bun.lockb to bun.lock
  .github/workflows/ci.yml
  .github/workflows/danger.yml
  .github/workflows/dev.yml
  .github/workflows/prod.yml
Due: none

refactor(locale): add thanks msg to translation and remove thanks pages
  src/content.config.ts
  src/content/i18n/en/translation.yml
  src/content/i18n/ja/translation.yml
  src/content/page/en/thanks-page.mdx
  src/content/page/ja/thanks-page.mdx
Due: biome, textlint

fix(api): add form reset after submissions
  src/actions/form.ts
  src/components/ui/ContactForm/Form/Form.tsx
Due: biome

perf(api): remove unnecessary code from form action
  src/actions/form.ts
Due: biome

ci: remove env var of unsplash api key from workflows
  .github/workflows/dev.yml
  .github/workflows/prod.yml
Due: none

refactor(api): tidy up consts and unsplash api client
  src/lib/consts.ts
  src/lib/unsplash/client.ts
  src/lib/unsplash/contents.ts
Due: biome

Path conditions:
  biome: any of: *.{js,cjs,mjs,ts,cts,mts,jsx,tsx,json,jsonc,css}
  textlint: any of: *.{md,mdx}
