Repository brklntmhwk/younagi.dev: changes, and which lefthook commands are due for each by the changed paths.
All: biome, textlint

lefthook.yml:

pre-commit:
  commands:
    biome:
      glob: "*.{js,cjs,mjs,ts,cts,mts,jsx,tsx,json,jsonc,css}"
      run: bunx @biomejs/biome check --write ./src/
      stage_fixed: true
      skip:
        - merge
        - rebase
    textlint:
      glob: "*.{md,mdx}"
      run: bun textlint --fix './src/content/'
      stage_fixed: true
      skip:
        - merge
        - rebase

style(ui): 💄 tweak layouts' style
  src/layouts/BlogLayout.astro
  src/layouts/NewsLayout.astro
Due: none

feat(ui): 🆕 add difficulty(StarRating) to search filter
  src/components/ui/StarRating/StarRating.astro
Due: none

style(ui): 💄 tweak search style
  src/components/common/Search/Search.tsx
Due: biome

feat(ui): 🆕 add difficulty search filter
  src/content/config.ts
  src/content/i18n/en/translation.yml
  src/content/i18n/ja/translation.yml
  src/layouts/BlogLayout.astro
Due: biome

style(ui): 💄 tweak some styles
  src/components/common/Search/Search.tsx
  src/components/models/Prose/Prose.astro
Due: biome

style(ui): 💄 tweak some styles
  src/components/common/LocalePicker/LocalePicker.tsx
  src/components/common/Search/Search.tsx
Due: biome

docs(lang): 📖 tweak labels for blog layout
  src/content/i18n/en/translation.yml
  src/content/i18n/ja/translation.yml
Due: none

docs(content): 📖 tweak some articles
  src/content/blog/en/astro-website.mdx
  src/content/blog/en/one-month-with-the-ohnishi-keyboard-layout-a-status-update.mdx
  src/content/blog/ja/astro-website.mdx
  src/content/blog/ja/one-month-with-the-ohnishi-keyboard-layout-a-status-update.mdx
  src/content/blog/ja/split-keyboard-the-endpoint-build.mdx
Due: textlint

docs(content): 📖 tweak some articles
  src/content/blog/en/one-month-with-the-ohnishi-keyboard-layout-a-status-update.mdx
  src/content/blog/ja/one-month-with-the-ohnishi-keyboard-layout-a-status-update.mdx
Due: textlint

style(ui): 💄 tweak callout style
  src/components/elements/Callout/callouts.ts
Due: biome

style(ui): 💄 tweak some styles and reduce tw style config
  src/components/models/Prose/Prose.astro
  tailwind.config.ts
Due: biome

style(ui): 💄 remove taxonomy colors
  frontmatter.json
  src/components/models/Taxonomy/taxonomy.ts
  src/content/categories/en/categories.yml
  src/content/categories/ja/categories.yml
  src/content/config.ts
  src/content/tags/en/tags.yml
  src/content/tags/ja/tags.yml
Due: biome

fix(ui): 🐛 fix error caused by modifying taxonomy
  src/components/models/Taxonomy/Taxonomy.astro
Due: none

style(ui): 💄 curtail extra styles
  src/components/models/BlogList/BlogList.astro
  src/layouts/BlogLayout.astro
Due: none

style(ui): 💄 tweak some styles in pages
  src/components/models/Taxonomy/taxonomy.ts
  src/pages/[locale]/blog/categories/index.astro
  src/pages/[locale]/blog/tags/index.astro
  src/pages/blog/categories/index.astro
  src/pages/blog/tags/index.astro
Due: biome

style(ui): 💄 tweak some styles in pages
  src/components/elements/Link/LinkCard.astro
  src/components/models/Article/Article.astro
  src/pages/404.astro
  src/pages/[locale]/blog/archive/[date]/[...page].astro
  src/pages/[locale]/blog/archive/index.astro
  src/pages/[locale]/blog/categories/[category]/[...page].astro
  src/pages/[locale]/blog/categories/index.astro
  src/pages/[locale]/blog/tags/[tag]/[...page].astro
  src/pages/[locale]/blog/tags/index.astro
  src/pages/blog/archive/[date]/[...page].astro
  src/pages/blog/archive/index.astro
  src/pages/blog/categories/[category]/[...page].astro
  src/pages/blog/categories/index.astro
  src/pages/blog/tags/[tag]/[...page].astro
  src/pages/blog/tags/index.astro
Due: none

style(ui): 💄 tweak some styles in pages
  src/components/models/BlogList/BlogList.astro
  src/layouts/BlogLayout.astro
  src/pages/[locale]/blog/categories/index.astro
  src/pages/[locale]/blog/tags/index.astro
  src/pages/blog/categories/index.astro
  src/pages/blog/tags/index.astro
Due: none

chore(deps): 🤖 update deps
  bun.lockb
Due: none

chore(config): 🤖 add output server
  astro.config.ts
Due: biome

chore(config): 🤖 remove output server
  astro.config.ts
Due: biome

docs(content): 📖 replace most of the cards with tables
  src/assets/images/anki-icon.webp
  src/assets/images/audio-technica-ath-r70x.webp
  src/assets/images/cloudflare-logo.webp
  src/assets/images/davinci-resolve-icon.webp
  src/assets/images/docker-mark-blue.png
  src/assets/images/drafts-icon.webp
  src/assets/images/goodnotes-icon.webp
  src/assets/images/huawei-freeclip.webp
  src/assets/images/ik-multimedia-iloud-mtm-mkii.avif
  src/assets/images/ipad-pro-13inch-spaceblack.webp
  src/assets/images/iphone-15-black.webp
  src/assets/images/kindle-icon.webp
  src/assets/images/kindle-oasis-2019.avif
  src/assets/images/mac-studio-m2.webp
  src/assets/images/macos.png
  src/assets/images/motu-digital-performer-11.webp
  src/assets/images/neovim-icon.webp
  src/assets/images/ni-komplete-15-collectors-edition.avif
  src/assets/images/ni-kontrol-s49-mk3.avif
  src/assets/images/ni-maschine-mk3.webp
  src/assets/images/nixos-icon.png
  src/assets/images/obsidian-icon.png
  src/assets/images/rme-babyface-pro-fs.webp
  src/assets/images/sigma-dc-dn-contemporary-e-mount.webp
  src/assets/images/sony-creators-app-icon.webp
  src/assets/images/sony-ilce-6700.webp
  src/assets/images/spotify-icon.png
  src/assets/images/tascam-portacapture-x8.webp
  src/assets/images/totalmix-fx.webp
  src/assets/images/vscode-icon.webp
  src/assets/images/working-copy-icon.avif
  src/content/page/en/tools.mdx
  src/content/page/ja/tools.mdx
Due: textlint

ci(dev): 🎡 add a workflow for dev deploy
  .github/workflows/ci.yml
  .github/workflows/dev.yml
Due: none

ci(dev): 🎡 tweak dev workflow file
  .github/workflows/dev.yml
Due: none

ci(dev): 🎡 tweak dev workflow
  .github/workflows/dev.yml
Due: none

ci(dev): 🎡 remove deploy URL scripting part from dev workflow
  .github/workflows/dev.yml
Due: none

style(ui): 💄 tweak image size of linkcard
  src/components/elements/Link/LinkCard.astro
Due: none

perf(ui): ⚡️ reduce images' size overall
  src/assets/images/diy-booth-cork-board-set.jpg
  src/assets/images/diy-booth-curtain-closed.jpg
  src/assets/images/diy-booth-curtain-open.jpg
  src/assets/images/diy-booth-curtain-rail.jpg
  src/assets/images/diy-booth-look.jpg
  src/assets/images/diy-booth-lshaped-corner-bracket.jpg
  src/assets/images/diy-booth-pegboard-set.jpg
  src/assets/images/diy-booth-staple-gun-power.jpg
  src/assets/images/diy-booth-staple-gun-ready.jpg
  src/assets/images/lian-li-a4-h2o-front-angle.JPEG
  src/assets/images/lian-li-a4-h2o-front-angle.jpg
  src/assets/images/lian-li-a4-h2o-side-angle.JPEG
  src/assets/images/lian-li-a4-h2o-side-angle.jpg
  src/assets/images/the-endpoint-updated.jpg
  src/content/blog/en/total-newbie-builds-mini-itx-linux-pc.mdx
  src/content/blog/ja/total-newbie-builds-mini-itx-linux-pc.mdx
Due: textlint

perf(ui): ⚡️ reduce images' size and delete unused assets
  .frontmatter/database/mediaDb.json
  public/videos/sample-video.mp4
  src/assets/images/nixos-installation-done.jpg
  src/assets/images/nixos-installation-failed.jpg
  src/assets/images/ssd-not-recognized.jpg
  src/assets/images/the-endpoint.jpeg
  src/assets/images/the-endpoint.jpg
  src/content/blog/en/split-keyboard-the-endpoint-build.mdx
  src/content/blog/en/total-newbie-builds-mini-itx-linux-pc.mdx
  src/content/blog/ja/split-keyboard-the-endpoint-build.mdx
  src/content/blog/ja/total-newbie-builds-mini-itx-linux-pc.mdx
  src/content/page/en/tools.mdx
  src/content/page/ja/tools.mdx
Due: biome, textlint

feat(ui): 🆕 add difficulty search filter
  src/content.config.ts
  src/content/i18n/en/translation.yml
  src/content/i18n/ja/translation.yml
  src/layouts/BlogLayout.astro
Due: biome
