Repository brklntmhwk/younagi.dev: changes, and which lefthook commands are due for each by the changed paths.
All: biome, textlint

biome:
  run: bunx @biomejs/biome check --write ./src/
  stage_fixed: true
  skip:
  - merge
  - rebase

textlint:
  run: bun textlint --fix './src/content/'
  stage_fixed: true
  skip:
  - merge
  - rebase

docs(content): 📖 tweak some articles
  src/content/blog/en/astro-website.mdx
  src/content/blog/en/one-month-with-the-ohnishi-keyboard-layout-a-status-update.mdx
  src/content/blog/ja/astro-website.mdx
  src/content/blog/ja/one-month-with-the-ohnishi-keyboard-layout-a-status-update.mdx
  src/content/blog/ja/split-keyboard-the-endpoint-build.mdx
Due: textlint

docs(content): 📖 tweak some articles
  src/content/blog/en/one-month-with-the-ohnishi-keyboard-layout-a-status-update.mdx
  src/content/blog/ja/one-month-with-the-ohnishi-keyboard-layout-a-status-update.mdx
Due: textlint

style(ui): 💄 curtail extra styles
  src/components/models/BlogList/BlogList.astro
  src/layouts/BlogLayout.astro
Due: none

style(ui): 💄 tweak some styles in pages
  src/components/models/Taxonomy/taxonomy.ts
  src/pages/[locale]/blog/categories/index.astro
  src/pages/[locale]/blog/tags/index.astro
  src/pages/blog/categories/index.astro
  src/pages/blog/tags/index.astro
Due: biome

style(ui): 💄 remove taxonomy colors
  frontmatter.json
  src/components/models/Taxonomy/taxonomy.ts
  src/content.config.ts
  src/content/categories/en/categories.yml
  src/content/categories/ja/categories.yml
  src/content/tags/en/tags.yml
  src/content/tags/ja/tags.yml
Due: biome

fix(ui): 🐛 fix error caused by modifying taxonomy
  src/components/models/Taxonomy/Taxonomy.astro
Due: none

style(ui): 💄 tweak some styles in pages
  src/components/elements/Link/LinkCard.astro
  src/components/models/Article/Article.astro
  src/pages/404.astro
  src/pages/[locale]/blog/archive/[date]/[...page].astro
  src/pages/[locale]/blog/archive/index.astro
  src/pages/[locale]/blog/categories/[category]/[...page].astro
  src/pages/[locale]/blog/categories/index.astro
  src/pages/[locale]/blog/tags/[tag]/[...page].astro
  src/pages/[locale]/blog/tags/index.astro
  src/pages/blog/archive/[date]/[...page].astro
  src/pages/blog/archive/index.astro
  src/pages/blog/categories/[category]/[...page].astro
  src/pages/blog/categories/index.astro
  src/pages/blog/tags/[tag]/[...page].astro
  src/pages/blog/tags/index.astro
Due: none

style(ui): 💄 tweak some styles in pages
  src/components/models/BlogList/BlogList.astro
  src/layouts/BlogLayout.astro
  src/pages/[locale]/blog/categories/index.astro
  src/pages/[locale]/blog/tags/index.astro
  src/pages/blog/categories/index.astro
  src/pages/blog/tags/index.astro
Due: none

chore(deps): 🤖 resolve conflict
  src/content.config.ts
  src/layouts/BlogLayout.astro
Due: biome

docs(content): 📖 replace most of the cards with tables
  src/content/page/en/tools.mdx
  src/content/page/ja/tools.mdx
Due: textlint

fix(dev): 🐛 fix conflict mistakes
  src/content.config.ts
  src/layouts/BlogLayout.astro
Due: biome

docs(content): 📖 add new tools to tools pages
  src/content/page/en/tools.mdx
  src/content/page/ja/tools.mdx
Due: textlint

docs(content): 📖 tweak articles and pages
  src/content/blog/en/one-month-with-the-ohnishi-keyboard-layout-a-status-update.mdx
  src/content/blog/ja/astro-website.mdx
  src/content/blog/ja/one-month-with-the-ohnishi-keyboard-layout-a-status-update.mdx
  src/content/news/ja/tools-i-use-daily-shared.mdx
  src/content/page/en/tools.mdx
  src/content/page/ja/tools.mdx
Due: textlint

style(ui): 💄 tweak components' styles
  src/components/ui/BuyMeACoffee/BuyMeACoffee.astro
  src/components/ui/Likes/Likes.tsx
  src/components/ui/StarRating/StarRating.astro
Due: biome

feat(api): 🆕 introduce Astro server islands to photo gallery
  astro.config.ts
  src/components/elements/Figure/Image.astro
  src/components/ui/Icon/icons/loading.svg
  src/components/ui/Icon/types.ts
  src/components/ui/PhotoGallery/PhotoGallery.astro
  src/components/ui/PhotoGallery/PhotoItem.astro
  src/components/ui/PhotoGallery/PhotoItemFrame.astro
  src/components/ui/PhotoGallery/PhotoSkelton.astro
  src/lib/blur.ts
  src/pages/[locale]/index.astro
  src/pages/index.astro
Due: biome

chore(config): 🤖 add unsplash url to allowed hostnames of img service
  astro.config.ts
Due: biome

docs(content): 📖 add revisited tag
  src/content/tags/en/tags.yml
  src/content/tags/ja/tags.yml
Due: none

refactor(api): ✨ remove unused Unsplash api functions
  src/lib/unsplash/contents.ts
Due: biome

fix(content): 🐛 modify duplications and bugs caused by resolving confli
  src/components/ui/StarRating/StarRating.astro
  src/content/blog/ja/astro-website.mdx
Due: textlint

chore(config): 🤖 remove unnecessary remark plugin
  astro.config.ts
  src/lib/unified/plugins/rehype-trim-empty-paragraph.ts
Due: biome

refactor(ui): ✨ make star icon astro static component
  src/components/ui/Icon/icons/star.svg
  src/components/ui/Icon/types.ts
  src/components/ui/StarRating/StarIcon.tsx
  src/components/ui/StarRating/StarRating.astro
Due: biome

fix(api): 🐛 modify Unsplash API client
  src/components/ui/PhotoGallery/PhotoGallery.astro
  worker-configuration.d.ts
Due: biome

fix(api): 🐛 comment out conditional env assignment to check
  src/components/ui/PhotoGallery/PhotoGallery.astro
Due: none

fix(api): 🐛 remove server defer from photo gallery
  bun.lockb
  src/components/ui/PhotoGallery/PhotoGallery.astro
  src/layouts/BlogLayout.astro
  src/pages/index.astro
Due: none

fix(api): 🐛 tweak photo gallery
  src/components/ui/PhotoGallery/PhotoGallery.astro
Due: none

fix(api): 🐛 change where and how to obtain access key
  src/components/ui/PhotoGallery/PhotoGallery.astro
Due: none

fix(api): 🐛 add debugs to confirm where the err comes
  src/components/ui/PhotoGallery/PhotoGallery.astro
Due: none

fix(api): 🐛 add debug to photo gallery to pin down the err cause
  src/components/ui/PhotoGallery/PhotoGallery.astro
  src/components/ui/PhotoGallery/PhotoItem.astro
Due: none

chore(config): 🤖 add explicit output static in astro config
  astro.config.ts
Due: biome

fix(api): 🐛 add preprender false
  src/components/ui/PhotoGallery/PhotoItem.astro
  src/pages/index.astro
Due: none

fix(api): 🐛 add preprender false to photo gallery
  src/components/ui/PhotoGallery/PhotoGallery.astro
  src/pages/index.astro
Due: none

fix(api): 🐛 add prerender true to pages
  src/components/ui/PhotoGallery/PhotoGallery.astro
  src/pages/index.astro
Due: none

fix(api): 🐛 remove all prerender false
  src/pages/[locale]/api/form.ts
  src/pages/[locale]/api/likes.ts
  src/pages/api/form.ts
  src/pages/api/likes.ts
  src/pages/index.astro
Due: biome

fix(api): 🐛 comment out some parts in photo item
  src/components/ui/PhotoGallery/PhotoGallery.astro
  src/components/ui/PhotoGallery/PhotoItem.astro
  src/pages/[locale]/api/form.ts
  src/pages/[locale]/api/likes.ts
  src/pages/[locale]/index.astro
  src/pages/api/form.ts
  src/pages/api/likes.ts
  src/pages/index.astro
Due: biome

fix(api): 🐛 add server:defer to photo gallery and remove from item
  src/components/ui/PhotoGallery/PhotoGallery.astro
  src/components/ui/PhotoGallery/PhotoItem.astro
  src/lib/unsplash/contents.ts
  src/pages/index.astro
Due: biome

fix(api): 🐛 add fallback message to server islands
  src/pages/index.astro
Due: none

fix(api): 🐛 replace Unsplash API from its JS SDK to vanilla fetch
  src/components/ui/PhotoGallery/PhotoGallery.astro
  src/pages/[locale]/index.astro
Due: none

fix(api): 🐛 change how to access api key
  src/components/ui/PhotoGallery/PhotoGallery.astro
Due: none

Path conditions:
  biome: any of: *.{js,cjs,mjs,ts,cts,mts,jsx,tsx,json,jsonc,css}
  textlint: any of: *.{md,mdx}
