Repository brklntmhwk/younagi.dev: changes, and which lefthook commands are due for each by the changed paths.
All: biome, textlint

biome:
  run: bunx @biomejs/biome check --write ./src/
  stage_fixed: true
  skip:
  - merge
  - rebase

textlint:
  run: bun textlint --fix './src/content/'
  stage_fixed: true
  skip:
  - merge
  - rebase

style(ui): 💄 add new fonts and tweak settings around them
  bun.lockb
  package.json
  src/components/common/BaseHead/BaseHead.astro
  src/components/functional/CustomStyles/CustomStyles.astro
  src/layouts/BaseLayout.astro
  tailwind.config.ts
Due: biome

style(ui): 💄 tweak font settings
  src/components/functional/CustomStyles/CustomStyles.astro
  src/layouts/BaseLayout.astro
  tailwind.config.ts
Due: biome

chore(config): 🤖 redo astro-compress
  astro.config.ts
Due: biome

chore(config): 🤖 tweak safelist of purgecss
  astro.config.ts
Due: biome

style(ui): 💄 remove custom styles component
  src/components/common/BaseHead/BaseHead.astro
  src/components/functional/CustomStyles/CustomStyles.astro
  src/components/functional/CustomStyles/index.ts
  src/styles/global.css
Due: biome

style(ui): 💄 modify how the base fonts are applied
  src/styles/global.css
  tailwind.config.ts
Due: biome

style(ui): 💄 modify how the base fonts are applied
  src/styles/global.css
Due: biome

style(ui): 💄 remove Noto Sans JP
  src/layouts/BaseLayout.astro
  src/styles/global.css
Due: biome

style(ui): 💄 remove code element component
  src/components/elements/Figure/Code.astro
  src/components/elements/Figure/Figure.astro
Due: none

chore(deps): 🤖 add expressive code
  astro.config.ts
  bun.lockb
  package.json
  tailwind.config.ts
Due: biome

style(ui): 💄 tweak layouts
  src/layouts/AboutLayout.astro
  src/layouts/BaseLayout.astro
Due: none

style(ui): 💄 add prose component
  src/components/models/Prose/Prose.astro
  src/components/models/Prose/index.ts
Due: biome

style(ui): 💄 tweak layouts
  src/layouts/AboutLayout.astro
  src/layouts/BaseLayout.astro
  src/layouts/BlogLayout.astro
  src/styles/global.css
Due: biome

style(ui): 💄 replace prose style
  src/layouts/AboutLayout.astro
  src/layouts/BlogLayout.astro
  src/layouts/NewsLayout.astro
  src/layouts/PageLayout.astro
  tailwind.config.ts
Due: biome

style(ui): 💄 tweak styles
  src/components/models/BlogList/BlogList.astro
  src/components/models/Prose/Prose.astro
  src/components/models/Taxonomy/taxonomy.ts
  src/components/ui/ContactForm/Checkbox/Checkbox.tsx
  src/components/ui/Likes/Likes.tsx
  src/layouts/AboutLayout.astro
  src/layouts/NewsLayout.astro
  src/layouts/PageLayout.astro
  src/pages/[locale]/blog/categories/index.astro
  src/pages/[locale]/blog/tags/index.astro
  src/pages/blog/categories/index.astro
  src/pages/blog/tags/index.astro
  src/styles/global.css
Due: biome

chore(config): 🤖 set variables to false in the purgecss config
  astro.config.ts
Due: biome

refactor(config): ✨ remove unused options in astro config
  astro.config.ts
Due: biome

chore(deps): 🤖 organize deps
  astro.config.ts
  bun.lockb
  package.json
Due: biome

chore(api): 🤖 tweak unified plugins
  src/lib/unified/plugins/rehype-pagefind-ignore.ts
  src/lib/unified/plugins/remark-astro-image-assets.ts
  src/lib/unified/plugins/remark-callout.ts
  src/lib/unified/plugins/remark-embed.ts
  src/lib/unified/plugins/remark-footnote.ts
  src/lib/unified/plugins/remark-line-breaks.ts
  src/lib/unified/plugins/remark-link-card.ts
Due: biome

refactor(some): ✨ tweak line breaks in content and some components
  src/components/models/Prose/Prose.astro
  src/content/blog/en/build-a-simple-diy-soundproof-vocal-booth-on-a-shelf.mdx
  src/content/blog/en/one-month-with-the-ohnishi-keyboard-layout-a-status-update.mdx
  src/content/blog/ja/build-a-simple-diy-soundproof-vocal-booth-on-a-shelf.mdx
  src/content/blog/ja/one-month-with-the-ohnishi-keyboard-layout-a-status-update.mdx
Due: textlint

style(ui): 💄 subset fonts
  public/fonts/PixelMplus10-Bold.woff2
  public/fonts/PixelMplus10-Regular.woff2
  src/assets/fonts/PixelMplus10-Bold.woff
  src/assets/fonts/PixelMplus10-Regular.woff
Due: none

fix(ui): 🐛 fix styling bugs in prose
  src/components/models/Prose/Prose.astro
Due: none

style(ui): 💄 tweak styles of expressive code
  src/components/models/Prose/Prose.astro
  src/content/blog/en/astro-and-front-matter-cms-combi.mdx
  src/content/blog/en/astro-website.mdx
  src/content/blog/en/obsidian-knowledge-base.mdx
  src/content/blog/en/remark-card.mdx
  src/content/blog/ja/astro-and-front-matter-cms-combi.mdx
  src/content/blog/ja/astro-website.mdx
  src/content/blog/ja/obsidian-knowledge-base.mdx
  src/content/blog/ja/remark-card.mdx
Due: textlint

style(ui): 💄 tweak gaps, margins, and border widths
  src/components/common/Search/Search.tsx
  src/components/models/BlogList/BlogList.astro
  src/layouts/BlogLayout.astro
  src/pages/[locale]/blog/tags/index.astro
  src/pages/blog/tags/index.astro
Due: biome

style(ui): 💄 tweak the style of the search result mark highlights
  astro.config.ts
  src/components/common/Search/Search.tsx
Due: biome

docs(content): 📖 add remark-ruby-directive to work
  src/content/page/en/work.mdx
  src/content/page/ja/work.mdx
Due: textlint

chore(config): 🤖 tweak options of purgecss
  astro.config.ts
  src/components/ui/BuyMeACoffee/BuyMeACoffee.astro
Due: biome

style(ui): 💄 add font class to pseudo hover content explicitly
  src/components/common/LocalePicker/LocalePicker.tsx
  src/components/common/Navigation/Navigation.astro
Due: biome

style(ui): 💄 modify font subsets and replace them
  public/fonts/PixelMplus10-Bold.woff2
  public/fonts/PixelMplus10-Regular.woff2
Due: none

docs(content): 📖 tweak articles
  src/content/blog/en/astro-website.mdx
  src/content/blog/en/build-a-simple-diy-soundproof-vocal-booth-on-a-shelf.mdx
  src/content/blog/en/one-month-with-the-ohnishi-keyboard-layout-a-status-update.mdx
  src/content/blog/en/remark-card.mdx
  src/content/blog/en/split-keyboard-the-endpoint-build.mdx
  src/content/blog/ja/build-a-simple-diy-soundproof-vocal-booth-on-a-shelf.mdx
  src/content/blog/ja/one-month-with-the-ohnishi-keyboard-layout-a-status-update.mdx
  src/content/blog/ja/split-keyboard-the-endpoint-build.mdx
  src/content/blog/ja/total-newbie-builds-mini-itx-linux-pc.mdx
  src/content/news/en/highlights-of-recent-activities-oct-to-dec-2024.mdx
  src/content/news/ja/highlights-of-recent-activities-oct-to-dec-2024.mdx
Due: textlint

refactor(ui): ✨ remove unnecessary styles
  src/components/common/LocalePicker/LocalePicker.tsx
  src/components/common/Navigation/Navigation.astro
Due: biome

chore(config): 🤖 add remark-line-breaks again
  astro.config.ts
  src/lib/unified/plugins/remark-line-breaks.ts
Due: biome

style(ui): 💄 tweak styles
  src/components/models/Prose/Prose.astro
Due: none

chore(api): 🤖 add rehype plugin for trimming empty paragraphs
  astro.config.ts
  src/lib/unified/plugins/rehype-trim-empty-paragraph.ts
Due: biome

docs(content): 📖 tweak some articles
  src/content/blog/en/astro-website.mdx
  src/content/blog/ja/astro-website.mdx
Due: textlint

chore(deps): 🤖 remove unused packages
  bun.lockb
  package.json
Due: biome

chore(api): 🤖 remove images.ts
  src/lib/images.ts
Due: biome

feat(ui): 🆕 add filters to search
  src/components/models/Taxonomy/Taxonomy.astro
  src/layouts/BlogLayout.astro
  src/layouts/NewsLayout.astro
Due: none

feat(ui): 🆕 add filter ui to search
  src/components/common/Search/Search.tsx
Due: biome

Path conditions:
  biome: any of: *.{js,cjs,mjs,ts,cts,mts,jsx,tsx,json,jsonc,css}
  textlint: any of: *.{md,mdx}
