Repository brklntmhwk/younagi.dev: changes, and which lefthook commands are due for each by the changed paths.
All: biome, textlint

biome:
  run: bunx @biomejs/biome check --write ./src/
  stage_fixed: true
  skip:
  - merge
  - rebase

textlint:
  run: bun textlint --fix './src/content/'
  stage_fixed: true
  skip:
  - merge
  - rebase

fix(utils): 🐛 fix the bug in the Remark card plugin
  src/plugins/remark-card.ts
Due: biome

docs(contents): 📖 tweak the tools and about page
  src/assets/images/amd-ryzen-5-7600x.webp
  src/assets/images/ryzen-5-7600x.avif
  src/content/blog/ja/pomodoro-shortcut.mdx
  src/content/page/en/about.mdx
  src/content/page/en/tools.mdx
  src/content/page/ja/about.mdx
  src/content/page/ja/tools.mdx
Due: textlint

docs(contents): 📖 tweak the tools page
  src/content/page/en/tools.mdx
  src/content/page/ja/tools.mdx
Due: textlint

docs(contents): 📖 add the one phrase blocks to all blog articles
  src/content/blog/en/astro-and-front-matter-cms-combi.mdx
  src/content/blog/en/pomodoro-shortcut.mdx
  src/content/blog/ja/astro-and-front-matter-cms-combi.mdx
  src/content/blog/ja/pomodoro-shortcut.mdx
Due: textlint

style(ui): 💄 tweak the bg color of the note type callout
  src/components/elements/Callout/callout.css.ts
  src/content/blog/en/obsidian-knowledge-base.mdx
  src/content/blog/ja/obsidian-knowledge-base.mdx
Due: biome, textlint

docs(contents): 📖 tweak the Obsidian starter article
  src/content/blog/en/obsidian-knowledge-base.mdx
  src/content/blog/ja/obsidian-knowledge-base.mdx
Due: textlint

docs(none): 📖 tweak the tweak PR template
  .github/PULL_REQUEST_TEMPLATE/03_tweak.md
Due: textlint

docs(contents): 📖 add a news article for tools I use
  src/content/news/en/created-my-personal-website.md
  src/content/news/en/tools-i-use-daily-shared.md
  src/content/news/ja/created-my-personal-website.md
  src/content/news/ja/tools-i-use-daily-shared.md
Due: textlint

docs(contents): 📖 create news articles
  src/assets/images/mac-studio-img.webp
  src/assets/images/pc-parts.webp
  src/content/i18n/ja/translation.yml
  src/content/news/en/created-my-personal-website.mdx
  src/content/news/en/recent-activities-from-jun-to-sep-2024.mdx
  src/content/news/en/tools-i-use-daily-shared.mdx
  src/content/news/ja/created-my-personal-website.mdx
  src/content/news/ja/recent-activities-from-jun-to-sep-2024.mdx
  src/content/news/ja/tools-i-use-daily-shared.mdx
  src/pages/[locale]/news/[slug].astro
  src/pages/news/[slug].astro
Due: textlint

fix(none): 🐛 fix the organizeImports error thrown by biome
  src/pages/[locale]/news/[slug].astro
  src/pages/news/[slug].astro
Due: none

refactor(overall): ✨ tweak
  .frontmatter/templates/news.mdx
  .github/PULL_REQUEST_TEMPLATE/03_tweak.md
  frontmatter.json
  src/components/BlogList/BlogList.astro
  src/components/BulletinBoard/BulletinBoard.astro
  src/content/blog/en/astro-website.mdx
  src/content/i18n/en/translation.yml
  src/content/i18n/ja/translation.yml
  src/content/news/en/created-my-personal-website.mdx
  src/content/news/ja/created-my-personal-website.mdx
  src/content/news/ja/recent-activities-from-jun-to-sep-2024.mdx
  src/pages/[locale]/news/[...page].astro
  src/pages/news/[...page].astro
  src/styles/global.css
Due: biome, textlint

docs(contents): 📖 create work page in all languages supported
  src/assets/images/younagidev.jpg
  src/content/page/en/work.mdx
  src/content/page/ja/work.mdx
Due: textlint

feat(ui): 🆕 add the nav link to work page
  src/components/Navigation/Navigation.astro
  src/content/config.ts
  src/content/i18n/en/translation.yml
  src/content/i18n/ja/translation.yml
Due: biome

docs(contents): 📖 tweak the content of new articles
  src/content/blog/ja/total-newbie-builds-mini-itx-linux-pc.mdx
  src/content/news/en/recent-activities-from-jun-to-sep-2024.mdx
  src/content/news/ja/recent-activities-from-jun-to-sep-2024.mdx
Due: textlint

style(ui): 💄 add paddings to the card grid component
  src/components/Card/CardGrid.astro
  src/content/blog/ja/total-newbie-builds-mini-itx-linux-pc.mdx
Due: textlint

docs(contents): 📖 tweak new articles
  src/content/blog/en/total-newbie-builds-mini-itx-linux-pc.mdx
  src/content/blog/ja/total-newbie-builds-mini-itx-linux-pc.mdx
Due: textlint

docs(contents): 📖 tweak blog articles
  src/content/blog/en/total-newbie-builds-mini-itx-linux-pc.mdx
  src/content/blog/ja/total-newbie-builds-mini-itx-linux-pc.mdx
Due: textlint

docs(contents): 📖 add more info to the tools pages
  src/assets/images/kindle-oasis-2019.avif
  src/assets/images/ni-komplete-15-collectors-edition.avif
  src/assets/images/ni-kontrol-s49-mk3.avif
  src/content/page/en/tools.mdx
  src/content/page/ja/tools.mdx
Due: textlint

refactor(utils): ✨ use mdast util functions in Remark plugins
  src/content/blog/en/total-newbie-builds-mini-itx-linux-pc.mdx
  src/plugins/mdast-is.ts
  src/plugins/remark-callout.ts
  src/plugins/remark-card.ts
Due: biome, textlint

docs(contents): 📖 tweak blog articles
  src/content/blog/en/pomodoro-shortcut.mdx
  src/content/blog/en/total-newbie-builds-mini-itx-linux-pc.mdx
  src/content/blog/ja/pomodoro-shortcut.mdx
Due: textlint

docs(contents): 📖 tweak articles
  src/content/blog/en/total-newbie-builds-mini-itx-linux-pc.mdx
  src/content/blog/ja/total-newbie-builds-mini-itx-linux-pc.mdx
Due: textlint

refactor(overall): ✨ tweak pages and articles
  src/content/blog/en/astro-and-front-matter-cms-combi.mdx
  src/content/blog/en/astro-website.mdx
  src/content/blog/en/obsidian-knowledge-base.mdx
  src/content/blog/en/pomodoro-shortcut.mdx
  src/content/blog/en/total-newbie-builds-mini-itx-linux-pc.mdx
  src/content/blog/ja/astro-and-front-matter-cms-combi.mdx
  src/content/blog/ja/astro-website.mdx
  src/content/blog/ja/obsidian-knowledge-base.mdx
  src/content/blog/ja/pomodoro-shortcut.mdx
  src/content/blog/ja/total-newbie-builds-mini-itx-linux-pc.mdx
  src/content/page/en/about.mdx
  src/content/page/ja/about.mdx
Due: textlint

docs(contents): 📖 fix a textlint error
  src/content/blog/ja/total-newbie-builds-mini-itx-linux-pc.mdx
Due: textlint

chore(ui): 🤖 add unpic
  astro.config.ts
  bun.lockb
  package.json
  src/components/PhotoGallery/PhotoGalleryItem.astro
  src/components/ProfileIcon/ProfileIcon.astro
Due: biome

feat(ui): 🆕 add hero image section to blog layout
  frontmatter.json
  src/assets/images/ik-multimedia-iloud-mtm-mkii.avif
  src/components/PhotoGallery/PhotoGalleryItem.astro
  src/components/ProfileIcon/ProfileIcon.astro
  src/content/blog/en/astro-website.mdx
  src/content/blog/en/obsidian-knowledge-base.mdx
  src/content/blog/en/total-newbie-builds-mini-itx-linux-pc.mdx
  src/content/blog/ja/astro-website.mdx
  src/content/blog/ja/obsidian-knowledge-base.mdx
  src/content/blog/ja/total-newbie-builds-mini-itx-linux-pc.mdx
  src/content/config.ts
  src/content/page/en/tools.mdx
  src/content/page/ja/tools.mdx
  src/layouts/BlogLayout.astro
Due: biome, textlint

fix(config): 🐛 remove unused prop to fix deploy error
  astro.config.ts
Due: biome

fix(config): 🐛 remove the built-in node:process to fix the vite error
  astro.config.ts
Due: biome

fix(config): 🐛 add @unpic/astro to ssr.external
  astro.config.ts
Due: biome

fix(config): 🐛 add node:buffer to ssr.external
  astro.config.ts
Due: biome

fix(deps): 🐛 re-add @unpic/astro to deps
  astro.config.ts
  package.json
Due: biome

fix(deps): 🐛 remove @unpic/astro
  astro.config.ts
  bun.lockb
  package.json
  src/layouts/BlogLayout.astro
Due: biome

chore(deps): 🤖 add @unpic/placeholder and unpic
  bun.lockb
  package.json
Due: biome

refactor(none): ✨ arrange under the components directory
  src/components/common/Footer/Footer.astro
  src/components/common/Navigation/Navigation.astro
  src/components/elements/Callout/CalloutTitle.astro
  src/components/elements/Callout/types.ts
  src/components/elements/Link/LinkCard.astro
  src/components/models/BlogList/BlogList.astro
  src/components/models/BuyMeACoffee/BuyMeACoffee.astro
  src/components/models/Pager/Pager.astro
  src/components/models/PhotoGallery/PhotoGalleryItem.astro
  src/components/models/Toc/TocDrawer.astro
  src/components/ui/Balloon/Balloon.astro
  src/components/ui/ProfileIcon/ProfileIcon.astro
  src/components/ui/StarRating/StarRating.astro
  src/layouts/AboutLayout.astro
  src/layouts/BaseLayout.astro
  src/layouts/BlogLayout.astro
  src/layouts/NewsLayout.astro
  src/layouts/PageLayout.astro
  src/lib/astro-integrations/icon-name-type.ts
  src/lib/mdx-components.ts
  src/pages/[locale]/blog/[...page].astro
  src/pages/[locale]/blog/archive/[date]/[...page].astro
  src/pages/[locale]/blog/categories/[category]/[...page].astro
  src/pages/[locale]/blog/tags/[tag]/[...page].astro
  src/pages/[locale]/index.astro
  src/pages/[locale]/news/[...page].astro
  src/pages/blog/[...page].astro
  src/pages/blog/archive/[date]/[...page].astro
  src/pages/blog/categories/[category]/[...page].astro
  src/pages/blog/tags/[tag]/[...page].astro
  src/pages/index.astro
  src/pages/news/[...page].astro
Due: biome

chore(config): 🤖 tweak biome settings
  biome.json
  src/components/common/Navigation/Navigation.astro
  src/components/models/BlogList/BlogList.astro
  src/components/models/Pager/Pager.astro
  src/components/models/PhotoGallery/PhotoGalleryItem.astro
  src/layouts/AboutLayout.astro
  src/layouts/BaseLayout.astro
  src/layouts/BlogLayout.astro
  src/layouts/NewsLayout.astro
  src/layouts/PageLayout.astro
  src/pages/[locale]/blog/archive/[date]/[...page].astro
  src/pages/[locale]/index.astro
  src/pages/[locale]/news/[...page].astro
  src/pages/blog/archive/[date]/[...page].astro
  src/pages/index.astro
  src/pages/news/[...page].astro
Due: biome

fix(ui): 🐛 modify wrong paths to some components
  src/components/common/LocalePicker/LocalePicker.tsx
  src/components/common/Navigation/Navigation.astro
  src/components/models/ContactForm/ContactForm.tsx
  src/components/models/Likes/Likes.tsx
  src/components/ui/Modal/modal.css.ts
Due: biome

refactor(none): ✨ move unified plugins to under lib/unified
  astro.config.ts
  src/components/ui/BulletinBoard/BulletinBoard.astro
  src/components/ui/BulletinBoard/index.ts
  src/components/ui/BuyMeACoffee/BuyMeACoffee.astro
  src/components/ui/BuyMeACoffee/buy-me-a-coffee.css.ts
  src/components/ui/BuyMeACoffee/index.ts
  src/components/ui/ContactForm/Checkbox/CheckIcon.tsx
  src/components/ui/ContactForm/Checkbox/Checkbox.tsx
  src/components/ui/ContactForm/Checkbox/checkbox.css.ts
  src/components/ui/ContactForm/ContactForm.tsx
  src/components/ui/ContactForm/SubmitButton/SubmitButton.tsx
  src/components/ui/ContactForm/SubmitButton/submit-button.css.ts
  src/components/ui/ContactForm/TextField/TextField.tsx
  src/components/ui/ContactForm/TextField/text-field.css.ts
  src/components/ui/ContactForm/Turnstile/Turnstile.tsx
  src/components/ui/ContactForm/Turnstile/turnstile.css.ts
  src/components/ui/ContactForm/contact-form.css.ts
  src/components/ui/ContactForm/error-is.ts
  src/components/ui/Likes/LikeIcon.tsx
  src/components/ui/Likes/Likes.tsx
  src/components/ui/Likes/likes.css.ts
  src/components/ui/PhotoGallery/PhotoGallery.astro
  src/components/ui/PhotoGallery/PhotoGalleryItem.astro
  src/components/ui/PhotoGallery/index.ts
  src/layouts/BlogLayout.astro
  src/layouts/NewsLayout.astro
  src/lib/unified/mdast-is.ts
  src/lib/unified/plugins/rehype-image-figure.ts
  src/lib/unified/plugins/rehype-pagefind-ignore.ts
  src/lib/unified/plugins/remark-astro-image-assets.ts
  src/lib/unified/plugins/remark-callout.ts
  src/lib/unified/plugins/remark-card.ts
  src/lib/unified/plugins/remark-embed.ts
  src/lib/unified/plugins/remark-footnote.ts
  src/lib/unified/plugins/remark-line-breaks.ts
  src/lib/unified/plugins/remark-link-card.ts
  src/lib/unified/transformers.ts
  src/pages/[locale]/index.astro
  src/pages/index.astro
Due: biome

fix(none): 🐛 fix import paths
  src/components/ui/Modal/modal.css.ts
  src/layouts/AboutLayout.astro
  src/layouts/BlogLayout.astro
  src/layouts/NewsLayout.astro
  src/pages/[locale]/index.astro
  src/pages/index.astro
Due: biome

Path conditions:
  biome: any of: *.{js,cjs,mjs,ts,cts,mts,jsx,tsx,json,jsonc,css}
  textlint: any of: *.{md,mdx}
